<template>
  <v-card class="d-inline-flex my-0 mx-0 floatingwindow" :elevation="1">
    <v-card-actions>
      <v-container>
        <v-row class="py-0">
          <v-col
            cols="auto"
            class="py-0 px-2 bg-button d-flex flex-column justify-center"
            v-for="(g, index) in availableGlyphs.slice(0, 2)"
            :key="index"
          >
            <v-btn
              elevation="1"
              style="height: 60px"
              rounded="lg"
              variant="tonal"
              color="red"
              @click="triggerGlyph(g)"
              class="force_lowercase"
            >
              {{ index + 1 }}
              <microgesture-component
                v-model="g.microgesture"
                :inConstruction="false"
                :conciseVersion="conciseVersion"
                :indexAnalyzer="-1"
              />
            </v-btn>
            <editor-component
              :microgestureProp="g.microgesture"
              actualSelectionProp="0"
              :analyzerId="-1"
              :conciseVersion="false"
              @updateMicrogesture="updateGlyph(index, $event)"
            />
          </v-col>
          <v-col cols="auto" class="d-flex">
            <v-select
              :items="fingerList"
              v-model="actuatorToggle1"
              density="compact"
              label="actuator"
            ></v-select>
            &nbsp;
            <v-select
              :items="fingerList"
              v-model="receiverToggle1"
              density="compact"
              label="receiver"
            ></v-select>
            <!-- <v-range-slider
              v-model="deplacementSlider"
              step="10"
              thumb-label="always"
              class="slider"
            ></v-range-slider> -->
          </v-col>
          <v-col
            cols="auto"
            class="py-0 px-2 bg-button d-flex flex-column justify-center"
            v-for="(g, index) in availableGlyphs.slice(2, 4)"
            :key="index"
          >
            <v-btn
              elevation="1"
              style="height: 60px"
              rounded="lg"
              variant="tonal"
              color="red"
              @click="triggerGlyph(g)"
              class="force_lowercase"
            >
              {{ index + 1 }}
              <microgesture-component
                v-model="g.microgesture"
                :inConstruction="false"
                :conciseVersion="conciseVersion"
                :indexAnalyzer="-1"
              />
            </v-btn>
            <editor-component
              :microgestureProp="g.microgesture"
              actualSelectionProp="0"
              :analyzerId="-1"
              :conciseVersion="false"
              @updateMicrogesture="updateGlyph(index, $event)"
            />
          </v-col>
          <v-col cols="auto" class="d-flex">
            <v-select
              :items="fingerList"
              v-model="actuatorToggle2"
              density="compact"
              label="actuator"
            ></v-select>
            &nbsp;
            <v-select
              :items="fingerList"
              v-model="receiverToggle2"
              density="compact"
              label="receiver"
            ></v-select>
            <!-- <v-range-slider
              v-model="deplacementSlider"
              step="10"
              thumb-label="always"
              class="slider"
            ></v-range-slider> -->
          </v-col>
        </v-row>
      </v-container>
    </v-card-actions>
  </v-card>
</template>

<script>
import MicrogestureComponent from "@/components/Microgeste/MicrogestureComponent.vue";
import EditorComponent from "@/components/Microgeste/Editor/EditorComponent.vue";
import { socket } from "@/socket";

export default {
  name: "AnalyzerManualTrigger",
  components: {
    MicrogestureComponent,
    EditorComponent,
  },

  //add to data a variable called console_msg ( string variable )
  data() {
    return {
      receiverAction: "Contact",
      actuatorToggle1: "thumb",
      receiverToggle1: "index",
      actuatorToggle2: "thumb",
      receiverToggle2: "middle",
      fingerList: ["index", "middle", "ring", "pinky", "thumb", "any", "none"],
      deplacementSlider: [0, 20],
    };
  },

  props: {},

  //add a method called receiveConsoleMessage
  methods: {
    triggerGlyph(glyph) {
      socket.emit("devices/manualtrigger", glyph.microgesture);

      if (
        glyph.microgesture.context[0] == "Contact" &&
        glyph.microgesture.context[1] == "Contact"
      ) {
        this.updateSlider(glyph.microgesture.action);
      }
    },
    updateGlyph(index, microgesture) {
      console.log(
        "AnalyzerManualTrigger: updateMicrogesture n=" + String(index)
      );
      this.availableGlyphs[index].microgesture = microgesture;
    },
    updateSlider(action) {
      let length = Math.abs(
        this.deplacementSlider[1] - this.deplacementSlider[0]
      );
      if (action == "Flexion") {
        this.deplacementSlider[0] = Math.max(
          0,
          this.deplacementSlider[0] - length
        );
        this.deplacementSlider[1] = Math.max(
          length,
          this.deplacementSlider[1] - length
        );
      }
      if (action == "Extension") {
        //the contrary of flexion
        this.deplacementSlider[0] = Math.min(
          100 - length,
          this.deplacementSlider[0] + length
        );
        this.deplacementSlider[1] = Math.min(
          100,
          this.deplacementSlider[1] + length
        );
      }
    },
  },

  computed: {
    computedGlyphs(index) {
      return this.availableGlyphs[index];
    },
    availableGlyphs() {
      return [
        {
          name: "tap",
          microgesture: {
            type: "glyph",
            action: "Flexion",
            context: ["Air", "Contact"],
            actuator: [[this.actuatorToggle1]],
            contact: {
              action: this.receiverAction,
              actuator: [[this.receiverToggle1]],
            },
          },
        },
        {
          name: "release",
          microgesture: {
            type: "glyph",
            action: "Extension",
            context: ["Contact", "Air"],
            actuator: [[this.actuatorToggle1]],
            contact: {
              action: this.receiverAction,
              actuator: [[this.receiverToggle1]],
            },
          },
        },
        {
          name: "swipe",
          microgesture: {
            type: "glyph",
            action: "Flexion",
            context: ["Air", "Contact"],
            actuator: [[this.actuatorToggle2]],
            contact: {
              action: this.receiverAction,
              actuator: [[this.receiverToggle2]],
              phalanx: [[{ segment: "middle", side: "any" }]],
            },
          },
        },
        {
          name: "circle",
          microgesture: {
            type: "glyph",
            action: "Extension",
            context: ["Contact", "Air"],
            actuator: [[this.actuatorToggle2]],
            contact: {
              action: this.receiverAction,
              actuator: [[this.receiverToggle2]],
            },
          },
        },
      ];
    },
  },

  // mounted
  mounted() {

  },

  beforeUnmount() {
    document.removeEventListener("keydown", this._keyListener);
  },

  watch: {
    receiverToggle: function (newVal, oldVal) {
      if (newVal == "none") {
        this.receiverAction = null;
      } else {
        this.receiverAction = "Contact";
      }
    },
  },
};
</script>

<style scoped>
.boutontext {
  font-size: 0.5em;
}

.floatingwindow {
  position: fixed;
  width: 98%;
  height: 8em;
  bottom: 0;
  z-index: 100;
  background-color: rgb(240, 240, 240, 0.99);
  text-transform: lowercase;
}

.force_lowercase {
  text-transform: lowercase !important;
}

.slider {
  width: 100px;
}
</style>