<template>
  <v-hover v-slot="{ isHovering, props }">
    <v-card
      width="100%"
      class=".d-inline-flex my-0"
      v-bind="props"
      :variant="editMode ? 'outlined' : 'flat'"
      :elevation="isHovering ? 10 : 6"
      rounded="lg"
    >
      <v-card-item class="my-2 py-0">
        <v-card-title
          class="d-flex flex-no-wrap justify-space-between my-0 py-0 title-analyzer"
          @click="compactView = !compactView"
        >
          <v-text-field
            :label="name.toUpperCase()"
            variant="outlined"
            v-if="editMode"
            v-model="name"
            density="compact"
          ></v-text-field>
          <span v-if="!editMode">{{ name.toUpperCase() }} </span>
          <v-chip
            v-if="flagMicrogestureUpdated"
            prepend-icon="mdi-update"
            variant="elevated"
            color="green"
          >
            Updated
          </v-chip>
          <v-chip
            prepend-icon="mdi-send"
            :variant="flagMicrogestureSent ? 'elevated' : 'plain'"
            color="green"
          >
            Sent
          </v-chip>
          <div class="d-flex flex-inline">
            <template v-for="(state, index) in listOfState" :key="index">
              <v-chip
                size="x-small"
                :variant="index == this.active ? 'elevated' : 'text'"
                :color="listOfStateColor[index]"
              >
                {{ state }}
              </v-chip>
            </template>
          </div>

          <div style="width: 100px; height: 30px">
            <v-progress-linear
              v-if="microgesture.duration != undefined"
              :model-value="actualDuration"
              color="light-blue"
              height="30"
              striped
            ></v-progress-linear>
          </div>

          <v-spacer class="my-0 py-0"> </v-spacer>

          <v-btn icon variant="outlined" @click.stop="deleteMe">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-title
          class="d-flex flex-no-wrap justify-space-between mx-10 my-0 py-2 title-analyzer"
          v-if="!compactView"
        >
          <v-btn
            class="mx-4"
            icon="mdi-play-circle"
            @click.stop="restartMe"
            size="small"
            :disabled="editMode"
          >
          </v-btn>
          <v-btn
            class="mx-4"
            icon="mdi-stop-circle"
            @click.stop="stopMe"
            size="small"
            :disabled="editMode"
          >
          </v-btn>

          <v-btn
            class="mx-4"
            :icon="autoReload ? 'mdi-autorenew ' : 'mdi-autorenew-off'"
            @click="autoReload = !autoReload"
            size="small"
            :disabled="editMode"
          ></v-btn>
          <v-btn
            class="mx-4"
            icon="mdi-gesture-tap"
            @click="manualTrigger"
            size="small"
            :disabled="editMode"
          >
          </v-btn>

          <v-spacer class="my-0 py-0"> </v-spacer>
        </v-card-title>
      </v-card-item>

      <v-card-text class="d-flex flex-no-wrap justify-space-between mt-0 pt-0">
        <v-container fluid class="ma-1 pa-1">
          <v-row>
            <v-col class="pa-1 my-0 ">
              <MicrogestureInput
                :microgestureProp="microgesture"
                @backupMicrogesture="backupMicrogesture"
                @updateMicrogesture="updateMicrogesture"
                @cancelEditing="editMode = false"
                @addVariable="addVariableOnMicrogesture"
                @editMode="updateEditMode"
                :indexAnalyzer="Number(Id)"
                :isEditingButton="!compactView"
                :editModeProp="editMode"
                :conciseVersion="store.conciseMode"
                :elevationOnHover="!compactView"
              >
              </MicrogestureInput>

              <!-- subsituion de micrgeste input pour tester le css -->
            </v-col>
          </v-row>
          <v-row v-if="displayConsole && !compactView">
            <v-col cols="5">
              <RawDataEvent componentContext="analyzers" :id="Id" />
            </v-col>
            <v-col cols="5">
              <ConsoleDevice
                componentContext="analyzers"
                :lastMsg="console_msg"
                :id="Id"
              />
            </v-col>
            <v-col cols="2">
              <v-btn
                variant="outlined"
                @click.stop="displayConsole = !displayConsole"
                prepend-icon="mdi-arrow-up"
              >
                CLOSE
              </v-btn>
            </v-col>
          </v-row>
          <v-row v-if="!compactView && !displayConsole">
            <v-col cols="2"> </v-col>
            <v-col cols="8"> </v-col>
            <v-col cols="2">
              <v-btn
                variant="outlined"
                @click.stop="displayConsole = !displayConsole"
                prepend-icon="mdi-arrow-down"
              >
                More
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </v-hover>
</template>

<script>
import { socket } from "@/socket";
import ConsoleDevice from "./Console.vue";
import RawDataEvent from "./RawDataEvent.vue";
import MicrogestureInput from "./Microgeste/MicrogestureInput.vue";

import { store } from "@/store";

export default {
  name: "AnalyzerUI",
  components: {
    ConsoleDevice,
    RawDataEvent,
    MicrogestureInput,
  },

  //add to data a variable called console_msg ( string variable )
  data() {
    return {
      console_msg: "Console message",
      microgesture: undefined,
      compactView: true,
      displayConsole: false,
      flagMicrogestureUpdated: false,
      flagMicrogestureSent: false,
      active: 0,
      autoReload: false,
      editMode: false,
      name: "",
      actualDuration: 0,
      interval: undefined,
      store: store,
      listOfState: ["Inactive", "Listening", "Done", "Accepted", "Rejected"],
      listOfStateColor: [
        "lightgrey",
        "orange",
        "orange-darken-3",
        "green",
        "red",
      ],
    };
  },

  props: {
    Id: String,
    Name: String,
    Description: String,
    Microgesture: Object,
    AutoReload: Boolean,
    EditMode: Boolean,
  },

  //add a method called receiveConsoleMessage
  methods: {
    deleteMe() {
      //Delete Me has 2 functions. 1 is to delete the analyzer, 2 is to close the edit mode if open.
      if (this.editMode) {
        this.editMode = false;
        return;
      } else {
        if (confirm("Are you sure to delete this analyzer?")) {
          socket.emit("analyzers/delete", { index: this.Id });
        } else {
          return;
        }
      }
    },
    restartMe() {
      socket.emit("analyzers/restart", { index: this.Id });
    },
    stopMe() {
      socket.emit("analyzers/stop", { index: this.Id });
    },
    updateEditMode(newValue) {
      console.log("Analyzer.vue : updateEditMode");
      this.editMode = newValue;
    },
    backupMicrogesture() {
      console.log("Analyzer.vue : backupMicrogesture");
      this.microgesture = JSON.parse(JSON.stringify(this.Microgesture)); // Force JSON stringify to create a new copy, and actived microgesture update on microgestureInput.
      this.dumbMessage = "fifi" + Math.random();
    },
    updateMicrogesture(newValue) {
      console.log("Analyzer.vue : microgesture changed");
      console.log(newValue.duration);

      this.editMode = false;
      //create a callback that set flagMicrogestureUpdated to false after 2 seconds

      socket.emit("analyzers/update", {
        index: this.Id,
        microgesture: newValue,
        name: this.name,
      });
    },
    addVariableOnMicrogesture() {
      console.log("Analyzer.vue : addVariableOnMicrogesture");
      socket.emit("analyzers/addvariable", {
        index: this.Id,
      });
    },
    changeAutoReload(newValue) {
      console.log("Analyzer.vue : changeAutoReload : " + this.autoReload);
      socket.emit("analyzers/autoreload", {
        index: this.Id,
        state: newValue,
      });
    },
    manualTrigger() {
      console.log("Analyzer.vue : manualTrigger");
      console.log(this.name);
      socket.emit("analyzers/manualtrigger", {
        index: this.Id,
        name: this.name,
      });
    },
    onFilesDropped(files) {
      //This can be active only if microgesture is empty.
      console.log("Analyzer.vue : onFilesDropped");
      console.log("hello world : " + files);
      // if file is only 1 file
      if (files.length === 1) {
        //check if the extension of the file is json
        if (files[0].name.split(".").pop() === "json") {
          //decode the file as json
          let reader = new FileReader();
          reader.onload = function (e) {
            let json = JSON.parse(e.target.result);
            console.log(json);
          };
          reader.readAsText(files[0]);
          //console log the json output
          reader.onloadend = function () {
            console.log(reader.result);
          };
        }
      }
    },
  },

  /*
            INACTIVE: 0,
            LISTENING: 1,
            DONE: 2,
            ACCEPTED: 3,
            REJECTED: 4
  */

  computed: {
    displayActiveState() {
      let msg = "";
      switch (this.active) {
        case 0:
          msg = "Inactive";
          break;
        case 1:
          msg = "Listening";
          break;
        case 2:
          msg = "Done";
          break;
        case 3:
          msg = "Accepted";
          break;
        case 4:
          msg = "Rejected";
          break;
        default:
          msg = "Unknown state";
      }
      return msg;
    },
    iconActiveState() {
      let icon = "";
      switch (this.active) {
        case 0:
          icon = "mdi-stop";
          break;
        case 1:
          icon = "mdi-magnify";
          break;
        case 2:
          icon = "mdi-sync";
          break;
        case 3:
          icon = "mdi-check";
          break;
        case 4:
          icon = "mdi-bookmark-remove";
          break;
        default:
          icon = "mdi-help";
      }
      return icon;
    },
  },

  beforeMount() {
    console.log("beforeMount");
    this.microgesture = this.Microgesture;
    this.autoReload = this.AutoReload;
    this.name = this.Name;
    this.editMode = this.EditMode;
  },

  // mounted
  mounted() {
    console.log("mounted");
    //copy props of Microgesture into microgesture data variable

    

    socket.on("analyzer/" + this.Id, (msg) => {
      console.log("ANALYZER: received a console msg");
      console.log(msg);
    });

    socket.on("analyzer/" + this.Id + "/active", (msg) => {
      console.log("ANALYZER: update active state");
      // 0 = stop listening  1 = listening 2 = match found ( wait for restart)
      this.active = msg;
      this.actualDuration = 0;
      if (this.interval != undefined) {
        clearInterval(this.interval);
      }
    });

    socket.on("analyzer/" + this.Id + "/startduration", (msg) => {
      console.log("ANALYZER: start duration");
      //duration when the first glyph is received
      // actual duration is a percentage betzeen 0 and 100
      // when this start, increase every second the actual duration from 0 to 100, when microgesture.duration is hit.
      this.actualDuration = 0;
      let step = 10;
      this.interval = setInterval(() => {
        this.actualDuration += 100 / step;
        if (this.actualDuration >= 100) {
          clearInterval(this.interval);
        }
      }, this.microgesture.duration / step);
    });

    let flagDuration = 1500 + Number(this.Id) * 200;

    //socket on analyzer/Id/updateMicrogesture
    socket.on("analyzer/" + this.Id + "/updateGesture", (msg) => {
      console.log("ANALYZER: update microgesture");
      console.log(msg);
      this.microgesture = msg.microgesture;
      this.name = msg.name;
      this.editMode = false;
      this.flagMicrogestureUpdated = true;
      this.compactView = true;
      setTimeout(() => {
        this.flagMicrogestureUpdated = false;
      }, flagDuration);
    });

    socket.on("analyzer/" + this.Id + "/sent", (msg) => {
      console.log("ANALYZER:  microgesture is sent");
      console.log(msg);
      this.flagMicrogestureSent = true;
      setTimeout(() => {
        this.flagMicrogestureSent = false;
      }, flagDuration);
    });

    this.flagMicrogestureUpdated = true;
    setTimeout(() => {
      this.flagMicrogestureUpdated = false;
    }, flagDuration);

    this.restartMe();
  },
};

//call receiveConsoleMessage with random string every 2 seconds
</script>

<style scoped>
.autoreload {
  padding: 0px;
  margin: 0px;
  transform: translateY(-12px);
}

.title-analyzer {
  cursor: pointer;
  min-height: 40px;
}
</style>
