<template>
  <div class="mainAnalyzersView">
    <div class="header my-4">
      <h1>Analyzers</h1>
      <v-snackbar
        v-model="incomingSnackbar"
        multi-line
        timeout="1000"
        class="top-snackbar"
        color="cyan-lighten-4"
        absolute
      >
        <div class="d-flex align-vertical">
          <v-icon left>mdi-arrow-down-bold-circle</v-icon>

          <microgesture-component
            v-if="incomingEvent"
            v-model="incomingEvent"
            :inConstruction="false"
            :conciseVersion="true"
            :indexAnalyzer="-1"
          />
        </div>
      </v-snackbar>
    </div>
    <div>
      <v-dialog v-model="dialogadd" persistent>
        <template v-slot:activator="{ props }">
          <v-btn color="primary" v-bind="props" icon="mdi-plus-circle-outline">
          </v-btn>
        </template>
        <v-card class="mx-auto" style="width: 100vh" rounded="xl">
          <v-card-title color="primary" class="title-add ma-4">
            <v-icon icon="mdi-plus-circle-outline" /> Add new Analyzer
            <v-icon icon="mdi-plus-circle-outline" />
          </v-card-title>
          <v-card-text>
            <h2>Choose your method</h2>

            <v-container class="mb-6">
              <v-row no-gutters>
                <v-col>
                  <v-radio-group v-model="addAnalyzerMethod">
                    <v-radio label="From gesture library" :value="1"></v-radio>
                    <v-sheet
                      class="pa-2 ma-2 border rounded-lg"
                      elevation="8"
                      v-if="addAnalyzerMethod == 1"
                    >
                      <h3>1. From gesture library</h3>
                      <v-select
                        v-model="addAnalyzerLibrarySelected"
                        :items="gestureLibrary"
                        :item-props="gestureLibraryDisplay"
                        label="Type"
                        dense
                        class="library"
                        @update:model-value="updatePreview"
                      >
                      </v-select>

                      <v-btn @click="addAnalyzerFromLibrary">Add</v-btn>
                      <v-tooltip
                        location="end"
                        activator="parent"
                        v-if="microgesturePreview != undefined"
                        model-value
                      >
                        <microgesture-component
                          v-if="microgesturePreview != undefined"
                          v-model="microgesturePreview"
                          :indexAnalyzer="-1"
                          :inConstruction="false"
                          :conciseVersion="store.conciseMode"
                        ></microgesture-component>
                      </v-tooltip>
                    </v-sheet>
                    <v-radio label="From JSON file" :value="2"></v-radio>
                    <v-sheet
                      class="pa-2 ma-2 border rounded-lg"
                      elevation="8"
                      v-if="addAnalyzerMethod == 2"
                    >
                      <h3>2. JSON file from microDex</h3>
                      JSON can be found on
                      <a href="https://microglyph.imag.fr/" target="_blank"
                        >microglyph.imag.fr</a
                      >
                      <DropZone @files-dropped="onFilesDropped"></DropZone>

                      <h5>Or</h5>
                      <v-btn @click="pasteFromClipboard" density="compact">
                        paste from clipboard</v-btn
                      >
                    </v-sheet>
                    <v-radio label="Write your own formula" :value="3"></v-radio>
                    <v-sheet
                      class="pa-2 ma-2 border rounded-lg"
                      elevation="8"
                      v-if="addAnalyzerMethod == 3"
                    >
                      <h3>3. Write your own formula</h3>
                      Create your own microgesture from empty formula
                      <v-text-field
                        label="Name"
                        variant="underlined"
                        v-model="addAnalyzerName"
                      ></v-text-field>
                      <div class="flex-nowrap">
                        <v-btn
                          @click="addAnalyzerFromEmpty(false)"
                          density="compact"
                        >
                          1. without variable</v-btn
                        >
                        <v-btn
                          @click="addAnalyzerFromEmpty(true)"
                          density="compact"
                          >2. with variable</v-btn
                        >
                      </div>
                    </v-sheet>
                  </v-radio-group>
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col> </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col> </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue-darken-1" variant="text" @click="closeDialog">
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <div class="ma-2 py-5 px-4">
      <template v-for="a in analyzersList.slice().reverse()" :key="a.index">
        <Analyzer
          :Name="a.name"
          :Id="String(a.index)"
          :Microgesture="a.microgesture"
          :AutoReload="a.autoreload"
          :EditMode="a.directedit"
        />
        <span class="py-0"> &nbsp;</span>
      </template>
    </div>
    <div class="footer"></div>
    <AnalyzerManualTrigger v-if="store.manualTrigger" />
  </div>
</template>

<script>
import Analyzer from "./Analyzer.vue";
import DropZone from "./DropZone.vue";
import MicrogestureInput from "./Microgeste/MicrogestureComponent.vue";
import AnalyzerManualTrigger from "./AnalyzerManualTrigger.vue";
import { socket } from "@/socket";
import { store } from "@/store";
import MicrogestureComponent from "./Microgeste/MicrogestureComponent.vue";

export default {
  name: "AnalyzerView",
  components: {
    Analyzer,
    DropZone,
    MicrogestureComponent,
    AnalyzerManualTrigger,
  },

  //add to data a variable called console_msg ( string variable )
  data() {
    return {
      analyzersList: [],
      addAnalyzerName: "",
      gestureLibrary: [],
      dialogadd: false,
      addAnalyzerLibrarySelected: undefined,
      microgesturePreview: undefined,
      store: store,
      incomingSnackbar: false,
      incomingEvent: undefined,
      addAnalyzerMethod: 0,
    };
  },

  props: {},

  //add a method called receiveConsoleMessage
  methods: {
    addAnalyzer() {
      if (this.addAnalyzerName != "") {
        console.log(
          "add device type : " +
            this.addAnalyzerName +
            " name : " +
            this.addAnalyzerName
        );
        socket.emit("analyzers/add", {
          type: "microgesture analyzer",
          name: this.addAnalyzerName,
        });
        this.closeDialog();
      }
    },
    scrollToLastElement() {
      //scroll to the bottom of the page
      var limit = Math.max(
        document.body.scrollHeight,
        document.body.offsetHeight,
        document.documentElement.clientHeight,
        document.documentElement.scrollHeight,
        document.documentElement.offsetHeight
      );
      window.scrollTo(0, limit);
    },
    updatePreview() {
      console.log("update preview");
      socket.emit("analyzers/askPreview", {
        filename: this.addAnalyzerLibrarySelected.filename,
      });
    },
    pasteFromClipboard() {
      //first check that navigator.clipboard.readText is available
      if (!navigator.clipboard) {
        console.log("Clipboard API not available");
        return;
      } else {
        navigator.clipboard.readText().then((text) => {
          console.log("Pasted content: ", text);
          let m;
          //check that text is a json
          try {
            m = JSON.parse(text);
          } catch (e) {
            console.log("Clipboard content is not a json");
            window.alert("Clipboard content is not a json");
            return;
          }
          // m looks like { microgesture:{ "type" : ... , etc } }
          // remve the microgesture to avoid microgesture : microgesture : etc ...
          m = m.microgesture;
          socket.emit("analyzers/add", {
            type: "microgesture analyzer",
            name: this.addAnalyzerName,
            microgesture: m,
          });
          this.closeDialog();
        });
      }
    },
    onFilesDropped(files) {
      console.log("Drag and Drop on analyzer : " + files);
      // if file is only 1 file
      if (files.length === 1) {
        //check if the extension of the file is json
        if (files[0].name.split(".").pop() === "json") {
          //decode the file as json
          let reader = new FileReader();
          reader.onload = function (e) {
            let json = JSON.parse(e.target.result);
            console.log("loaded" + json);
          };
          reader.readAsText(files[0]);
          //console log the json output
          reader.onloadend = () => {
            let m = JSON.parse(reader.result);
            socket.emit("analyzers/add", {
              type: "microgesture analyzer",
              name: m.name ? m.name : "unknown",
              microgesture: m.microgesture,
            });
            this.closeDialog();
          };
        }
      }
    },
    addAnalyzerFromEmpty(isVariable) {
      //add new analyzer from empty microgesture
      let m = {};

      let gesture = {
        type: "then",
        operands: [
          {
            type: "glyph",
            action: "Flexion",
            context: ["Air", "Contact"],
            actuator: [["thumb"]],
          },
          {
            type: "glyph",
            action: "Extension",
            context: ["Contact", "Air"],
            actuator: [["thumb"]],
          },
        ],
      };

      if (isVariable) {
        m.type = "seq";
        m.quantificators = { x: [[["index"]]] };
        m.seq = gesture;
      } else {
        m = gesture;
      }

      socket.emit("analyzers/add", {
        type: "microgesture analyzer",
        name: this.addAnalyzerName == "" ? "unknown" : this.addAnalyzerName,
        microgesture: m,
      });
      this.closeDialog();
    },
    addAnalyzerFromLibrary() {
      //add new analyzer from library
      if (this.addAnalyzerLibrarySelected == undefined) {
        window.alert("please select a microgesture");
        return;
      } else {
        let m = this.addAnalyzerLibrarySelected.microgesture;
        socket.emit("analyzers/addFromLibrary", {
          type: "microgesture analyzer",
          filename: this.addAnalyzerLibrarySelected.filename,
        });
        this.closeDialog();
      }
    },

    gestureLibraryDisplay(item) {
      return {
        title: item.name,
        subtitle: item.filename,
      };
    },
    closeDialog() {
      this.dialogadd = false;
      this.addAnalyzerMethod = 0;
    },
  },

  // mounted
  mounted() {
    console.log("ANALYZER VIEW is mounted");
    //console.log("ANALYZER VIEW is mounted");
    //socket emit message in order to get the view
    socket.emit("analyzers/refresh", {});

    //create a fake analyzer to test the view
    //this.analyzersList.push({ index: 0, name: "analyzer 1" });

    socket.on("analyzers/add", (d) => {
      console.log("ANALYZER: add analyzer");
      console.log(d);
      this.analyzersList.push(d);
    });

    socket.on("analyzers/gestureLibrary", (d) => {
      console.log("ANALYZER: library updated");
      console.log(d);
      this.gestureLibrary = d;
    });

    socket.on("analyzers/reset", () => {
      this.analyzersList = [];
      console.log("ANALYZER: reset");
    });

    socket.on("analyzers/preview", (m) => {
      this.microgesturePreview = m;
      console.log("ANALYZER: preview");
    });

    socket.on("analyzers/incoming", (m) => {
      console.log("ANALYZER: incoming");
      console.log(m);
      if (store.displayIncomingMessages) {
        this.incomingSnackbar = true;
        this.incomingEvent = m;
        // add type of glyph to came a real glyph to display
        this.incomingEvent.type = "glyph";
      }
    });
  },
};

//call receiveConsoleMessage with random string every 2 seconds
</script>

<style scoped>
.library {
  font-size: small;
}

.top-snackbar {
  position: fixed;
  margin-top: 0em;
  top: 7em !important;
  bottom: auto !important;
  right: 20em;
  margin-left: auto;
}

.footer {
  height: 10vh;
}

.title-add {
  background-color: #1976d2;
  color: white;
  border: 1px solid #000000;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-size: 1.5em;
}
</style>
