<template>
  <v-card
    max-width="344"
    height="220"
    variant="outlined"
    :color="border_color"
    class="scroll"
  >
    <v-card-item class="d-flex">
      <v-card-title>
        Console
        <v-btn
          icon="mdi-close"
          variant="plain"
          size="x-small"
          @click="clear"
        ></v-btn>
      </v-card-title>
    </v-card-item>

    <v-card-text>
      <ul>
        <li v-for="msg in listOfMsg.slice().reverse()" :key="msg">{{ msg }}</li>
      </ul>
    </v-card-text>
  </v-card>
</template>

<script>
import { socket } from "@/socket";

export default {
  name: "ConsoleDevice",
  props: {
    componentContext: String,
    lastMsg: String,
    id: String,
  },
  data() {
    return {
      listOfMsg: [],
      nbMaxMsg: 100,
      border_color: "black",
    };
  },
  mounted() {
    //console.log("mounted ID=" + this.id);
    this.listOfMsg = [];
    socket.on(this.componentContext + "/" + this.id + "/console", (msg) => {
      //console.log("CONSOLE : received a console msg");
      this.addNewMsg(msg);
    });
  },
  methods: {
    addNewMsg(msg) {
      // add current time in front of the msg, hour, minute, microsecond
      var today = new Date();
      var time = today.getSeconds() + ":" + today.getMilliseconds();
      msg = time + " : " + msg;
      this.listOfMsg.push(msg);
      //if nb of msg > nbMaxMsg, remove the oldest msg
      if (this.listOfMsg.length > this.nbMaxMsg) {
        this.listOfMsg.shift();
      }

      //Change border to red during 1 second, to inform user that a new msg has been received
      this.border_color = "grey";
      setTimeout(() => {
        this.border_color = "black";
      }, 300);
    },
    clear() {
      this.listOfMsg = [];
    },
  },
  //watch lastMsg and if value changed, call addNewMsg
  watch: {
    lastMsg: function (newVal) {
      console.log("lastMsg changed to: " + newVal);
      this.addNewMsg(newVal);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.scroll {
  overflow-y: scroll;
}
</style>
