<template>
  <div class="mainDeviceView">
    <div class="header my-3">
      <h1>Devices</h1>
    </div>
    <div>
      <v-dialog
        v-model="dialogadd"
        style="width: 100vh"
        rounded="xl"
        @update:model-value="updatePortList"
      >
        <template v-slot:activator="{ props }">
          <v-btn color="primary" v-bind="props" icon="mdi-plus-circle-outline">
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="ma-4 title-add" color="primary">
            <v-icon icon="mdi-plus-circle-outline" />
            Add new device
            <v-icon icon="mdi-plus-circle-outline" />
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-text>
            <br />

            <v-select
              label="Select"
              :items="availableTypeList"
              :item-props="getTypeListSorted"
              v-model="selectedType"
            ></v-select>
            <span
              v-if="
                selectedType?.protocol != undefined &&
                selectedType?.allowPortChoice
              "
            >
              Choose your <b>{{ selectedType.protocol }} </b> port</span
            >
            <v-select
              v-if="
                selectedType?.protocol != undefined &&
                selectedType?.allowPortChoice
              "
              label="Port"
              :items="getPortsListFilter()"
              :item-props="getPortsListFilterProps"
              v-model="selectedPort"
            ></v-select>
            <span
              v-if="
                (selectedType?.allowPortChoice==false) && (selectedType?.defaultPort != '')
              "
            >
              Default Port : <b>{{ selectedType?.defaultPort }} </b> <br />
            </span>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue-darken-1"
              variant="text"
              @click="dialogadd = false"
            >
              Cancel
            </v-btn>
            <v-btn variant="outlined" @click="addDevice">ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <div class="ma-5 pa-2">
      <Device
        v-for="device in devicesList"
        :key="device.index"
        :Name="device.name"
        :Id="String(device.index)"
        :Description="device.description"
        :Protocol="device.protocol"
        :Open="device.open"
        :Port="device.port"
        :AvailablePorts="getPortsListFilterByProtocol(device.protocol)"
      />
    </div>
  </div>
</template>

<script>
import Device from "./Device.vue";

import { socket } from "@/socket";
import { store } from "@/store";

export default {
  name: "DeviceView",
  components: {
    Device,
  },

  //add to data a variable called console_msg ( string variable )
  data() {
    return {
      devicesList: [],
      availableTypeList: [],
      availablePorts: [],
      selectedType: null,
      selectedPort: null,
      dialogadd: false,
      store: store,
    };
  },

  props: {},

  //add a method called receiveConsoleMessage
  methods: {
    getTypeListSorted(item) {
      return {
        title: item.name,
        subtitle: item.protocol,
      };
    },
    getPortsListFilterProps(item) {
      if (item.manufacturer != undefined) {
        return {
          title: item.name,
          subtitle: item.manufacturer,
        };
      } else {
        return {
          title: item.name,
        };
      }
    },
    getPortsListFilter() {
      let pro = undefined;
      let res = [];
      if (this.selectedType?.name !== undefined) {
        pro = this.selectedType.protocol;
      }
      if (pro === undefined) {
        this.selectedPort = null;
      }
      res = this.availablePorts.filter((port) => port.protocol === pro);
      console.log("getPortsListSorted : " + res);
      return res.map((port) => {
        return {
          name: port.name,
          manufacturer: port.manufacturer,
        };
      });
    },
    getPortsListFilterByProtocol(protocol) {
      return this.availablePorts.filter((port) => port.protocol === protocol);
    },
    updatePortList() {
      socket.emit("devices/updateportlist", {});
    },
    addDevice() {
      if (this.selectedType?.name != undefined) {
        this.dialogadd = false;
        console.log(
          "add device type : " +
            this.selectedType.protocol +
            " name : " +
            this.selectedType.name
        );
        let obj = {
          type: this.selectedType.protocol,
          name: this.selectedType.name,
        };
        if (this.selectedPort?.name) {
          obj.port = this.selectedPort.name;
        }
        socket.emit("devices/add", obj);
      }
    },
  },

  // mounted
  mounted() {
    //emit socket messages to refresh the view
    socket.emit("devices/refresh", {});

    socket.on("devices/add", (d) => {
      console.log("DEVICES: add device");
      console.log(d);
      this.devicesList.push(d);
    });

    socket.on("devices/typelist", (d) => {
      console.log("DEVICES: typelist");
      console.log(d);
      this.availableTypeList = d;
    });

    socket.on("devices/portlist", (d) => {
      console.log("DEVICES: available ports");
      console.log(d);
      this.availablePorts = d;
    });

    socket.on("devices/reset", () => {
      this.devicesList = [];
      console.log("DEVICES: reset");
    });

    console.log("DEVICE VIEW is mounted");
  },
};

//call receiveConsoleMessage with random string every 2 seconds
</script>

<style scoped>
.title-add {
  background-color: #1976d2;
  color: white;
  border: 1px solid #000000;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-size: 1.5em;
}
</style>
