<template>
  <v-card
    width="100%"
    class="device-card my-4 "
    elevation="10"
    @click="compactView = !compactView"
    :hover="false"
    rounded="lg"
  >
    <v-card-item>
      <v-card-title class="d-flex flex-no-wrap justify-space-between">
        {{ Name.toUpperCase() }}
        <v-chip> {{ Protocol }}</v-chip>
        <v-icon v-if="eventEmitted">mdi-arrow-top-right-bold-box</v-icon>
        &nbsp;&nbsp;
        <v-icon color="grey"> {{ getIsConnectedIcon }}</v-icon>
        <span class="connected">{{ getIsConnected }}</span>
        <v-spacer></v-spacer>
        <v-btn
          class="mx-4"
          icon="mdi-refresh"
          variant="outlined"
          @click="restartConnection"
          color="grey-lighten-2"
        >
        </v-btn>
        <v-btn icon variant="outlined" @click="deleteMe">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-subtitle>
        {{ Description }}
      </v-card-subtitle>
    </v-card-item>

    <v-card-text v-if="!compactView">
      <div class="d-flex flex-inline">
        <v-container>
          <v-row>
            <v-col cols="3">
              <b>Status : </b>
              <v-chip class="mx-3" :prepend-icon="getIsConnectedIcon">
                {{ getIsConnected }}
              </v-chip>
            </v-col>
            <v-col cols="6">
              <b>Port: </b> <v-chip class="mx-3"> {{ displayPort }}</v-chip>
            </v-col>
            <v-col cols="3">
              <v-btn
                prepend-icon="mdi-refresh"
                @click.stop="restartConnection"
                class="mx-3"
                v-if="isOpen"
              >
                Restart Connection
              </v-btn>
              <v-btn
                prepend-icon="mdi-usb-port"
                @click.stop="toggleSelectPort = !toggleSelectPort"
                class="mx-3"
                v-else-if="!toggleSelectPort"
                >Choose Port
              </v-btn>
              <v-select
                label="Select Port"
                :items="AvailablePorts"
                :item-props="getTypeListSorted"
                v-if="toggleSelectPort"
                @click.stop=""
                :menu-props="{ value: toggleSelectPort }"
                v-model="selectPort"
                return-object
              ></v-select>
              <v-btn v-if="toggleSelectPort" @click.stop="updatePort">
                OK
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </div>
      <div>
        <v-container>
          <v-raw no-gutters class="d-flex flex-no-wrap justify-space-between">
            <v-col col="4">
              <GraphDevice msg="Graph" :id="Id" />
            </v-col>
            <v-col col="4">
              <ConsoleDevice componentContext="devices" :id="Id" />
            </v-col>
            <v-col col="4">
              <RawDataEvent componentContext="devices" :deviceId="Id" />
            </v-col>
          </v-raw>
        </v-container>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import GraphDevice from "./Graph.vue";
import ConsoleDevice from "./Console.vue";
import { socket } from "@/socket";
import RawDataEvent from "./RawDataEvent.vue";
import { store } from "@/store";

export default {
  name: "DeviceUi",
  components: {
    GraphDevice,
    ConsoleDevice,
    RawDataEvent,
  },

  data() {
    return {
      isOpen: false,
      eventEmitted: false,
      store: store,
      compactView: true,
      toggleSelectPort: false,
      selectPort: undefined,
    };
  },

  props: {
    Id: String,
    Name: String,
    Description: String,
    Open: Boolean,
    Port: String,
    AvailablePorts: Array,
    Protocol: String,
  },

  //add a method called receiveConsoleMessage
  methods: {
    getTypeListSorted(item) {
      return {
        title: item.name,
        subtitle: item.protocol,
      };
    },
    deleteMe() {
      //ask a confirmation to the user before deleting the device
      // with a popup

      if (confirm("Are you sure to delete this device?")) {
        socket.emit("devices/delete", { index: this.Id });
      } else {
        return;
      }
    },
    restartConnection() {
      socket.emit("devices/restartconnection", { index: this.Id });
    },
    isPort() {
      return (
        this.Port != null &&
        this.Port != "" &&
        this.Port != undefined &&
        this.Port != "none"
      );
    },
    updatePort() {
      if (this.selectPort != undefined) {
        socket.emit("devices/updateport", {
          index: this.Id,
          port: this.selectPort,
        });
        this.selectPort = undefined;
      } else {
        alert("Please SELECT a port");
      }
    },
  },

  //computed
  computed: {
    getIsConnected() {
      if (this.isOpen) {
        return "Connected";
      } else {
        return "Disconnected";
      }
    },
    getIsConnectedIcon() {
      if (this.isOpen) {
        return "mdi-link";
      } else {
        return "mdi-link-off";
      }
    },
    displayPort() {
      if (!this.isPort()) {
        return "No port";
      } else {
        return this.Port;
      }
    },
  },

  // mounted
  mounted() {
    console.log("ON mounted");
    socket.on("device/" + this.Id, (msg) => {
      console.log("DEVICE: received a console msg");
      console.log(msg);
    });

    socket.on("devices/" + this.Id + "/rawdataevent", (msg) => {
      this.eventEmitted = true;
      setTimeout(() => {
        this.eventEmitted = false;
      }, 500);
    });

    this.isOpen = this.Open; // need to modify the state of the device
    console.log("device debug " + this.Open);
    //this.isOpen = true;
    socket.on("devices/" + this.Id + "/state", (msg) => {
      console.log("DEVICE: received a state msg");
      console.log(msg);
      this.isOpen = msg;
    });
  },

  watch: {
    isOpen: function (newVal) {
      this.isOpen = newVal;
    },
  },
};

//call receiveConsoleMessage with random string every 2 seconds
</script>

<style scoped>
.subcomp {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  background-color: azure;
  vertical-align: top;
}
.device-card {
  border: black 0px solid;
}

.device-card:hover {
  border: black 0px solid;
  background: rgb(255, 255, 255);
}

.connected {
  font-size: 1.2rem;
  color: rgb(128, 122, 122);
}
</style>
