<template>
  <div @drop.prevent="onDrop" class="drop" @dragover="onDrag" @dragleave="onDragLeave" :style="backgroundDrop" >
      <slot>
        <p class="title">
          {{ textDrop }}
        </p>
      </slot>
  </div>
</template>

<script setup>
import { onMounted, onUnmounted } from 'vue'
import { computed, ref } from 'vue'
import { defineEmits } from 'vue'
const emit = defineEmits(['files-dropped'])

//create a data value called isDragging
const isDragging = ref(false)



//create a computed method called background-drop
const backgroundDrop = computed(() => {
  return {
      background: isDragging.value ? '#42b983' : '#ccc'
  }
})

const textDrop = computed(() => {
  return isDragging.value ? 'OK' : 'Drag files here'
})

function onDrop(e) {
  emit('files-dropped', [...e.dataTransfer.files])
}

function onDrag() {
  isDragging.value = true
}

function onDragLeave() {
  isDragging.value = false
}

function preventDefaults(e) {
  e.preventDefault()
}

const events = ['dragenter', 'dragover', 'dragleave', 'drop']

onMounted(() => {
  events.forEach((eventName) => {
      document.body.addEventListener(eventName, preventDefaults)
  })
})

onUnmounted(() => {
  events.forEach((eventName) => {
      document.body.removeEventListener(eventName, preventDefaults)
  })
})
</script>

<style scoped>
.drop {
  border: 4px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}

.title{
  color: #000;
}


</style>