<template>
  <v-card max-width="344" height="220" variant="outlined">
    <v-card-item>
      <v-card-title>Graph </v-card-title>
    </v-card-item>

    <v-card-text>
      <div class="graph_content">
        <Line ref="Line" :options="chartOptions" :data="chartData" />
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import { Line } from "vue-chartjs";
import { socket } from "@/socket";
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend,
} from "chart.js";

ChartJS.register(
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
);

export default {
  name: "GraphDevice",
  components: {
    Line,
  },
  props: {
    msg: String,
    id: String,
  },
  data() {
    return {};
  },
  computed: {
    chartData() {
      return {
        labels: [
          "0",
          "1",
          "2",
          "3",
          "4",
          "5",
          "6",
          "7",
          "8",
          "9",
          "10",
          "11",
          "12",
          "13",
        ],
        datasets: [],
      };
    },
    chartOptions() {
      return {
        maintainAspectRatio: false,
        scales: {
          x: {
            display: false,
          },
          y: {
            suggestedMin: 0,
            suggestedMax: 1000,
          },
        },
        plugins: {
          legend: {
            display: true,
          },
        },
      };
    },
  },
  methods: {
    addNewData(newData, channel) {
      this.$refs.Line.chart.data.datasets[channel].data.push(newData);
      this.$refs.Line.chart.data.datasets[channel].data.shift();
    },
    addNewChannel(indexChannel) {
      while (indexChannel >= this.$refs.Line.chart.data.datasets.length) {
        this.$refs.Line.chart.data.datasets.push({
          label: "sensor" + this.$refs.Line.chart.data.datasets.length,
          data: [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
          fill: false,
          //borderColor is random color
          borderColor:
            "rgb(" +
            Math.floor(Math.random() * 255) +
            ", " +
            Math.floor(Math.random() * 255) +
            ", " +
            Math.floor(Math.random() * 255) +
            ")",
          tension: 0.1,
        });
      }
    },
  },
  create() {
    console.log("beforeCreate");
  },
  mounted() {
    console.log("mounted");

    socket.on("devices/" + this.id + "/chart", (msg) => {
      //console.log("GRAPHVUE : recei

      //check is this.chartData exists
      let channel = msg.channel;
      let value = Number(msg.value);

      if (this.$refs.Line != undefined) {
        this.addNewChannel(channel);
        this.addNewData(value, channel);
        this.$refs.Line.chart.update("none");
      }
    });

    //every to second, replace first value of chartData, dataset[0].data[0]
    /*
    setInterval(() => {
      this.chartData.datasets[0].data[0] = Math.floor(Math.random() * 100);

      this.$refs.Line.chart.update();
    }, 2000);
    */
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
