<template>
  <div
    class="ma-2 pa-2"
    style="
      width: 98%;
      border-color: rgb(245, 245, 245);
      border-style: dashed;
      border-radius: 2em;
    "
  >
    <div class="software-title">
      <v-icon icon="mdi-home" size="x-large"></v-icon>&nbsp;&nbsp;
      <h1>Welcome to µPoly</h1>
    </div>
    <div class="my-5">
      <p class="software-description">
        🚀 µPoly is a toolkit that allows you to control your software from
        personnalized and complex hand gestures.
      </p>
    </div>

    <div class="software-title">
      <v-icon icon="mdi-cog" size="x-large"></v-icon>&nbsp;&nbsp;
      <h1>Select configuration</h1>
      <v-radio-group inline v-model="configRadio">
        <v-radio label="Default" value="default"></v-radio>
        <v-radio label="Open" value="open"></v-radio>
      </v-radio-group>
      <v-select v-if="configRadio == 'open'" :items="ConfigList"> </v-select>
    </div>

    <div>
      <v-icon icon="mdi-cursor-default-click" size="x-large"></v-icon>&nbsp;&nbsp;
      <h1>Open Section</h1>
      <v-container>
        <v-row v-for="(item, i) in items" :key="i">
          <v-col cols="12">
            <v-hover v-slot="{ isHovering, props }">
              <v-img
                :src="`${publicPath}${item.img}`"
                cover
                gradient="to top right, rgba(51,119,107,.8), rgba(200,200,200,.8)"
                height="100px"
              >
                <v-card
                  :elevation="isHovering ? 12 : 2"
                  :class="{ 'on-hover': isHovering }"
                  v-bind="props"
                  height="140px"
                  @click="gotolink(item.link)"
                  class="transparent-card"
                  :title="item.title"
                  :subtitle="item.text"
                  :prepend-icon="item.icon"
                  align="left"
                >
                </v-card>
              </v-img>
            </v-hover>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="justify-center">
      <p class="software-description">
        If you are user, device developer, interaction designer
      </p>
      <v-btn
        @click="opendocumentation"
        color="primary"
        class="mt-4"
        prepend-icon="mdi-book-open-variant"
        >Go to Documentation</v-btn
      >
    </div>
    <div class="justify-center ma-2">
      <p class="software-description">
        &micro;Poly is based on the &micro;glyph notation. Learn how to use it
        here.
      </p>
      <v-btn
        @click="learnmicroglyph"
        color="primary"
        class="mt-4"
        prepend-icon="mdi-information"
        >Learn &micro;glyph</v-btn
      >
    </div>
    <div class="justify-center ma-2">
      <p class="software-description">&micro;Poly is host on git repository</p>
      <v-btn
        @click="openrepository"
        color="primary"
        class="mt-4"
        prepend-icon="mdi-gitlab"
        >GIT repository</v-btn
      >
    </div>
  </div>
</template>


<script>
export default {
  name: "IntroView",
  props: {
    ConfigList: Array,
  },
  data() {
    return {
      publicPath: process.env.BASE_URL,
      items: [
        {
          title: "Devices",
          link: "devices",
          text: `Manage your devices `,
          img: `devicesection.jpg`,
          icon: "mdi-devices",
        },
        {
          title: "Analyzers",
          text: "Edit your gestures formula",
          link: "analyzers",
          img: "analyzersection.jpg",
          icon: "mdi-chart-timeline-variant-shimmer",
        },
        {
          title: "Subscribers",
          link: "subscribers",
          text: "Link to your external application",
          img: "subscribersection.jpg",
          icon: "mdi-cast-connected",
        },
      ],
      configRadio: "default",
    };
  },
  methods: {
    opendocumentation() {
      window.open(
        "https://velvet-noise.notion.site/Documentation-Poly-0912a482fdcf4374b4ea7e4cd3205e0d",
        "_blank",
        "frame=true"
      );
    },
    learnmicroglyph() {
      window.open("https://microglyph.imag.fr/lesson", "_blank", "frame=true");
    },
    openrepository() {
      window.open(
        "https://gricad-gitlab.univ-grenoble-alpes.fr/mic-public/upoly",
        "_blank",
        "frame=true"
      );
    },
    gotolink(link) {
      this.$emit("tabchange", link);
      //window.location.href = "#/" + link;
    },
  },
};
</script>
<style scoped>
.close-btn {
  width: 100%;
  text-align: right;
  display: block;
  top: 0;
  right: 15rem;
  padding: 0.5rem;
}
.v-card {
  transition: opacity 0.4s ease-in-out;
}

.v-card:not(.on-hover) {
  opacity: 0.9;
}

.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.section-description {
  font-size: 1.2rem;
  color: black;
}

.software-title {
  align-content: center;
  display: flex-inline;
}

.software-description {
  align-content: center;
  font-size: 1.2rem;
  color: black;
}

.transparent-card {
  background-color: transparent;
}
</style>