<template>
  <v-card
    max-width="344"
    height="220"
    :variant="notificationClass"
    class="scroll"
  >
    <v-card-item>
      <v-card-title>RawDataEvent </v-card-title>
    </v-card-item>

    <v-card-text>
      <microgesture-component
        v-if="rde.action != undefined"
        v-model="getMicrogesture"
        :inConstruction="false"
        :conciseVersion="conciseVersion"
        :indexAnalyzer="-1"
      />
      <ul>
        <li><b>type:</b> {{ displayAction }}</li>
        <li><b>context:</b> {{ displayContext }}</li>
        <li><b>actuators:</b> {{ displayActuators }}</li>
        <li><b>receiver:</b> {{ displayReceiver }}</li>
        <li><b>contact:</b> {{ rde.contact }}</li>
      </ul>
    </v-card-text>
  </v-card>
</template>

<script>
import { socket } from "@/socket";
import MicrogestureComponent from "@/components/Microgeste/MicrogestureComponent.vue";
export default {
  name: "RawDataEvent",
  props: {
    componentContext: String,
    deviceId: String,
  },
  components: {
    MicrogestureComponent,
  },
  data() {
    return {
      rde: {},
      notificationClass: "outlined",
    };
  },
  computed: {
    // actuator is set with this.rde.actuator = [["index"]] . It is an array of array of
    displayActuators() {
      return (
        //first check if it is an array of array with a single element
        Array.isArray(this.rde.actuator) && Array.isArray(this.rde.actuator[0])
          ? "[[" + this.rde.actuator[0][0] + "]]"
          : "acutor not defined"
      );
    },
    displayReceiver() {
      if (this.rde.contact != undefined) {
        return Array.isArray(this.rde.contact.actuator) &&
          Array.isArray(this.rde.contact.actuator[0])
          ? "[[" + this.rde.contact.actuator[0][0] + "]]"
          : "receiver not defined";
      } else {
        return "receiver not defined";
      }
    },
    displayAction() {
      if (this.rde.action != undefined) {
        return this.rde.action;
      } else {
        return "action not defined";
      }
    },
    displayContext() {
      // this.context is an array of 1 or 2 strings. Display each string
      return this.rde.context != undefined
        ? this.rde.context.join(" ")
        : "context not defined";
    },
    getMicrogesture() {
      let micro = this.rde;
      micro.type = "glyph";
      return micro;
    },
  },
  mounted() {
    // console.log(
    //   "mounted componentContext=" +
    //     this.componentContext +
    //     " deviceId=" +
    //     this.deviceId
    // );
    socket.on(
      this.componentContext + "/" + this.deviceId + "/rawdataevent",
      (msg) => {
        //console.log("DEVICE: received a rawdataevent msg");
        //console.log(msg);
        this.rde = msg;

        this.notificationClass = "tonal";
        // wait for 1 sec then change notificationClass to ""
        setTimeout(() => {
          this.notificationClass = "outlined";
        }, 50);
      }
    );
  },
  //watch lastMsg and if value changed, call addNewMsg
  watch: {
    lastMsg: function (newVal) {
      console.log("lastMsg changed to: " + newVal);
      this.addNewMsg(newVal);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.notified {
  background-color: #f5f5f5;
  font-weight: bold;
}

.scroll {
  overflow-y: scroll;
}
</style>
