<template>
  <div class="my-2">
    <div class="header my-2">
      <h1>Subscribers</h1>
    </div>
    <v-snackbar
      v-model="incomingSnackbar"
      multi-line
      timeout="1000"
      class="top-snackbar"
      color="teal-lighten-1"
      absolute
    >
      <div class="d-flex align-vertical">
        <v-icon left>mdi-arrow-up-bold-circle</v-icon>
        {{ incomingName }}
      </div>
    </v-snackbar>
    <div class="header"></div>
    <v-dialog v-model="dialogadd" persistent>
      <template v-slot:activator="{ props }">
        <v-btn color="primary" v-bind="props" icon="mdi-plus-circle-outline">
        </v-btn>
      </template>
      <v-card class="mx-auto" style="width: 100vh" rounded="xl">
        <v-card-title class="title-add ma-4">
          <v-icon icon="mdi-plus-circle-outline" />Add new subscriber
          <v-icon icon="mdi-plus-circle-outline" />      
        </v-card-title>
        <v-card-text>
          <div class="form">
            Add Name:
            <v-text-field v-model="addName"></v-text-field>
            Select type :
            <v-select
              label="Subscriber type"
              :items="availableTypeList"
              v-model="addType"
            ></v-select>
            <v-icon icon="mdi-information-outline"></v-icon> Choose Generic for
            a socket.io protocol.
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="dialogadd = false"
          >
            Cancel
          </v-btn>
          <v-btn variant="outlined" @click="addSubscriber" class="formButton"
            >Add</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div class="ma-5 pa-2">
      <Subscriber
        v-for="a in subscribersList"
        :Id="String(a.index)"
        :key="a.index"
        :Name="a.name"
        :Type="a.type"
        :Active="a.active"
        :Config="a.config"
        :AvailableGestures="availableGestureList"
      />
    </div>
    <SubscriberManualTrigger
      v-if="store.manualTrigger"
      :AvailableGestures="availableGestureList"
    />
  </div>
</template>

<script>
import Subscriber from "./Subscriber/Subscriber.vue";
import SubscriberManualTrigger from "./Subscriber/SubscriberManualTrigger.vue";
import { socket } from "@/socket";
import { store } from "@/store";

export default {
  name: "SubscriberView",
  components: {
    Subscriber,
    SubscriberManualTrigger,
  },

  //add to data a variable called console_msg ( string variable )
  data() {
    return {
      subscribersList: [],
      availableGestureList: [],
      availableTypeList: ["Generic", "Keyboard", "Vlc"],
      addType: "Generic",
      addName: "My Awesome Application",
      dialogadd: false,
      store: store,
      incomingSnackbar: false,
      incomingName: "",
    };
  },

  //add a method called receiveConsoleMessage
  methods: {
    addSubscriber() {
      console.log("add Gesture : " + " type : " + this.addType);

      let s = {};
      s.type = this.addType;
      s.name = this.addName;
      s.index = this.subscribersList.length;

      //check that appPort is a number with 5 digits
      if (this.addType != "" && this.availableTypeList.includes(this.addType)) {
        socket.emit("subscribers/add", s);
        this.dialogadd = false;
      }
    },
  },

  // mounted
  mounted() {
    socket.emit("subscribers/refresh", {});
    //create a fake analyzer to test the view
    socket.emit("subscribers/updategesturelist", {});

    socket.on("subscribers/add", (d) => {
      console.log("SUBSCRIBER: add suscriber");
      console.log(d);
      this.subscribersList.push(d);
    });

    socket.on("subscribers/gesturelist", (d) => {
      console.log("SUBSCRIBE gesturelist");
      console.log(d);
      this.availableGestureList = d;
    });

    socket.on("subscribers/reset", () => {
      this.subscribersList = [];
      console.log("subscriber: reset");
    });

    socket.on("subscribers/ongesture", (d) => {
      console.log("SUBSCRIBER: ongesture");
      console.log(d);
      this.incomingName = d.name;
      this.incomingSnackbar = true;
    });
  },
};

//call receiveConsoleMessage with random string every 2 seconds
</script>

<style scoped>
.form {
  padding: 10px;
  margin: 10px;
  vertical-align: top;
}

.formButton {
  height: 30px;
}

.top-snackbar {
  position: fixed;
  margin-top: 0em;
  top: 4em !important;
  bottom: auto !important;
  left: 20em;
  margin-left: auto;
}

.title-add {
  background-color: #1976d2;
  color: white;
  border: 1px solid #000000;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-size: 1.5em;
}
</style>
