<template>
  <v-layout>
    <v-app-bar color="primary">
      <template v-slot:prepend>
        <v-app-bar-nav-icon @click="drawerLeftRail = !drawerLeftRail">
        </v-app-bar-nav-icon>
      </template>

      <v-app-bar-title>
        <v-container>
          <v-row class="align-center">
            <v-col cols="2" class="mx-1 px-0">
              <img
                :src="`${publicPath}mic.svg`"
                alt="logo"
                style="height: 60px"
                @mouseover="titleVisible = true"
                @mouseout="titleVisible = false"
              />
            </v-col>
            <v-col>
              <span v-if="titleVisible">{{ title }} </span>
              <v-tooltip text="Configuration Name">
                <template v-slot:activator="{ props }"
                  ><v-chip v-bind="props" class="mx-10">
                    {{ configname }}
                  </v-chip>
                </template></v-tooltip
              >
              <v-chip v-if="!this.getIsConnected">
                <v-tooltip text="Disconnected from server">
                  <template v-slot:activator="{ props }">
                    <v-icon
                      v-bind="props"
                      icon="mdi-access-point-network-off"
                    ></v-icon>
                  </template>
                </v-tooltip>
              </v-chip>
              <v-spacer></v-spacer>
            </v-col>
          </v-row>
        </v-container>
      </v-app-bar-title>

      <v-spacer></v-spacer>
      <v-chip v-if="store.advancedmode">
        <v-icon aria-hidden="false"> mdi-tools </v-icon><i> Advanced Mode</i>
      </v-chip>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawerLeft"
      :rail="drawerLeftRail"
      permanent
      @click="drawerLeftRail = !drawerLeftRail"
    >
      <v-list density="default">
        <v-list density="compact">
        <v-list-item
          prepend-icon="mdi-home"
          @click.stop="gotointro('')"
          title="About"
        ></v-list-item>
      </v-list>
        <v-list-subheader>Section</v-list-subheader>
        <v-list-item
          prepend-icon="mdi-devices"
          @click.stop="tab = 'devices'"
          title="Devices"
          :variant="tab == 'devices' ? 'tonal' : 'text'"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-chart-timeline-variant-shimmer"
          @click.stop="tab = 'analyzers'"
          title="Analyzers"
          :variant="tab == 'analyzers' ? 'tonal' : 'text'"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-cast-connected"
          @click.stop="tab = 'subscribers'"
          title="Subscribers"
          :variant="tab == 'subscribers' ? 'tonal' : 'text'"
        ></v-list-item>
      </v-list>

      <v-list>
        <v-list-subheader>Configuration</v-list-subheader>
        <v-list-item
          prepend-icon="mdi-content-save"
          @click.stop="saveconfig"
          title="Save"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-content-save-plus"
          @click.stop="dialogsave = true"
          title="Save as"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-open-in-app"
          @click.stop="opendialogopen"
          title="Open"
        ></v-list-item>
      </v-list>

     

      <v-list density="compact" v-if="!drawerLeftRail">
        <v-list-subheader>Options </v-list-subheader>
        <v-list-item variant="tonal" class="my-0 py-0" v-if="false">
          <template v-slot:prepend>
            <v-switch
              label="Advanced mode"
              inset
              v-model="store.advancedmode"
              density="compact"
            />
          </template>
        </v-list-item>
        <v-list-item variant="tonal" class="my-0 py-0" v-if="false">
          <v-switch label="Concise µGlyph" inset v-model="store.conciseMode" />
        </v-list-item>
        <v-list-item variant="tonal" class="my-0 py-1 px-5">
          <v-switch
            label="Manual Trigger"
            color="primary"
            v-model="store.manualTrigger"
            density="compact"
            @click.stop=""
            class="px-2"
          />
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <v-card>
        <!-- <v-tabs v-model="tab" bg-color="primary" :disabled="tab == 'intro'">
          <v-tab value="devices"> Devices </v-tab>
          <v-tab value="analyzers">Analyzers </v-tab>
          <v-tab value="subscribers">Subscribers</v-tab>
        </v-tabs> -->

        <v-card-text>
          <v-window v-model="tab" direction="vertical">
            <v-window-item value="devices">
              <DeviceView />
            </v-window-item>

            <v-window-item value="analyzers">
              <AnalyzerView />
            </v-window-item>

            <v-window-item value="subscribers">
              <SubscriberView />
            </v-window-item>

            <v-window-item value="intro" align="center">
              <IntroView
                v-on:tabchange="openTab($event)"
                v-on:openconfig="openconfig"
                :ConfigList="listOfConfig"
              />
            </v-window-item>
          </v-window>
        </v-card-text>
      </v-card>
    </v-main>

    <v-dialog v-model="dialogsave" width="auto">
      <v-card>
        <v-card-title>Save config as. </v-card-title>
        <v-card-text>
          file name <v-text-field v-model="savename"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn color="error" @click="dialogsave = false">Cancel</v-btn>
          <v-btn color="primary" @click="saveconfigas">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogopen" width="auto">
      <v-card prepend-icon="mdi-open">
        <v-card-title>Open configuration </v-card-title>
        <v-card-text>
          open file
          <v-select
            :items="listOfConfig"
            label=".json"
            v-model="openname"
          ></v-select>
        </v-card-text>
        <v-card-actions>
          <v-btn color="error" @click="dialogopen = false">Cancel</v-btn>
          <v-btn color="primary" @click="openconfig">Open</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" vertical>
      <p>{{ snackbarmsg }}</p>
      <v-btn
        color="primary"
        variant="text"
        @click="snackbar = false"
        icon="mdi-close"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-layout>
</template>



<script>
import DeviceView from "./components/DeviceView.vue";
import AnalyzerView from "./components/AnalyzerView.vue";
import SubscriberView from "./components/SubscriberView.vue";
import IntroView from "./components/Intro.vue";
import { useTheme } from "vuetify";
import { store } from "@/store";
import { socket } from "@/socket";
import { state } from "@/socket";

const routes = {
  "/": IntroView,
  "/devices": DeviceView,
  "/analyzers": AnalyzerView,
  "/subscribers": SubscriberView,
};

export default {
  name: "App",
  components: {
    DeviceView,
    AnalyzerView,
    SubscriberView,
    IntroView,
  },

  setup() {},

  //add to data a variable called console_msg ( string variable )
  data() {
    return {
      title: "µPoly 0.0.2",
      titleVisible: false,
      currentPath: window.location.hash,
      tab: "intro", //set default tab here
      drawerLeft: true, //left menu
      drawerLeftRail: false,
      publicPath: process.env.BASE_URL,
      dialogsave: false,
      dialogopen: false,
      savename: "",
      openname: "",
      configname: "unknowm", //name of the current config
      listOfConfig: [],
      snackbar: false, //little popup at the bottom of the screen
      snackbarmsg: "",
      store: store,
      isConnected: false,
    };
  },

  //add a method called receiveConsoleMessage
  methods: {
    saveconfig() {
      socket.emit("config/save", {});
      this.snackbar = true;
      this.snackbarmsg = "configuration is saved.";
      //turn of snackbar after 3 seconds
      setTimeout(() => {
        this.snackbar = false;
      }, 3000);
    },

    openTab(event) {
      this.tab = event;
      this.drawerLeftRail = true;
    },

    opendialogopen() {
      socket.emit("config/refreshlist");
      this.dialogopen = true;
    },

    saveconfigas() {
      let finalname = this.savename + ".json";
      socket.emit("config/saveas", finalname);
      this.dialogsave = false;
    },
    openconfig() {
      if (this.openname == "") {
        window.alert("please select a file");
      } else {
        socket.emit("config/open", this.openname);
        this.dialogopen = false;
      }
    },
    gotointro(link) {
      //this.$emit("tabchange", link);
      window.location.href = link;
    },
  },
  computed: {
    getIsConnected() {
      return state.connected;
    },
  },

  watch: {
    //watch for store.advancedmode change
    "store.advancedmode": function () {
      let advancedmode = store.advancedmode;
      let themetouse = advancedmode ? "developerTheme" : "userTheme";
      console.log("change Theme : " + themetouse);
      // this.theme.global.name = themetouse;
      this.$vuetify.theme.global.name = themetouse;
    },
  },

  // mounted
  mounted() {
    //general message : not used yet
    socket.on("general", (msg) => {
      console.log("APPVUE : received a console msg");
      console.log(msg);
    });

    socket.on("config/list", (list) => {
      this.listOfConfig = list;
    });

    socket.on("config/name", (name) => {
      console.log("APPVUE : received config name : " + name);
      this.configname = name;
    });

    // Change current tab based on hash of the URL : part1
    if (this.currentPath.replace("#/", "") != "") {
      this.tab = this.currentPath.replace("#/", "");
      this.drawerLeftRail = true;
    } else {
      this.tab = "intro";
      this.drawerLeftRail = false;
    }
    // Change current tab based on hash of the URL : part2
    window.addEventListener("hashchange", () => {
      this.currentPath = window.location.hash;
      let tabname = this.currentPath.replace("#/", "");
      console.log("hashchange : " + tabname);
      this.tab = tabname;
    });

    socket.emit("config/refreshlist");
  },
};

//call receiveConsoleMessage with random string every 2 seconds
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.subcomp {
  margin: 0%;
  padding: 0%;
}
.main {
  margin: 0%;
  padding: 0%;
  vertical-align: top;
  background-color: aliceblue;
}

.introdevicesection {
  margin: 0%;
  padding: 0%;
  vertical-align: top;
}

.introdevicesection:hover {
  background-color: rgb(59, 86, 86);
}
</style>
