<template>
  <v-container class="pa-0 ma-0 main-container">
    <v-row class="pa-0 ma-0 d-flex flex-nowrap" no-gutters>
      <v-col
        class="d-flex pa-0 ma-0 align-self-auto"
        v-if="microgesture.type !== 'then'"
      >
        <v-sheet
          class="transparent-sheet align-self-center flex-strech pa-0 ma-0"
        >
          <span class="left-parenthesis"> ( </span>
        </v-sheet>
      </v-col>

      <template v-for="[i] of microgesture?.operands?.entries()" :key="i">
        <v-col
          class="v-col-auto d-flex flex-nowrap px-1 py-0 my-0"
          style="min-width: 50px; max-width: max-content"
        >
          <v-container
            fluid
            class="px-0 py-0 my-0"
            :class="microgesture.operands[i].type != 'glyph' ? 'border' : ''"
          >
            <v-row
              class="pa-0 mx-0 my-0 d-flex bg-grey-lighten-1"
              v-if="microgesture.operands[i].type != 'glyph'"
            >
              <v-col class="pa-0 ma-0">
                <v-menu>
                  <template v-slot:activator="{ props }">
                    <v-btn color="primary" v-bind="props" density="compact">
                      {{ microgesture.operands[i].type }}
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item
                      v-for="(item, index) in ['or', 'and', 'remove']"
                      :key="index"
                      :value="index"
                      @click="setOperand(i, item)"
                    >
                      <v-list-item-title>{{ item }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-col>

              <v-col v-if="i > 0" class="pa-0 ma-0">
                <v-icon
                  @click="moveLeft(i)"
                  color="red"
                  icon="mdi-arrow-left"
                  size="x-small"
                ></v-icon>
              </v-col>

              <v-col
                v-if="i < microgesture.operands.length - 1"
                class="pa-0 ma-0"
              >
                <v-icon
                  @click="moveRight(i)"
                  color="red"
                  icon="mdi-arrow-right"
                  size="x-small"
                ></v-icon>
              </v-col>
            </v-row>

            <v-row class="px-0 py-0 ma-0">
              <v-col class="pa-0 ma-0">
                <v-menu v-if="microgesture.operands[i].type === 'glyph'">
                  <template v-slot:activator="{ props }">
                    <v-btn
                      rounded="0"
                      class="pa-0 ma-0 force_lowercase"
                      v-bind="props"
                      min-width="20px"
                      min-height="90px"
                    >
                      <MicrogestureComponent
                        v-model="microgesture.operands[i]"
                        :indexTree="`${indexTree}-${i}`"
                        :indexAnalyzer="-1"
                        :inConstruction="true"
                      />
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item
                      prepend-icon="mdi-pencil"
                      @click="editMe(i)"
                      class="ma-0 pa-1"
                    >
                      <v-list-item-title class="text-subtitle-2 ma-0 pa-1">
                        edit
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item
                      prepend-icon="mdi-arrow-left"
                      @click="moveLeft(i)"
                      class="ma-0 pa-1"
                      v-if="i > 0"
                    >
                      <v-list-item-title class="text-subtitle-2 ma-0 pa-1">
                        move left
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item
                      prepend-icon="mdi-arrow-right"
                      @click="moveRight(i)"
                      class="ma-0 pa-1"
                      v-if="i < (microgesture.operands.length -1)"
                    >
                      <v-list-item-title class="text-subtitle-2 ma-0 pa-1">
                        move right {{microgesture.operands?.entries().length}}
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item
                      prepend-icon="mdi-delete"
                      @click="remove(i)"
                      class="ma-0 pa-1"
                    >
                      <v-list-item-title class="text-subtitle-2 ma-0 pa-1">
                        remove
                      </v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
                <CompositionEditor
                  v-model="microgesture.operands[i]"
                  :indexTree="`${indexTree}-${i}`"
                  @editChild="editChild"
                  v-else
                />
              </v-col>
            </v-row>
          </v-container>
        </v-col>
        <v-col
          class="d-flex flex-nowrap pa-0 ma-0"
          style="min-width: 20px; max-width: max-content"
        >
          <v-sheet
            class="transparent-sheet align-self-center flex-strech pa-0 ma-0"
          >
            <span
              :key="`symbol-${microgesture.type}-${i}`"
              v-if="i < microgesture.operands.length"
              class="symbol pa-0 ma-0"
              :class="microgesture.type"
              @drop="updateType($event)"
            >
            </span>
          </v-sheet>
        </v-col>
      </template>

      <v-col class="d-flex flex-nowrap pa-1 ma-0 align-center">
        <v-menu location="end">
          <template v-slot:activator="{ props }">
            <v-btn
              color="primary"
              v-bind="props"
              icon="mdi-plus"
              height="70px"
              width="15px"
              rounded="0"
              variant="outlined"
            >
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(item, index) in types"
              :key="index"
              :value="index"
            >
              <v-list-item-title @click="add(item)">{{
                item
              }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-col>

      <v-col
        class="d-flex pa-0 ma-0 align-center"
        v-if="microgesture.type !== 'then'"
      >
        <v-sheet class="transparent-sheet align-self-center">
          <span class="right-parenthesis"> </span>
        </v-sheet>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
  </v-container>
</template>

<script setup>
import MicrogestureComponent from "../MicrogestureComponent";
import { ref, defineProps, defineEmits, watch, computed } from "vue";

const props = defineProps({
  modelValue: {
    type: Object,
    required: true,
  },
  indexTree: { type: String, default: "" },
  actualSelection: { type: String, default: "" },
  inConstruction: { type: Boolean, default: false },
});

const emits = defineEmits([
  "input",
  "delete",
  "update-selection",
  "hovering",
  "editChild",
  "update:modelValue",
]);

//write a data function called remove
const remove = (index) => {
  console.log("remove !");
  microgesture.value.operands.splice(index, 1);
};

const moveLeft = (index) => {
  console.log("move left !");
  let temp = microgesture.value.operands[index];
  microgesture.value.operands[index] = microgesture.value.operands[index - 1];
  microgesture.value.operands[index - 1] = temp;
};

const moveRight = (index) => {
  console.log("move right !");
  let temp = microgesture.value.operands[index];
  microgesture.value.operands[index] = microgesture.value.operands[index + 1];
  microgesture.value.operands[index + 1] = temp;
};

const editMe = (index) => {
  console.log("edit me !", `${props.indexTree}-${index}`);
  emits("editChild", `${props.indexTree}-${index}`);
};

const setOperand = (index, value) => {
  console.log("set operand :" + value);
  if (value == "remove") {
    remove(index);
  } else {
    microgesture.value.operands[index].type = value;
  }
};

const editChild = (indexTreeChild) => {
  console.log("edit child fron parent : " + indexTreeChild);
  emits("editChild", indexTreeChild);
};

const add = (type) => {
  let obj = {};

  if (type != "glyph") {
    // Case where it is not a glyph : AND, OR, THEN
    obj.type = type;
    obj.operands = [];
    obj.operands.push(createEmptyGlyph());
    obj.operands.push(createEmptyGlyph());
  } else {
    obj = createEmptyGlyph();
  }
  console.log("add !");
  microgesture.value.operands.push(obj);
  emits("update:modelValue", microgesture.value);
};

const createEmptyGlyph = () => {
  let obj = {};
  obj.type = "glyph";
  obj.actuator = [["any"]];
  obj.action = "Flexion";
  obj.context = ["Air", "Air"];
  return obj;
};
//add a ref called addtype
const addtype = ref("glyph");

const glyphEditMenu = ref([]);

// add a computed function called types, this is an array of strings
const types = ref(["glyph", "or", "and", "then"]);

const microgesture = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    console.log("Composition editor : set microgesture ");
  },
});

//create a watch function for microgesture
watch(
  () => props.modelValue,
  (newValue, oldValue) => {
    emits("update:modelValue", newValue);
    console.log("Composition editor : microgesture changed");
  }
);

//write an example of computed function
const displayMicrogesture = computed(() => {
  return "microgesture is : " + JSON.stringify(props.modelValue);
});
</script>

<style scoped>
.main-container {
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  border: 0 dashed rgb(227, 227, 227);
  border-radius: 0.2em;
}

.in-construction .symbol {
  padding: 5px;
  border-radius: 15px;
}

.symbol {
  color: black;
  font-size: xxx-large;
}

.in-construction .symbol:hover:not(.left-parenthesis):not(.right-parenthesis) {
  color: var(--microgesture-red);
}

.left-parenthesis {
  font-size: xxx-large;
}

.right-parenthesis {
  font-size: xxx-large;
}

.transparent-sheet {
  background-color: transparent;
}

.right-parenthesis::before {
  content: ")";
}

.or::before {
  content: "|";
}

.and::before {
  content: "||";
}

.then::before {
  content: ";";
}

.show-type {
  font-size: 0.8em;
  color: black;
}

.force_lowercase {
  text-transform: lowercase !important;
}
</style>
