<template>
  <v-dialog
    v-model="dialog"
    persistent
    width="auto"
    style="transition: none !important"
  >
    <template v-slot:activator="{ props }">
      <v-btn
        v-if="!isNoSelection"
        color="primary"
        v-bind="props"
        class="force_lowercase"
      >
        Open Editor</v-btn
      >
    </template>

    <v-card style="min-width: 500px">
      <v-card-title>
        <v-tooltip :text="printSelection">
          <template v-slot:activator="{ props }"
            ><h1>
              <v-icon icon="mdi-hammer-wrench" v-bind="props"> </v-icon> Editor
            </h1>
          </template></v-tooltip
        >

      </v-card-title>
      <v-card-text>
        <composition-editor
          v-if="isComposition"
          v-model="specificMicrogestureValue"
          @editChild="editChildComponent"
        />
        <variable-editor
          v-else-if="isSequence"
          v-model="specificMicrogestureValue"
        />
        <insert-editor
          v-else-if="isEmptyGlyph"
          v-model="specificMicrogestureValue"
          :variableList="returnVariableIfExist"
          :analyzerIndex="analyzerId"
          :conciseVersion="conciseVersion"
        />
        <glyph-editor
          v-else
          v-model="specificMicrogestureValue"
          :variableList="returnVariableIfExist"
        />
      </v-card-text>

      <v-card-actions>
        <v-expansion-panels>
          <v-expansion-panel
            title="RAW JSON"
            :text="displaySpecificMicrogesture"
          >
          </v-expansion-panel>
        </v-expansion-panels>
        <v-spacer></v-spacer>
        <v-btn color="red-darken-1" variant="tonal" @click="cancel">
          Disagree
        </v-btn>
        <v-btn color="green-darken-1" variant="tonal" @click="validate">
          Agree
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
//import COmposition editor component
//import Glyph editor component

import CompositionEditor from "./CompositionEditor.vue";
import VariableEditor from "./VariableEditor.vue";
import GlyphEditor from "./GlyphEditor.vue";
import InsertEditor from "./InsertEditor.vue";
import { socket } from "@/socket";

export default {
  name: "EditorComponent",
  props: {
    microgestureProp: {
      type: Object,
      required: true,
    },
    actualSelectionProp: {
      type: String,
      required: true,
    },
    analyzerId: {
      type: Number,
      required: true,
    },
    conciseVersion: {
      type: Boolean,
      required: false,
    },
  },
  components: {
    CompositionEditor,
    InsertEditor,
    GlyphEditor,
    VariableEditor,
  },
  computed: {
    showMicrogestureType() {
      //console.log(this.specificMicrogesture());
      return "type is : " + this.specificMicrogestureValue.type;
    },
    printSelection() {
      return "selection is : " + this.actualSelection;
    },
    isComposition() {
      let t = this.specificMicrogestureValue.type;
      if (t == "or" || t == "then" || t == "and") {
        return true;
      } else if (t == "glyph") {
        return false;
      } else if (t == "seq") {
        return false;
      } else {
        console.log("error in microgesture type");
        console.log(JSON.stringify(this.specificMicrogestureValue));
        return false;
      }
    },
    isSequence() {
      let t = this.specificMicrogestureValue.type;
      if (t == "seq") {
        return true;
      } else {
        return false;
      }
    },
    isEmptyGlyph() {
      let t = this.specificMicrogestureValue.type;
      if (t == "glyph") {
        if (
          this.specificMicrogestureValue.action == undefined &&
          this.specificMicrogestureValue.contact == undefined
        ) {
          return true;
        }
      }
      return false;
    },
    isNoSelection() {
      return this.actualSelection == "" || this.actualSelection == " ";
    },

    displayMicrogesture() {
      // Display the entire microgesture : not the selection
      // stringigy this.specificMicrogesture();
      // return the string
      if (this.microgestureProp.type == "seq") {
        return JSON.stringify(this.microgestureProp.seq, null, 2);
      } else {
        return JSON.stringify(this.microgestureProp, null, 2);
      }
    },
    displaySpecificMicrogesture() {
      // Display the specific microgesture : the selection that need to be edited
      // stringigy this.specificMicrogesture();
      // return the string
      return JSON.stringify(this.specificMicrogestureValue);
    },
    displaySelection() {
      return "selection is : " + this.actualSelection;
    },
    returnVariableIfExist() {
      if (this.microgestureProp.type == "seq") {
        if (this.microgestureProp.listOfVariable != undefined) {
          return this.microgestureProp.listOfVariable;
        }
      }

      return [];
    },
  },
  methods: {
    specificMicrogesture: function () {
      //actualSelection is type of tree selection "0-1" or "0-1-0"
      // this function return as simplified microgestureProp according to selection
      // if actualSelection is "0-1" then return microgestureProp.operands[0].operants[1]
      // if actualSelection is "0-1-0" then return microgestureProp.operands[0].operants[1].operants[0]

      // This is the root.
      // 2 options "v" nmeans variable edit, "0" means the root of index tree of microgestureProp
      console.log(
        "start creating specific microgesture. Actual selection is:" +
          this.actualSelection
      );
      if (this.actualSelection === "" || this.actualSelection === " ") {
        console.log("actual selection is empty - erase specific microgesture");
        return this.microgesture;
        //This is the root the microgesture
      } else if (this.actualSelection.length < 2) {
        if (this.actualSelection == "v") {
          //edit the variable sequence
          return this.microgesture;
        } else {
          // edit the root the microgesture
          if (["and", "or", "then", "glyph"].includes(this.microgesture.type)) {
            console.log("Create specific microgesture type and/or/then/glyph");
            return this.microgesture;
          } else if (this.microgesture.type === "seq") {
            console.log("Create specific microgesture type seq");
            console.log(JSON.stringify(this.microgesture.seq));
            return this.microgesture.seq;
          } else if (this.microgesture.type === "glyph") {
            console.log("Create specific microgesture type glyph");
            return this.microgesture;
          } else {
            console.log("Create specific microgesture error");

            return {};
          }
        }
      } else {
        // This one element of the tree
        //remove the "0-" from actualSelection
        let actualSelectionWithoutFirst = this.actualSelection.slice(2);

        //transform actualSelection into array of int
        let selectionArray = actualSelectionWithoutFirst
          .split("-")
          .map((x) => Number(x));
        //console.log(selectionArray);
        let result = this.microgesture;

        for (let i = 0; i < selectionArray.length; i++) {
          // Exception for the 1st element, if there is variable
          if (this.microgesture.type == "seq" && i === 0) {
            result = result.seq.operands[selectionArray[i]];
          } else {
            result = result.operands[selectionArray[i]];
          }
        }

        return result;
      }
    },
    validate: function () {
      //put back the specific microgesture in the microgestureProp ( the global one)
      //actualSelection is type of tree selection "0-1" or "0-1-0"
      //update the specific microgesture in the microgestureProp
      console.log("Editor validate . Display specific microgesture value iD :");
      console.log(JSON.stringify(this.specificMicrogestureValue));
      console.log(
        "merge with microgesture main. sel is=" + this.actualSelection
      );
      this.updateMicrogestureFromSpecificMicrogesture();
      console.log(JSON.stringify(this.microgesture));
      this.$emit("updateMicrogesture", this.microgesture);
      this.actualSelection = "";
      this.dialog = false;
    },
    cancel: function () {
      this.dialog = false;
      this.$emit("cancelMicrogesture");
    },
    updateSpecifiMicrogestureFromMicrogesture() {
      //update from the outside, after modifing the props
      // DONT DO THIS : because we want to keep the props, in case of cancel.
      // Cancel is a problem because it hard for parent to update the prop value, is the value has not been update.
      //this.microgesture = this.microgestureProp;
      //Instead create a clean copy

      console.log(
        "Editor Component : update updateSpecifiMicrogestureFromMicrogesture"
      );
      this.microgesture = JSON.parse(JSON.stringify(this.microgesture));
      console.log("this.microgesture.seq = ");
      console.log(JSON.stringify(this.microgesture.seq));

      this.specificMicrogestureValue = this.specificMicrogesture();
    },
    updateMicrogestureFromSpecificMicrogesture() {
      //update from the inside. update this.microgesture from this.specificMicrogestureValue
      //put back the specific microgesture in the microgestureProp ( the global one)
      //actualSelection is type of tree selection "0-1" or "0-1-0"
      //update the specific microgesture in the microgestureProp
      console.log("Editor update specific microgesture");
      // remove the "0-" from actualSelection
      if (this.actualSelection === "" || this.actualSelection === " ") {
        console.log("actual selection is empty");
        this.microgesture = this.specificMicrogestureValue;
      } else if (this.actualSelection == "v") {
        // In the case of editing the variable, the specific microgesture is the microgesture
        this.microgesture = this.specificMicrogestureValue;
      } else if (this.actualSelection.length < 2) {
        //Editing the root of the microgesture
        //check if there is variable or not
        if (this.microgesture.type == "seq") {
          this.microgesture.seq = this.specificMicrogestureValue;
        } else {
          this.microgesture = this.specificMicrogestureValue;
        }
      } else {
        let actualSelectionWithoutFirst = this.actualSelection.slice(2);

        //transform actualSelection into array of int
        let selectionArray = actualSelectionWithoutFirst
          .split("-")
          .map((x) => Number(x));
        console.log(selectionArray);
        let result;
        if (this.microgesture.type == "seq") {
          result = this.microgesture.seq;
        } else {
          result = this.microgesture;
        }

        // This is computer programming challenge
        // Change one object in a tree of object.
        // result has to stay a reference to the microgestureProp, so result = {another object} is not possible
        // instead result.operands[i] = {another object} is possible
        for (let i = 0; i < selectionArray.length; i++) {
          if (i == selectionArray.length - 1) {
            result.operands[selectionArray[i]] = this.specificMicrogestureValue;
          } else {
            result = result.operands[selectionArray[i]];
          }
        }

        // console.log(    "validate " + JSON.stringify(result) + "\n \n" +  JSON.stringify(this.microgesture));
      }
    },
    editChildComponent(index) {
      //first update the microgesture, without emitting the updateMicrogesture event.
      //This is a temporary update of the changes, that need to be save before editing the children
      console.log("edit child component " + index);
      this.updateMicrogestureFromSpecificMicrogesture();
      this.actualSelection = this.actualSelection + "-" + index;
      this.updateSpecifiMicrogestureFromMicrogesture();
    },
  },
  emits: ["updateMicrogesture", "cancelMicrogesture"],
  data() {
    return {
      dialog: false,
      microgesture: {},
      specificMicrogestureValue: {},
      actualSelection: "",
    };
  },
  mounted() {
    this.microgesture = this.microgestureProp;
    if (
      this.actualSelectionProp != undefined &&
      this.actualSelectionProp != ""
    ) {
      console.log("Editor component : mounted with selection");
      this.actualSelection = this.actualSelectionProp;

      this.updateSpecifiMicrogestureFromMicrogesture();
    } else {
      console.log("Editor component : mounted without selection");
    }
  },
  //watch actual selection
  watch: {
    actualSelectionProp: function () {
      this.actualSelection = this.actualSelectionProp;
      if (this.actualSelection != "") {
        console.log(
          "Editor component : actual selection changed = " +
            this.actualSelection
        );
        console.log("display microgesture prop  change");
        console.log(JSON.stringify(this.microgestureProp));
        this.updateSpecifiMicrogestureFromMicrogesture();
        console.log(
          "End of watch actual selection. Display specific microgesture value iD :" +
            this.analyzerId
        );
        console.log(JSON.stringify(this.specificMicrogestureValue));
        this.dialog = true;
      }
    },
    microgestureProp: function () {
      this.microgesture = this.microgestureProp;
    },
  },
};
</script>

<style scoped>
.force_lowercase {
  text-transform: lowercase !important;
}
</style>
