<template>
  <v-card>
    <v-card-text>
      <v-container style="min-width: fit-content" class="ma-0 pa-0">
        <v-row>
          <v-col cols="4"> </v-col>
          <v-col cols="4">
            <glyph-component v-model="microgesture" />
          </v-col>
          <v-col cols="4"> </v-col>
        </v-row>
        <v-row class="d-flex flex-nowrap">
          <v-col cols="4" style="min-width: 250px">
            <ul>
              <li>
                Finger
                <v-tooltip text="Please indicate which finger is moving ">
                  <template v-slot:activator="{ props }">
                    <v-icon v-bind="props" icon="mdi-help-circle-outline" />
                  </template>
                </v-tooltip>
                <div
                  class="d-flex"
                  v-for="[i, act] of actuator?.entries()"
                  :key="`${i}-act-${act}`"
                >
                  <v-select
                    density="compact"
                    label="Actuator"
                    v-model="actuator[i]"
                    :items="actuatorList"
                    @update:modelValue="changeActuator"
                  />
                  <button
                    v-if="actuator.length > 1"
                    style="position: relative; top: -10px"
                    @click="removeActuator(i)"
                  >
                    <v-icon icon="mdi-minus-circle-outline" />
                  </button>
                </div>
                <button
                  v-if="multipleActuatorImplemetend"
                  class="ma-auto d-block"
                  @click="actuator.push('')"
                >
                  <v-icon icon="mdi-plus-circle-outline" />
                </button>
              </li>
              <li>
                Phalanx:
                <v-tooltip text="Specify which part of the finger">
                  <template v-slot:activator="{ props }">
                    <v-icon v-bind="props" icon="mdi-help-circle-outline" />
                  </template>
                </v-tooltip>
                <div v-if="isPhalanxDefined">
                  <div
                    class="d-flex align-center"
                    v-for="[i, p] of phalanx?.entries()"
                    :key="`${i}-p-${p}`"
                  >
                    <v-select
                      density="compact"
                      label="Phalanx"
                      v-model="phalanx[i].segment"
                      :items="phalanxList"
                      @update:modelValue="changePhalanx"
                    ></v-select>
                    <v-select
                      density="compact"
                      label="Side"
                      v-model="phalanx[i].side"
                      :items="sideList"
                      @update:modelValue="changePhalanx"
                    ></v-select>
                    <button
                      v-if="phalanx.length > 1"
                      style="position: relative; top: -10px"
                      @click="
                        () => {
                          phalanx = phalanx.filter((_, j) => i !== j);
                          changePhalanx();
                        }
                      "
                    >
                      <v-icon icon="mdi-minus-circle-outline" />
                    </button>
                  </div>
                </div>
                <div v-else>
                  <v-btn color="blue" @click="addPhalanx">
                    specify phalanx
                  </v-btn>
                </div>
                <button
                  class="ma-auto d-block"
                  v-if="multipleActuatorImplemetend"
                  @click="phalanx.push({ side: '', segment: '' })"
                >
                  <v-icon icon="mdi-plus-circle-outline" />
                </button>
              </li>
              <li>
                Direction:
                <v-tooltip text="Please indicate direction of finger movement">
                  <template v-slot:activator="{ props }">
                    <v-icon v-bind="props" icon="mdi-help-circle-outline" />
                  </template>
                </v-tooltip>
                <v-select
                  density="compact"
                  v-model="action"
                  :items="actionList"
                  label="Action"
                  @update:modelValue="changeAction"
                ></v-select>
              </li>
              <li>
                Context:
                <v-tooltip
                  text="Precise the departure context and the arrival context of the movement"
                >
                  <template v-slot:activator="{ props }">
                    <v-icon v-bind="props" icon="mdi-help-circle-outline" />
                  </template>
                </v-tooltip>
                <v-select
                  density="compact"
                  v-model="context"
                  :items="contextList"
                  item-title="state"
                  item-value="state"
                  @update:modelValue="changeContext"
                  label="Context"
                  return-object
                ></v-select>
              </li>
            </ul>
          </v-col>

          <v-col cols="4" style="min-width: 250px" class="mx-0 border-s-md">
            Contact:
            <v-tooltip
              text="Specify the surface touched. Choose Contact for another finger touched"
            >
              <template v-slot:activator="{ props }">
                <v-icon v-bind="props" icon="mdi-help-circle-outline" />
              </template>
            </v-tooltip>
            <ul>
              <template v-if="isContactDefined">
                <li>
                  Type:
                  <v-select
                    density="compact"
                    v-model="contactAction"
                    :items="contactActionList"
                    @update:modelValue="changeContactAction"
                  ></v-select>
                </li>
                <li>
                  Finger:
                  <v-tooltip text="Specify which finger is touched">
                    <template v-slot:activator="{ props }">
                      <v-icon v-bind="props" icon="mdi-help-circle-outline" />
                    </template>
                  </v-tooltip>
                  <div
                    class="d-flex"
                    v-for="[i, act] of contactActuator?.entries()"
                    :key="`${i}-act-${act}`"
                  >
                    <v-select
                      density="compact"
                      v-model="contactActuator[i]"
                      :items="actuatorList"
                      @update:modelValue="changeContactActuator(i)"
                      @click:append="changeContactActuator(i)"
                    />
                    <button
                      style="position: relative; top: -10px"
                      @click="removeContactActuator(i)"
                      v-if="multipleActuatorImplemetend"
                    >
                      <v-icon icon="mdi-minus-circle-outline" />
                    </button>
                  </div>
                  <button
                    class="ma-auto d-block"
                    @click="contactActuator.push('')"
                    v-if="multipleActuatorImplemetend"
                  >
                    <v-icon icon="mdi-plus-circle-outline" />
                  </button>
                </li>
                <li>
                  Phalanx:
                  <div
                    class="d-flex"
                    v-for="[i, p] of phalanxContact.entries()"
                    :key="`${i}-p-${p}`"
                  >
                    <v-select
                      density="compact"
                      label="phalanxContact"
                      v-model="phalanxContact[i].segment"
                      :items="[...phalanxList, 'palm']"
                      @update:modelValue="changePhalanxContact"
                    ></v-select>
                    <v-select
                      density="compact"
                      label="sideContact"
                      v-model="phalanxContact[i].side"
                      :items="sideList"
                      @update:modelValue="changePhalanxContact"
                    ></v-select>
                    <button
                      style="position: relative; top: -10px"
                      v-if="multipleActuatorImplemetend"
                      @click="
                        () => {
                          phalanxContact = phalanxContact.filter(
                            (_, j) => i !== j
                          );
                          changePhalanxContact();
                        }
                      "
                    >
                      <v-icon icon="mdi-minus-circle-outline" />
                    </button>
                  </div>
                  <button
                    class="ma-auto d-block"
                    @click="phalanxContact.push({ side: '', segment: '' })"
                    v-if="multipleActuatorImplemetend"
                  >
                    <v-icon icon="mdi-plus-circle-outline" />
                  </button>
                </li>
              </template>
              <li v-else>
                <v-btn color="blue" @click="addContact"> specify contact</v-btn>
              </li>
            </ul>
          </v-col>
          <v-col
            cols="4"
            v-if="isParameterGoal"
            style="min-width: 225px"
            class="border-s-md mx-1 pa-1"
          >
            <v-btn
              color="blue"
              @click="addParameter"
              v-if="!isParameterDefined"
            >
              specify parameter</v-btn
            >
            <div v-else class="dx-1 mx-0 border" style="width: 220px">
              <v-select
                v-model="parameterType"
                @update:modelValue="changeParameter"
                :items="parameterChoice"
                density="compact"
                class="dx-0"
              ></v-select>
              <div v-if="parameterType == 'amplitude'">
                <v-radio-group
                  v-model="parameterAmplitudeType"
                  density="compact"
                  inline
                >
                  <v-radio label="Amplitude" value="amplitude"></v-radio>
                  <v-radio label="Start-End" value="startend"></v-radio>
                </v-radio-group>
                <div v-if="parameterAmplitudeType == 'amplitude'">
                  <v-slider
                    v-model="parameterAmplitudeAmplitude"
                    @update:modelValue="changeAmplitudeAmplitude"
                    thumb-label="always"
                    min="0"
                    max="100"
                    step="1"
                  >
                  </v-slider>
                  Motion Amplitude: {{ parameterAmplitudeAmplitude }} %
                  <br />
                </div>
                <div v-else>
                  <v-range-slider
                    v-model="parameterAmplitudeStartEnd"
                    step="10"
                    min="0"
                    max="100"
                    thumb-label="always"
                    @update:modelValue="changeAmplitudeStartEnd"
                  ></v-range-slider>
                  Start : {{ parameterAmplitudeStartEnd[0] }} % End :
                  {{ parameterAmplitudeStartEnd[1] }} %
                </div>
              </div>
              <div v-else>
                <v-range-slider
                  v-model="parameterPressureStartEnd"
                  step="10"
                  min="0"
                  max="100"
                  thumb-label="always"
                  @update:modelValue="changePressureStartEnd"
                ></v-range-slider>
                Start : {{ parameterPressureStartEnd[0] }} % End :
                {{ parameterPressureStartEnd[1] }} %
              </div>
              <br />
              <center>
                <v-btn @click="removeParameter"> Remove </v-btn>
              </center>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import GlyphComponent from "../MicrogestureComponents/GlyphComponent.vue";
import { computed } from "vue";
import { store } from "@/store";

export default {
  name: "GlyphEditor",
  components: { GlyphComponent },
  props: {
    modelValue: {
      type: Object,
      required: true,
    },
    variableList: {
      type: Array,
      required: true,
    },
  },
  methods: {
    changeContext() {
      this.microgesture.context = this.context.value;
      console.log("change context : " + this.context);
      console.log(this.modelValue.context);
    },
    changeActuator() {
      console.log("change actuator : " + this.actuator);
      this.microgesture.actuator = [this.actuator];
    },
    removeActuator(i) {
      // actuator is an array. remove the index i from the array
      this.actuator.splice(i, 1);
    },
    changeAction() {
      console.log("change action : " + this.action);
      this.microgesture.action = this.action;
    },
    addPhalanx() {
      if (this.microgesture.phalanx == undefined) {
        this.microgesture.phalanx = [this.phalanx];
      } else {
        this.microgesture.phalanx[0][0].segment = "tip";
      }
    },
    changePhalanx() {
      console.log("change phalanx : " + this.action);
      if (this.phalanx.length === 0) this.microgesture.phalanx = [];
      else this.microgesture.phalanx = [this.phalanx];
    },
    changeContactAction() {
      console.log("change contact action : " + this.contactAction);
      if (this.contactAction === "No Contact") {
        this.removeContact();
      } else {
        if (this.contactAction !== undefined && this.contactAction !== "") {
          this.microgesture.contact.action = this.contactAction;
        }
      }
      // check if contactAction is defined and not empty
    },
    removeContact() {
      delete this.microgesture.contact;
    },
    changeContactActuator(i) {
      console.log("change contact : " + this.contactActuator);
      if (
        this.contactActuator !== undefined &&
        this.contactActuator[i] !== ""
      ) {
        this.microgesture.contact.actuator[i] = [this.contactActuator[i]];
      }
    },
    removeContactActuator(i) {
      // actuator is an array. remove the index i from the array
      this.contactActuator.splice(i, 1);
    },
    changePhalanxContact() {
      console.log("change Phalanx contact : " + this.phalanxContact);
      // if phalanx is any, remove the phalanx key
      if (this.phalanxContact.length === 0) {
        delete this.microgesture.contact.phalanx;
      } else if (this.phalanxContact === "any") {
        delete this.microgesture.contact.phalanx;
      } else {
        this.microgesture.contact.phalanx = [this.phalanxContact];
      }
      console.log(this.microgesture);
    },
    addContact() {
      this.contactAction = this.contactActionList[0];
      this.microgesture.contact = {
        actuator: [[this.contactActuator[0]]],
        action: this.contactActionList[0],
      };
    },
    addParameter() {
      this.microgesture.parameters = { amplitude: { amplitude: 50 } };
    },
    changeParameter() {
      console.log("change parameter : " + this.parameterType);
      // remove all key all this.microgesture.parameters different that parameterType
      for (const key in this.microgesture.parameters) {
        if (key !== this.parameterType) {
          delete this.microgesture.parameters[key];
        }
      }
    },
    changeAmplitudeAmplitude() {
      this.microgesture.parameters.amplitude = {
        amplitude: this.parameterAmplitudeAmplitude,
      };
    },
    changeAmplitudeStartEnd() {
      this.microgesture.parameters.amplitude = {
        start: this.parameterAmplitudeStartEnd[0],
        end: this.parameterAmplitudeStartEnd[1],
      };
    },
    changePressureStartEnd() {
      this.microgesture.parameters.pressure = {
        start: this.parameterPressureStartEnd[0],
        end: this.parameterPressureStartEnd[1],
      };
    },
    removeParameter() {
      delete this.microgesture.parameters;
    },
  },
  data() {
    return {
      actuatorList: ["thumb", "index", "middle", "ring", "pinky"],
      contextList: [
        { state: "Air", value: ["Air"] },
        { state: "Contact", value: ["Contact"] },
        { state: "Air to Air", value: ["Air", "Air"] },
        { state: "Air to Contact", value: ["Air", "Contact"] },
        { state: "Contact to Air", value: ["Contact", "Air"] },
        { state: "Contact to Contact", value: ["Contact", "Contact"] },
      ],
      actionList: [
        "Flexion",
        "Extension",
        "Abduction",
        "Adduction",
        "Still",
        "Any",
      ],
      phalanxList: ["any", "tip", "middle", "base"],
      sideList: ["any", "left", "right", "front", "dorsal"],
      contactActionList: ["Contact", "Object", "Air", "Plus", "No Contact"],
      multipleActuatorImplemetend: false,
      actuator: [""],
      context: { state: "", value: [] },

      action: "",
      phalanx: [{ segment: "tip", side: "any" }],
      contactAction: "Contact",
      contactActuator: [""],
      phalanxContact: [{ segment: "", side: "" }],
      parameterChoice: ["amplitude", "pressure"],
      parameterType: "amplitude",
      parameterAmplitudeType: "amplitude",
      parameterAmplitudeAmplitude: 50,
      parameterAmplitudeStartEnd: [0, 100],
      parameterPressureStartEnd: [0, 100],
    };
  },
  computed: {
    microgesture() {
      return this.modelValue;
    },
    showActuator() {
      // this.microgeste.actuator is an array of arrays. If its is empty or does not exist, return "".
      // else, return a string with all actuator values, in one string, eg : "thumb, index"
      if (
        this.microgesture.actuator === undefined ||
        this.microgesture.actuator.length === 0
      ) {
        return "";
      } else {
        return this.microgesture.actuator.join(", ");
      }
    },
    isContactDefined() {
      return this.microgesture.contact !== undefined;
    },
    isPhalanxDefined() {
      if (this.microgesture.phalanx == undefined) {
        return false;
      } else {
        if (
          this.microgesture.phalanx.length > 0 &&
          this.microgesture.phalanx[0].length > 0
        ) {
          return (
            this.microgesture.phalanx[0][0].segment !== "any" ||
            this.microgesture.phalanx[0][0].side !== "any"
          );
        } else {
          return true;
        }
      }
    },
    isParameterGoal() {
      let res = false;
      if (this.microgesture.context?.length == 2) {
        if (this.microgesture.context[0] == this.microgesture.context[1]) {
          res = true;
        }
      }
      return res;
    },
    isParameterDefined() {
      return this.microgesture.parameters !== undefined;
    },

    lastContextValueIsContact() {
      return (
        this.microgesture.context[this.microgesture.context.length - 1] ==
        "Contact"
      );
    },
  },
  provide() {
    return {
      isConcise: computed(() => store.conciseMode),
    };
  },
  //watch for changes in the modelValue
  beforeMount() {
    //add variable ton actuatorList
  },

  mounted() {
    console.log("GlyphEditor : modelValue changed");
    //this.actuator = this.microgesture.actuator[0][0];

    //this.context . Find in the contextList the element where the value is equal to microgesture.context
    //and set the context to this element
    if (this.microgesture.context != undefined) {
      this.context = this.contextList.find(
        (element) =>
          element.value[0] == this.microgesture.context[0] &&
          element.value[1] == this.microgesture.context[1]
      );
    }

    //check is microgesture.action is defined, if not, set it to "Any"
    if (this.microgesture.contact != undefined) {
      this.contactAction = this.microgesture.contact.action;
      if (this.microgesture.contact.phalanx != undefined) {
        console.log(this.microgesture.contact.phalanx[0]);
        this.phalanxContact = this.microgesture.contact.phalanx[0];
      }
      this.contactActuator = this.microgesture.contact.actuator;
    }

    if (this.microgesture.action != undefined) {
      this.action = this.microgesture.action;
    }

    if (this.microgesture.actuator != undefined) {
      this.actuator = this.microgesture.actuator;
    }

    if (this.microgesture.phalanx != undefined) {
      this.phalanx = this.microgesture.phalanx[0];
    }

    console.log(
      "Glyph Editor before mount variable " + this.variableList.length
    );

    this.variableList.forEach((element) => {
      //if element.name start with "x" , add to actuatorList
      if (element.name.startsWith("x")) {
        this.actuatorList.push(element.name);
      }

      if(element.name.startsWith("y")) {
        this.phalanxList.push(element.name);
      }
    });

    if (this.microgesture.parameters?.amplitude?.amplitude != undefined) {
      this.parameterAmplitudeAmplitude =
        this.microgesture.parameters.amplitude.amplitude;
    }
  },
};
</script>

<style>
ul {
  list-style: none;
}
</style>
