<template>
  <v-card>
    <v-card-title class="text-h5"> Insert New Glyph </v-card-title>
    <v-card-text>
      <v-container style="width: 100%">
        <v-row>
          <h3>1. Insert a pre-made glyph</h3>
        </v-row>
        <v-row>
          <v-col
            cols="auto"
            v-for="miniGesture in miniGestureList"
            :key="miniGesture.miniName"
          >
            <v-btn
              color="blue"
              style="height: 80px; text-transform: none"
              @click="addMiniGesture(miniGesture.miniName)"
            >
              <span style="text-transform: uppercase">{{
                miniGesture.miniName
              }}</span>
              <microgesture-component
                v-model="miniGesture.microgesture"
                :inConstruction="false"
                :conciseVersion="conciseVersion"
                :indexAnalyzer="-1"
              />
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-divider></v-divider>
        </v-row>
        <v-row v-if="this.gestureLibraryImplemented">
          <h3>2. Insert a pre-made microgesture</h3>
        </v-row>
        <v-row v-if="this.gestureLibraryImplemented">
          <v-col cols="12">
            <v-sheet class="pa-2 ma-2 border rounded-lg" elevation="8">
              <v-select
                v-model="addAnalyzerLibrarySelected"
                :items="gestureLibrary"
                :item-props="gestureLibraryDisplay"
                label="Type"
                dense
                @update:model-value="updatePreview"
              >
              </v-select>

              <v-btn color="blue" @click="addFromLibrary"
                >Add from library</v-btn
              >

              <v-tooltip
                location="end"
                activator="parent"
                v-if="microgesturePreview != undefined"
                model-value
              >
                <microgesture-component
                  v-model="microgesturePreview"
                  :inConstruction="false"
                  :conciseVersion="conciseVersion"
                  :indexAnalyzer="-1"
                />
              </v-tooltip>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import MicrogestureComponent from "../MicrogestureComponent.vue";
import { socket } from "@/socket";

export default {
  name: "InsertEditor",
  components: {
    MicrogestureComponent,
  },
  props: {
    modelValue: {
      type: Object,
      required: true,
    },
    variableList: {
      type: Array,
      required: true,
    },
    analyzerIndex: {
      type: Number,
      required: true,
    },
    conciseVersion: {
      type: Boolean,
      required: false,
    },
  },
  methods: {
    addMiniGesture(miniName) {
      console.log("add mini gesture : " + miniName);
      console.log(this.miniGestureList);
      let miniGesture = this.miniGestureList.find(
        (element) => element.miniName == miniName
      );
      console.log(miniGesture);
      //this.microgesture = miniGesture.microgesture;
      //dont overide the pointer, juste replace all the value, one by one.
      this.microgesture.type = miniGesture.microgesture.type;
      this.microgesture.action = miniGesture.microgesture.action;
      this.microgesture.context = miniGesture.microgesture.context;
      this.microgesture.actuator = miniGesture.microgesture.actuator;
      if (miniGesture.microgesture.contact != undefined) {
        this.microgesture.contact = miniGesture.microgesture.contact;
      }

      console.log(this.modelValue);
    },
    gestureLibraryDisplay(item) {
      return {
        title: item.name,
        subtitle: item.filename,
      };
    },
    updatePreview() {
      console.log("update preview");
      socket.emit("analyzers/editor/askPreview", {
        filename: this.addAnalyzerLibrarySelected.filename,
        index: this.analyzerIndex,
      });
    },
    addFromLibrary() {
      console.log("BUGGGG");
      console.log("add from library ...");
      //TODO . Send it to backend server, with name and indextree, and let it update the formula.
      // This is kind of shitty, because need to add some variable, but maybe there is already some variables etc...
      console.log(" NOT implemented yet");

      // if (this.microgesturePreview != undefined) {
      //   this.$emit("update:modelValue", this.microgesturePreview);
      // }
    },
  },
  data() {
    return {
      choiceList: ["glyph editor", "insert existing editor"],
      miniGestureList: [
        {
          miniName: "tap",
          microgesture: {
            type: "glyph",
            action: "Flexion",
            context: ["Air", "Contact"],
            actuator: [["thumb"]],
            contact: {
              actuator: [["index"]],
              action: "Contact",
            },
          },
        },
        {
          miniName: "release",
          microgesture: {
            type: "glyph",
            action: "Extension",
            context: ["Contact", "Air"],
            actuator: [["thumb"]],
          },
        },
        {
          miniName: "in the air",
          microgesture: {
            type: "glyph",
            action: "Flexion",
            context: ["Air", "Air"],
            actuator: [["index"]],
          },
        },
        {
          miniName: "on touch",
          microgesture: {
            type: "glyph",
            action: "Extension",
            context: ["Contact", "Contact"],
            actuator: [["index"]],
          },
        },
      ],
      addAnalyzerLibrarySelected: undefined,
      gestureLibraryImplemented: false, // this is a flag to know if the gesture library is implemented. Still under development
      gestureLibrary: [],
      microgesturePreview: undefined,
    };
  },
  computed: {
    microgesture() {
      return this.modelValue;
    },
  },
  //watch for changes in the modelValue
  beforeMount() {
    //add variable ton actuatorList
  },

  mounted() {
    socket.emit("analyzers/editor/askgesturelibrary", {
      index: this.analyzerIndex,
    });

    socket.on(
      "analyzer/" + String(this.analyzerIndex) + "/editor/previewLibrary",
      (m) => {
        //copy the object with JSON
        this.microgesturePreview = JSON.parse(JSON.stringify(m));
        console.log("Insert editor library: preview");
        console.log(JSON.stringify(this.microgesturePreview));
      }
    );

    socket.on(
      "analyzer/" + String(this.analyzerIndex) + "/editor/gestureLibrary",
      (gestureLibrary) => {
        console.log("Editor component : gesture library updated");
        this.gestureLibrary = gestureLibrary;
      }
    );
  },
};
</script>
