<template>
  <v-container class="pa-0 ma-0 ">
    <v-row class="pa-0 ma-0" v-for="(variable, index) of microgesture.listOfVariable"
    :key="index">
      <v-col class="pa-0 ma-0" >

          <v-btn class="pa-1 mb-1 forcelowercase" @click="editVariable">

            <p :style="{ 'font-size': sizeChange }">
              {{ variable.name }}

              <template v-if="!variable.isDefined">
                in {
                <template
                  v-for="(fingerOr, iOr) of variable.formula"
                  :key="iOr"
                >
                  <template v-for="(fingerAnd, iAnd) of fingerOr" :key="iAnd">
                    <span :style="{ color: colorChange }"
                      ><b>{{ fingerAnd }}</b>
                    </span>

                    <span v-if="iAnd < fingerOr.length - 1"> & </span>
                  </template>
                  <span v-if="iOr < variable.formula.length - 1"> | </span>
                </template>
                }
              </template>
              <template v-else>
                =
                <span :style="{ color: colorChange }">
                  <template
                    v-for="(fingerAnd, iAnd) of variable.value"
                    :key="iAnd"
                    ><b>{{ fingerAnd }}</b></template
                  >
                </span>
              </template>
            </p>
            <br />
          </v-btn>
      </v-col>
    </v-row>
    <v-row class="pa-0 ma-0 d-flex flex-nowrap" no-gutters>
      <v-col class="pa-0 ma-0">
        <CompositionEditor
          v-model="microgesture.seq"
          indexTree="0"
          :inConstruction="inConstruction"
          @editChild="editChild"
        />
      </v-col>
    </v-row>
  </v-container>
</template>
  
  <script setup>
import CompositionEditor from "./CompositionEditor.vue";
import { ref, defineProps, defineEmits, watch, computed } from "vue";

const props = defineProps({
  modelValue: {
    type: Object,
    required: true,
  },
  inConstruction: { type: Boolean, default: false },
});

const emits = defineEmits([]);

const editVariable = (index) => {
  console.log("edit variable");
  emits("editChild", "v"); //v as name code for variable
};

const editChild = (index) => {
  console.log("edit Child from SequenceEditor : "+index);
  emits("editChild", index); //v as name code for variable
};

//create a watch function for microgesture
watch(
  () => props.modelValue,
  (newValue, oldValue) => {
    emits("update:modelValue", newValue);
    console.log("Composition editor : microgesture changed");
  }
);

const microgesture = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    console.log("Composition editor : set microgesture ");
  },
});
</script>
  
<style scoped>
.forcelowercase {
  text-transform: lowercase !important;
  font-size: smaller;
}
</style>
  