<template>
  <v-card>
    <v-card-title class="text-h5"> Variable Editor </v-card-title>
    <v-card-text>
      This is the Variable Editor
      <v-container style="width: 900px">
        <v-row
          v-for="(variable, index) in microgesture.listOfVariable"
          :key="index"
          class="border flex-inline my-1"
        >
          <v-col cols="1" class="d-flex">
            <span class="formula-symbol">{{ variable.name }}&nbsp;= </span>
          </v-col>
          <v-col cols="10" class="d-flex px-2">
            <template v-for="(fingerOr, iOr) of variable.formula" :key="iOr">
              <template v-for="(fingerAnd, iAnd) of fingerOr" :key="iAnd">
                <span v-if="iAnd == 0" class="formula-symbol"> &#40; </span>
                <v-select
                  v-if="variable.name.startsWith('x')"
                  density="compact"
                  :items="listOfFinger"
                  variant="solo"
                  v-model="variable.formula[iOr][iAnd]"
                  style="min-width: 100px; height: 50px"
                  @update:modelValue="selectChange(index, iOr, iAnd)"
                  ></v-select
                >
                <v-select
                  v-if="variable.name.startsWith('y')"
                  density="compact"
                  :items="listOfPhalanxSegment"
                  variant="solo"
                  v-model="variable.formula[iOr][iAnd]"
                  style="min-width: 100px; height: 50px"
                  @update:modelValue="selectChange(index, iOr, iAnd)"
                  ></v-select
                >

                <span
                  v-if="iAnd == fingerOr.length - 1"
                  class="formula-add-icon"
                >
                  <v-icon
                    icon="mdi-plus-circle"
                    @click="addAndElement(index, iOr, iAnd)"
                  ></v-icon>
                </span>

                <span v-if="iAnd == fingerOr.length - 1" class="formula-symbol">
                  &#41;
                </span>

                <span v-if="iAnd < fingerOr.length - 1" class="formula-symbol">
                  &
                </span>
              </template>
              <span
                v-if="iOr < variable.formula.length - 1"
                class="formula-symbol"
              >
                |
              </span>
              <v-icon
                v-else
                icon="mdi-plus-circle-outline"
                @click="addOrElement(index, iOr)"
              ></v-icon>
            </template>
          </v-col>
          <v-col cols="1" class="border mx-0">
            <v-btn
              icon
              variant="outlined"
              @click="deleteVariable(index)"
              color="grey-lighten-2"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="4" class="d-flex">
            <v-btn @click="addVariableX" color="primary">
              add variable X
            </v-btn>
            &nbsp; &nbsp;&nbsp;
            <v-btn @click="addVariableY" color="primary">
              add variable Y
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "VariableEditor",
  components: {},
  props: {
    modelValue: {
      type: Object,
      required: true,
    },
  },
  methods: {
    addAndElement(index, iOr, iAnd) {
      // add an element to the formula
      console.log("add element :" + index + " " + iOr + " " + iAnd);
      //this.listOfFingerVariable[index][iOr].splice(iAnd + 1, 0, "-");
      this.microgesture.listOfVariable[index].formula[iOr].splice(
        iAnd + 1,
        0,
        "-"
      );
    },
    addOrElement(index, iOr) {
      // add an element to the formula
      console.log("add element :" + index + " " + iOr);
      //this.listOfFingerVariable[index].splice(iOr + 1, 0, [[]]);
      this.microgesture.listOfVariable[index].formula.splice(iOr + 1, 0, [[]]);
    },
    addVariableX() {
      //let newIndex = this.microgesture.listOfVariable.length + 1;
      // let newIndex : count the number of variable in microgesture.listOfVariable that start with "x", then add 1
      let newIndex = this.microgesture.listOfVariable.filter((x) =>
        x.name.startsWith("x")
      ).length;
      let newName = "x" + newIndex;
      this.microgesture.listOfVariable.push({
        name: newName,
        formula: [["index"]],
      });
      this.orderListOfVariable();
    },
    addVariableY() {
      let newIndex = this.microgesture.listOfVariable.filter((x) =>
        x.name.startsWith("y")
      ).length;
      let newName = "y" + newIndex;
      this.microgesture.listOfVariable.push({
        name: newName,
        formula: [["index"]],
      });
      this.orderListOfVariable();
    },
    orderListOfVariable(){
      // in microgesture.listOfVariable, order the variable by name, first all the variable with "x", then all the variable with "y"
      this.microgesture.listOfVariable.sort((a, b) => {
        if (a.name < b.name) {
          return -1;
        }
        if (a.name > b.name) {
          return 1;
        }
        return 0;
      });

    },
    deleteVariable(index) {
      this.microgesture.listOfVariable.splice(index, 1);
    },
    selectChange(index, iOr, iAnd) {
      // change the value of the formula
      //check if new value == remove ! . if yes, remove it
      if (
        this.microgesture.listOfVariable[index].formula[iOr][iAnd] == "remove !"
      ) {
        // console.log("user want to remove !");
        //this.listOfFingerVariable[index][iOr].splice(iAnd, 1);
        this.microgesture.listOfVariable[index].formula[iOr].splice(iAnd, 1);
        // if the array is empty, remove the array
        if (this.microgesture.listOfVariable[index].formula[iOr].length == 0) {
          this.microgesture.listOfVariable[index].formula.splice(iOr, 1);
        }
      }
    },
  },
  data() {
    return {
      listOfFinger: ["thumb", "index", "middle", "ring", "pinky", "remove !"],
      listOfPhalanxSegment: ["tip", "middle", "base", "nail", "remove !"],
      listOfFingerVariable: [[[]]], // this is exactly the same than microgesture.quantificators
    };
  },
  computed: {
    microgesture() {
      return this.modelValue;
    },
    showActuator() {
      // this.microgeste.actuator is an array of arrays. If its is empty or does not exist, return "".
      // else, return a string with all actuator values, in one string, eg : "thumb, index"
      if (
        this.microgesture.actuator === undefined ||
        this.microgesture.actuator.length === 0
      ) {
        return "";
      } else {
        return this.microgesture.actuator.join(", ");
      }
    },
    isContactDefined() {
      return this.microgesture.contact !== undefined;
    },
  },
  //watch for changes in the modelValue
  beforeMount() {
    console.log("before mount variable");
    console.log(this.microgesture.quantificators);
    //console.log(this.modelValue);
  },
};
</script>

<style scoped>
.formula-symbol {
  font-size: 2.5em;
  font-weight: normal;
}

.formula-add-icon {
  font-size: 1em;
  font-weight: normal;
  padding: 0.5em;
}
</style>