<template>
  <div class="bg-transparent">
    <VariablesComponent
      v-if="microgesture.type === 'seq'"
      v-model="microgesture"
      :indexTree="indexTree"
      :actualSelection="actualSelection"
      :inConstruction="inConstruction"
      @update-selection="updateSelection"
      @hovering="childrenHovering"
      :indexAnalyzer="indexAnalyzer"
    />

    <GlyphComponent
      v-else-if="microgesture.type === 'glyph'"
      v-model="microgesture"
      :indexTree="indexTree"
      :actualSelection="actualSelection"
      :inConstruction="inConstruction"
      @update-selection="updateSelection"
      @hovering="childrenHovering"
      :indexAnalyzer="indexAnalyzer"
    />

    <CompositionComponent
      v-else-if="['and', 'or', 'then'].includes(microgesture.type)"
      v-model="microgesture"
      :indexTree="indexTree"
      :inConstruction="inConstruction"
      :actualSelection="actualSelection"
      @update-selection="updateSelection"
      @hovering="childrenHovering"
      :indexAnalyzer="indexAnalyzer"
    />

    <div v-else-if="microgesture.type === undefined">
      <v-icon icon="mdi-border-none-variant" size="x-large"></v-icon>
    </div>
  </div>
</template>

<script>
import GlyphComponent from "./MicrogestureComponents/GlyphComponent";
import CompositionComponent from "./MicrogestureComponents/CompositionComponent";
import VariablesComponent from "@/components/Microgeste/MicrogestureComponents/VariablesComponent";
import { computed } from "vue";
import { store } from "@/store";
//import InConstructionComponent from "@/components/Microgeste/MicrogestureComponents/InConstructionComponent";

export default {
  name: "MicrogestureComponent",
  components: {
    GlyphComponent,
    CompositionComponent,
    VariablesComponent,
    //InConstructionComponent,
  },
  //inject: ["isConcise"],
  props: {
    modelValue: {
      type: Object,
      required: true,
    },
    highlithedGlyph: {
      type: Number,
    },
    indexTree: {
      type: String,
    },
    actualSelection: {
      type: String,
    },
    inConstruction: {
      type: Boolean,
      default: false,
    },
    conciseVersion: {
      type: Boolean,
      default: true,
    },
    indexAnalyzer: {
      type: Number,
      required: true,
    },
  },
  emits: [
    "update:modelValue",
    "update-selection",
    "hovering",
    "addOperand",
    "addParent",
  ],
  computed: {
    //create micro gesture methods
    microgesture: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
  },
  provide() {
    return {
      isConcise: computed(() => store.conciseMode),
    };
  },
  data() {
    return {};
  },
  mounted() {
    // console.log(
    //   "Microgesture mounted type : " +
    //     this.microgesture.type +
    //     " index : " +
    //     this.indexTree
    // );
  },
  methods: {
    updateSelection(value) {
      this.$emit("update-selection", value);
    },
    childrenHovering(data) {
      //transmit to parent, as there is not hovering here.
      //console.log("micrgesture component : children hovering"+data.index+" "+data.hover)
      this.$emit("hovering", data);
    },
  },
};
</script>

<style scoped>
.bg-transparent {
  background-color: green;
}
.glyph {
  display: flex;
  background-color: antiquewhite;
  vertical-align: middle;
}
.microgeste {
  position: relative;
  display: inline-flex;
  margin: auto 0;
  user-select: none;
}

.microgeste:hover .delete-button {
  opacity: 1;
}

.unicon.red {
  fill: var(--accent);
}
</style>
