<template>
  <div class="container" :class="trashMode ? 'trash-mode' : ''">
    <v-container
      fluid
      class="px-2 py-0 ma-0 border"
      :class="editMode ? 'main-edit rounded elevation-1' : 'main elevation-0'"
    >
      <v-row no-gutters class="pa-0 ma-0">
        <v-col fluid class="d-flex ma-1 pa-1">
          <MicrogestureComponent
            v-model="microgesture"
            :key="reload"
            indexTree="0"
            :actualSelection="actualSelection"
            @update-selection="updateSelection"
            :inConstruction="false"
            :indexAnalyzer="indexAnalyzer"
            :conciseVersion="conciseVersion"
            v-if="!editMode"
          />
          <composition-editor
            v-else-if="['and', 'or', 'then'].includes(microgesture.type)"
            v-model="microgesture"
            @edit-child="editChild"
            indexTree="0"
          />
          <SequenceEditor
            v-else-if="microgesture.type == 'seq'"
            v-model="microgesture"
            @edit-child="editChild"
            indexTree="0"
          />
        </v-col>
        <v-spacer></v-spacer>
        <v-col v-if="editMode" cols="2" class="d-flex ma-0 pa-1">
          <v-container class="ma-0 pa-0">
            <v-row class="ma-0 pa-0" no-gutters align="start">
              <v-col cols="12">
                <span class="microparameter"> Time management </span>
              </v-col>
            </v-row>
            <v-row class="border ma-0 pa-0" no-gutters align="start">
              <v-col cols="6">
                <span class="microparameter"> max :</span>
              </v-col>
              <v-col cols="6">
                <input
                  type="number"
                  v-model="microgesture.duration"
                  min="1000"
                  max="10000"
                />
              </v-col>
            </v-row>
            <v-row class="border ma-0 pa-0" no-gutters align="start">
              <v-col><span class="microparameter">reload :</span> </v-col>
              <v-col>
                <input
                  type="number"
                  id="autoreload"
                  name="tentacles"
                  v-model="microgesture.autoReloadDuration"
                  min="1000"
                  max="10000"
                />
              </v-col>
            </v-row>
            <v-row class="ma-0 pa-0" no-gutters align="start">
              <v-col cols="12">
                <span class="microparameter"> More </span>
              </v-col>
            </v-row>
            <v-row class="border ma-0 pa-0" no-gutters align="start">
              <v-col>
                <v-btn size="x-small" v-if="!isVariable" @click="addVariable"
                  >Add Variables</v-btn
                >
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
      <v-row v-if="!editMode && isEditingButton" no-gutters>
        <v-col cols="3" class="py-0 px-3 d-flex">
          <v-btn elevation="2" @click="switchEditMode(true)"
            ><v-icon color="variant" icon="mdi-pencil"></v-icon> Edit
          </v-btn>
        </v-col>
      </v-row>
      <v-row v-if="editMode && isMicrogestureEmpty">
        <v-col cols="12" align="center">
          <v-btn @click="addEmptyGlyph">Add Empty Glyph</v-btn>
          <v-btn @click="addThenField">Add Then Field</v-btn>
        </v-col>
      </v-row>
      <v-row v-if="editMode" no-gutters>
        <v-col cols="3" class="py-0 px-3 d-flex">
          <v-btn @click="closeEditorWithoutSave" elevation="2"
            ><v-icon color="variant" icon="mdi-close"></v-icon> Cancel
          </v-btn>
          &nbsp;
          <v-btn
            class="mx-2"
            @click="closeEditorAndSave"
            variant="outlined"
            elevation="2"
            ><v-icon color="variant" icon="mdi-content-save"></v-icon> Save
          </v-btn>
        </v-col>
        <v-col cols="4">
          <EditorComponent
            :microgestureProp="microgestureCopy"
            :actualSelectionProp="actualSelection"
            :analyzerId="indexAnalyzer"
            @updateMicrogesture="updateMicrogesture"
            @cancelMicrogesture="cancelMicrogesture"
            :conciseVersion="conciseVersion"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import MicrogestureComponent from "@/components/Microgeste/MicrogestureComponent";
import EditorComponent from "@/components/Microgeste/Editor/EditorComponent";
import CompositionEditor from "@/components/Microgeste/Editor/CompositionEditor";
import SequenceEditor from "@/components/Microgeste/Editor/SequenceEditor";

//change to option API
export default {
  name: "MicrogestureInput",
  components: {
    MicrogestureComponent,
    EditorComponent,
    CompositionEditor,
    SequenceEditor,
  },
  props: {
    microgestureProp: {
      type: Object,
    },
    indexAnalyzer: {
      type: Number,
    },
    conciseVersion: {
      type: Boolean,
      default: true,
    },
    inConstruction: {
      type: Boolean,
    },
    isEditingButton: {
      type: Boolean,
      default: false,
    },
    editModeProp: {
      type: Boolean,
      default: false,
    },
    elevationOnHover: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["update:modelValue", "backupMicrogesture"],
  computed: {
    microgestureCopy: {
      get() {
        return JSON.parse(JSON.stringify(this.microgesture));
      },
    },
    isVariable() {
      let res =
        this.microgesture != undefined && this.microgesture.type == "seq";
      console.log("isVariable : " + res);
      return res;
    },
    isMicrogestureEmpty() {
      // Unique formula to check if the microgesture is empty
      let isEmpty = false;
      if (this.microgesture.type == undefined) {
        isEmpty = true;
      } else if (
        this.microgesture.type == "seq" &&
        this.microgesture.seq.type == undefined
      ) {
        isEmpty = true;
      }
      console.log("isMicrogestureEmpty : " + isEmpty);
      return isEmpty;
    },
    displayMicrogesture() {
      // Display the entire microgesture : not the selection
      // stringigy this.specificMicrogesture();
      // return the string
      if (this.microgesture.type == "seq") {
        return JSON.stringify(this.microgesture.seq);
      } else {
        return JSON.stringify(this.microgesture);
      }
    },
  },

  data() {
    return {
      reload: 0,
      trashMode: false,
      actualSelection: " ", //this is a hack to force the selection to be updated
      editMode: false,
      microgesture: {},
      gestureLibrary: [],
    };
  },
  methods: {
    editChild(index) {
      //index is string "1" or "1-2" or "1-2-3" where each number represent a child index in a tree
      console.log("edit child");
      //and "0-" at first, so "1" become "0-1"
      this.actualSelection = index;
    },
    //create update selection methods
    updateSelection(value) {
      console.log(
        "MicrogestureInput update selection : previous value:" +
          this.actualSelection +
          " new: " +
          value
      );
      this.actualSelection = value;
    },
    switchEditMode(newValue) {
      this.editMode = newValue;
      console.log(" Microgesture Input : switchEditMode : " + newValue);
      //emit to the parent the state of the edit mode
      this.$emit("editMode", this.editMode);
    },

    addVariable() {
      console.log("add variable");
      if (this.microgesture != undefined) {
        this.$emit("addVariable", "");
      }
    },
    updateMicrogesture(value) {
      // This update from the editor, not from the analyzer component ( parent component  )
      this.microgesture = value;
      //When this value change, send the microgesture to websocket in order to update server.
      this.actualSelection = "";
    },
    cancelMicrogesture() {
      // This update from the editor, not from the analyzer component ( parent component  )
      console.log("cancel microgesture from Microgesture input");
      this.actualSelection = "";
      //force update microgestureCopy

      //When this value change, send the microgesture to websocket in order to update server.
    },
    backupMicrogesture() {
      // console.log("INPUT backup microgesture : "+JSON.stringify(value));
      // this the backup from the parent component
      this.$emit("backupMicrogesture");
    },
    onHoverEnter(t) {
      //Do nothing, this a relic from the old code
      console.log(t);
    },
    onHoverLeave() {
      //Do nothing, this a relic from the old code
    },
    addThenField() {
      if (this.microgesture.type == undefined) {
        this.microgesture = {
          type: "then",
          operands: [{ type: "glyph" }, { type: "glyph" }],
        };
        console.log("microgesture updated");
        console.log(this.microgestureCopy);
      } else if (
        this.microgesture.type == "seq" &&
        this.microgesture.seq.type == undefined
      ) {
        this.microgesture.seq = {
          type: "then",
          operands: [{ type: "glyph" }, { type: "glyph" }],
        };
        console.log("microgesture updated");
        console.log(this.microgestureCopy);
      }
    },
    addEmptyGlyph() {
      if (this.microgesture.type == undefined) {
        this.microgesture = {
          type: "glyph",
        };
        console.log("microgesture updated");
        console.log(this.microgestureCopy);
      } else if (
        this.microgesture.type == "seq" &&
        this.microgesture.seq.type == undefined
      ) {
        this.microgesture.seq = {
          type: "glyph",
        };
        console.log("microgesture updated");
        console.log(this.microgestureCopy);
      }
    },
    closeEditorAndSave() {
      this.$emit("updateMicrogesture", this.microgesture);
      this.switchEditMode(false);
      console.log("close editor and save");
    },
    closeEditorWithoutSave() {
      this.$emit("cancelEditing", "");
      this.switchEditMode(false);
      console.log("close editor without save");

      this.backupMicrogesture();
      //TODO : go back to the backup version of microgesture, that was save during the "inscontruction" toogle mode
    },
  },
  mounted() {
    console.log(
      "Microgesture Input: mounted : editModeProp : " + this.editModeProp
    );
    if (this.microgestureProp != undefined) {
      this.microgesture = this.microgestureProp;
      console.log("Microgesture Input: setup microgesture : ");
      console.log(this.microgesture.type);
    }
    if (this.editModeProp) {
      console.log("Microgesture Input: Force native  edit mode : ");
      this.editMode = true;
    }
  },
  watch: {
    inConstruction: function () {
      {
        //Empty selection when going throw construction
        this.actualSelection = "";
        this.editMode = false;
        console.log("MicrogestureInput : inConstruction changed !");
      }
    },
    microgestureProp: function () {
      console.log("MicrogestureInput : microgestureProp changed !");
      this.microgesture = this.microgestureProp;
    },
    debugMessage: function () {
      console.log("MicrogestureInput : debugMessage changed !");
    },
  },
};

/*

const props = defineProps({
  modelValue: {
    type: Object,
  },
  highlithedGlyph: {
    type: Number,
  },
});
const emits = defineEmits(["update:modelValue"]);

const microgesture = computed({
  get() {
    return props.modelValue ?? { type: "in-construction" };
  },
  set(value) {
    emits("update:modelValue", value);
  },
});
const microgestureComponent = ref({}); // dictionary of components inside microgesture

const hoveredInputButton = ref(undefined);
const trashMode = ref(false);

const reload = ref(0);

const inConstruction = ref(false);

provide("microgestureComponent", microgestureComponent);
provide("hoveredInputButton", hoveredInputButton);
provide("trashMode", trashMode);
provide("inConstruction", inConstruction);

function onHoverEnter(t) {
  hoveredInputButton.value = t;
}

function onHoverLeave() {
  onHoverEnter(undefined);
}

function startDrag(e, item, img) {
  e.dataTransfer.setDragImage(document.getElementById(img), 50, 50);
  e.dataTransfer.dropEffect = "move";
  e.dataTransfer.effectAllowed = "move";
  e.dataTransfer.setData("microgeste", JSON.stringify(item));
}

async function paste() {
  const text = await navigator.clipboard.readText();
  const temp = JSON.parse(text);
  if (temp.microgesture) {
    microgesture.value = temp.microgesture;
  }
}

function setMicrogeste(item, mm) {
  if (mm.type === "in-construction") {
    for (const [key, value] of Object.entries(item)) {
      mm[key] = value;
    }
    return true;
  } else if (mm.type === "glyph") {
    return false;
  } else if (["and", "or", "then"].includes(mm.type)) {
    if (mm.type === item.type) {
      for (const x of mm.operands) {
        if (x.type === "in-construction") {
          mm.operands.push({ type: "in-construction" });
          return true;
        }
      }
    }
    for (const x of mm.operands) {
      if (setMicrogeste(item, x)) {
        return true;
      }
    }
    return false;
  } else if (mm.type === "seq") {
    return setMicrogeste(item, mm.seq);
  } else {
    console.log("Incorrect mm type");
    throw Error("Incorrect mm type");
  }
}

function addItem(item) {
  trashMode.value = false;

  if (item.type === "seq") {
    let temp = microgesture.value;
    if (temp.type !== "seq") {
      temp = {
        type: "seq",
        quantificators: {},
        seq: microgesture.value,
      };
    }
    if (!temp.quantificators[item.quantificators]) {
      temp.quantificators[item.quantificators] = [];
    }
    temp.quantificators[item.quantificators].push([]);
    microgesture.value = temp;
  } else {
    const ok = setMicrogeste(item, microgesture.value);
    if (!ok) {
      if (["and", "or", "then"].includes(item.type)) {
        microgesture.value = {
          type: item.type,
          operands: [microgesture.value, { type: "in-construction" }],
        };
      }
    }
  }
  reload.value++;
}

function deleteMM(id) {
  if (["and", "or", "then"].includes(microgestureComponent.value[id].type)) {
    if (microgestureComponent.value[id].operands.length > 2) {
      microgestureComponent.value[id].operands.pop();
    } else {
      const newMM = JSON.parse(
        JSON.stringify(microgestureComponent.value[id].operands[0])
      );
      for (const key of Object.keys(microgestureComponent.value[id])) {
        delete microgestureComponent.value[id][key];
      }
      for (const [key, value] of Object.entries(newMM)) {
        microgestureComponent.value[id][key] = value;
      }
    }
  } else if (microgestureComponent.value[id].type === "seq") {
    microgesture.value = microgestureComponent.value[id].seq;
    delete microgestureComponent.value[id];
  } else if (
    microgestureComponent.value[id].type === "glyph" &&
    microgestureComponent.value[id].contact
  ) {
    delete microgestureComponent.value[id].contact;
  } else {
    for (const key of Object.keys(microgestureComponent.value[id])) {
      delete microgestureComponent.value[id][key];
    }
    microgestureComponent.value[id].type = "in-construction";
  }
  reload.value++;
}

provide("deleteMM", deleteMM);

function trashItem(e) {
  const id = e.dataTransfer.getData("microgesture_id");
  deleteMM(id);
}

*/
</script>

<style scoped>
.container {
  position: relative;
  user-select: none;
}

.possible-glyph-container {
  position: absolute;
  top: -1.5em;
  left: 50%;
  display: flex;
  justify-content: center;
  margin: 20px;
  transform: translate(-50%, -100%);
}

ul {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid var(--microgesture-accent);
  background: var(--background);
  box-shadow: var(--light-shadow);
}

li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  opacity: 0.5;
  font-weight: bolder;
}

li img {
  width: 25px;
  height: 25px;
}

#ctt_img,
#obj_img {
  width: 20px;
  height: 20px;
}

li.spacer {
  width: 20px;
}

li:not(.spacer):hover {
  opacity: 1;
}

p {
  color: var(--textlight);
  margin: 0;
  padding: 0;
  font-size: small;
}

.trash-mode:hover {
  cursor: crosshair;
}

.edit-button {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0%, -50%);
  padding: 5px;
  border-radius: 5px;
  opacity: 0.5;
}

.edit-button:hover {
  opacity: 1;
  cursor: pointer;
}

.myflex {
  display: flex;
  flex-direction: column;
}

.microparameter {
  font-size: 0.7em;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.main-edit {
  background-color: rgb(255, 250, 250);
  border-radius: 10px;
}

.main {
  background-color: white;
}
</style>
