:root {
    --microgesture-accent: #c27400;
    --microgesture-red: #a40000;
    --microgesture-red-alt: #ff5194;
    --microgesture-red-filter: invert(7%) sepia(91%) saturate(7107%) hue-rotate(12deg) brightness(91%) contrast(112%); /* https://codepen.io/sosuke/pen/Pjoqqp */
    --microgesture-red-filter-alt: invert(16%) sepia(84%) saturate(7490%) hue-rotate(360deg) brightness(99%) contrast(115%); /* https://codepen.io/sosuke/pen/Pjoqqp */
}