<template>
  <v-card-text v-if="!IsConstruction">
    <v-container class="">
      <v-row v-if="!CompactView">
        <v-col cols="2">
          <h3>Port :</h3>
        </v-col>
        <v-col cols="10">
          {{ Config.port }}
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="2">
          <h3>Status :</h3>
        </v-col>
        <v-col cols="10" class="d-flex flex-inline">
          <v-icon> {{ getIsConnectedIcon }}</v-icon>
          <h3>{{ getIsConnected }}</h3>
        </v-col>
      </v-row>
      <v-row v-if="!CompactView && !subscribeToAll">
        <v-col cols="2">
          <h3>Subscribe to :</h3>
        </v-col>
        <v-col
          cols="auto"
          v-for="(gesture, index) in Config.desiredGesture"
          :key="index"
        >
          <v-btn
            elevation="2"
            size="small"
            rounded="xl"
            :disabled="!activatedgesture[index]"
            variant="tonal"
            color="red"
          >
            <s v-if="!AvailableGestures.includes(gesture)">{{ gesture }}</s>
            <b v-else>{{ gesture }}</b>
          </v-btn>
        </v-col>
      </v-row>
      <v-row v-if="!CompactView && subscribeToAll">
        <v-col cols="2">
          <h3>Subscribe to :</h3>
        </v-col>
        <v-col cols="auto">
          <v-btn
            elevation="2"
            size="small"
            rounded="xl"
            variant="tonal"
            color="red"
          >
            ALL
          </v-btn>
        </v-col>
      </v-row>
      <v-row class="d-flex flex-inline" v-if="!CompactView">
        <span class="subtitle"> all available gestures : </span>
        <span
          class="subtitle"
          v-for="gesture in AvailableGestures"
          :key="gesture"
        >
          {{ gesture }} ,
        </span>
      </v-row>
    </v-container>
  </v-card-text>
  <v-card-text v-else>
    <v-container class="my-0 py-5 border">
      <v-row>
        <v-col cols="2" class="py-0">External App Name </v-col>
        <v-col cols="10" class="py-0"
          ><v-text-field density="compact" v-model="addAppName"></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="2" class="py-0">Port : </v-col>
        <v-col cols="10" class="py-0"
          ><v-text-field
            :placeholder="String(Config.port)"
            v-model="addAppPort"
            type="number"
            density="compact"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="2" class="py-0">Subscribe to : </v-col>
        <v-col cols="3" class="py-0">
          {{ subscribeToAll ? "All" : `${getNumberOfSelectedGesture} Selected` }}
          <v-radio-group v-model="subscribeToAll" inline>
            <v-radio label="All" :value="true"></v-radio>
            <v-radio label="Specific" :value="false"></v-radio>
          </v-radio-group>
        </v-col>
        <v-col cols="7" class="py-0">
          <v-checkbox
            v-for="(gesture, index) in AvailableGestures"
            :key="index"
            :label="gesture"
            v-model="addCheckboxGestureNames[index]"
            density="compact"
            :disabled="subscribeToAll"
          ></v-checkbox>
        </v-col>
      </v-row>
    </v-container>
  </v-card-text>
</template>

<script>
import { socket } from "@/socket";

export default {
  name: "GenericSubscriber",
  components: {},

  //add to data a variable called console_msg ( string variable )
  data() {
    return {
      active: 0,
      addGestureNames: [],
      addCheckboxGestureNames: [], // list all the checkbox for each gesture, with a boolean value on each.
      activatedgesture: [],
      addAppName: "",
      addAppPort: "",
      config: {},
      subscribeToAll: true,
    };
  },

  props: {
    Id: String,
    Name: String,
    Type: String,
    Config: Object,
    Active: Boolean,
    AvailableGestures: Array,
    IsConstruction: Boolean,
    CompactView: Boolean,
    Save: Number,
  },

  //add a method called receiveConsoleMessage
  methods: {
    deleteMe() {
      socket.emit("subscribers/delete", { index: this.Id });
    },
    deleteSubscriptions() {
      this.addGestureNames = [];
    },
    saveEditing() {
      let s = {};

      this.addGestureNames = this.addCheckboxGestureNames
        .map((value, index) => (value ? this.AvailableGestures[index] : null))
        .filter((value) => value != null);

      //check that appPort is a number with 5 digits
      if (
        !isNaN(this.addAppPort) &&
        (this.addAppPort.length == 5 || this.addAppPort.length == 4)
      ) {
        s.name = this.addAppName;
        s.index = this.Id;
        s.config = {
          port: this.addAppPort,
          name: this.addAppName,
          desiredGesture: this.addGestureNames,
          subscribeToAll: this.subscribeToAll,
        };

        socket.emit("subscribers/edit", s);
      } else {
        console.log("appPort is not a number with 4 or 5 digits");
        window.alert("appPort is not a number with 4 or 5 digits");
      }
    },

    initAddCheckboxGestureNames() {
      // first, init with the right length, every checkbox checked
      this.addCheckboxGestureNames = new Array(
        this.AvailableGestures.length
      ).fill(true);
      // then, uncheck the checkbox when the gesture is not in the desired gestures
      this.addCheckboxGestureNames = this.addCheckboxGestureNames.map(
        (value, index) =>
          this.addGestureNames.includes(this.AvailableGestures[index])
      );
    },
  },

  computed: {
    getIsConnected() {
      if (this.active) {
        return "Connected";
      } else {
        return "Disconnected";
      }
    },
    getIsConnectedIcon() {
      if (this.active) {
        return "mdi-link";
      } else {
        return "mdi-link-off";
      }
    },
    getNumberOfSelectedGesture(){
      return this.addCheckboxGestureNames.filter((value) => value).length;
    }
  },

  // mounted
  mounted() {
    console.log(
      "Start mounted GenericSubscriber. Name = " +
        this.Name +
        " Config =" +
        this.Config
    );
    this.config = this.Config;
    this.active = this.Active;
    console.log("mounted GenericSubscriber. " + this.config?.desiredGesture);
    //print all key of config objct
    for (let key in this.Config) {
      console.log(key + " : " + this.Config[key]);
    }

    socket.on("subscriber/" + this.Id, (msg) => {
      console.log("SUBSCRIBER: received a console msg");
      console.log(msg);
    });

    socket.on("subscriber/" + this.Id + "/active", (msg) => {
      console.log("SUBSCRIBER: update active state");
      this.active = msg;
    });

    socket.on("subscriber/" + this.Id + "/ongesture", (data) => {
      console.log("SUBSCRIBER:" + this.Id + " update gesture is found : ");
      //let gesture = JSON.parse(data);
      let gesture = data;
      console.log("gesture found : " + gesture.name);
      console.log(this.config);
      console.log("look for index");

      //find if gesture.name is in this.Gestures. if yes, set activatedgesture[index] to true
      let index = this.config.desiredGesture.indexOf(gesture.name);
      if (index != -1) {
        this.activatedgesture[index] = true;
        //wait 1 second and set activatedgesture[index] to false
        setTimeout(() => {
          this.activatedgesture[index] = false;
        }, 500);
      }
    });

    // Initialize the editing variables on the same value that the config itself
    this.addAppName = this.config.name ? this.config.name : this.Name;
    this.addAppPort = this.config.port;
    this.addGestureNames = this.config.desiredGesture; //desiredGesture
    this.subscribeToAll = this.config.subscribeToAll;
    console.log(
      "mounted GenericSubscriber. subscribeToAll = " + this.subscribeToAll
    );
    this.initAddCheckboxGestureNames();
  },
  watch: {
    Save: function () {
      console.log("Generic Subscriber : Save   ");
      this.saveEditing();
    },
    AvailableGestures: function () {
      console.log("Generic Subscriber : AvailableGestures updated  ");
      console.log("AvailableGestures length :" + this.AvailableGestures.length);

      this.initAddCheckboxGestureNames();
    },
  },
  unmounted() {
    console.log("mounted GenericSubscriber. unmounted");
    socket.removeAllListeners("subscriber/" + this.Id + "/ongesture");
  },
};
</script>

<style scoped>
.subtitle {
  font-size: 0.8em;
  font-weight: lighter;
  color: #aaa;
  margin: 0 0.5em;
  text-transform: lowercase;
}

.border-light {
  border: 1px solid #e4e0e0;
  border-style: dotted;
  border-radius: 10px;
}
</style>
