<template>
  <v-card class="d-inline-flex my-0 mx-0 floatingwindow" :elevation="1">
    <v-card-actions>
      <v-container>
        <v-row class="py-0">
          <v-col cols="auto">
            <v-icon>mdi-gesture-tap</v-icon>
          </v-col>
          <v-col
            cols="auto"
            class="py-0"
            v-for="(g, index) in AvailableGestures"
            :key="index"
          >
            <v-btn
              elevation="1"
              size="small"
              rounded="xl"
              variant="tonal"
              color="red"
              @click="triggerGesture(g)"
            >
              <span class="boutontext"> {{ g }} </span>
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card-actions>
  </v-card>
</template>

<script>
import { socket } from "@/socket";

export default {
  name: "SubcriberManualTrigger",
  components: {},

  //add to data a variable called console_msg ( string variable )
  data() {
    return {};
  },

  props: {
    AvailableGestures: Array,
  },

  //add a method called receiveConsoleMessage
  methods: {
    triggerGesture(gesture) {
      socket.emit("analyzers/manualtrigger", {name : gesture});
    },
  },

  computed: {},

  // mounted
  mounted() {



  },


};
</script>

<style scoped>
.boutontext {
  font-size: 0.5em;
}

.floatingwindow {
  position: fixed;
  width: 98%;
  height: 3em;
  bottom: 0;
  z-index: 1;
  background-color: rgb(240, 240, 240, 0.9);
}
</style>
