<template>
  <v-card
    width="100%"
    class="my-5"
    :elevation="6"
    :variant="getVariant"
    rounded="lg"
  >
    <v-card-item>
      <v-card-title
        class="d-flex flex-inline main-title"
        @click="compactView = !compactView"
      >
        <span>{{ Name }} </span>
        <span class="subtitle">
          <i> {{ Type }} subscriber </i>
        </span>
        <v-spacer> </v-spacer>

        <v-btn icon variant="outlined" @click="deleteMe">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-subtitle> </v-card-subtitle>
    </v-card-item>
    <v-card-text class="border pa-1 ma-0">
      <template v-if="Type == 'generic'">
        <GenericSubscriber
          :Id="Id"
          :Name="Name"
          :Type="Type"
          :Config="Config"
          :Active="Active"
          :AvailableGestures="AvailableGestures"
          :IsConstruction="isConstruction"
          :Save="save"
          :CompactView="compactView"
        />
      </template>
      <template v-if="Type == 'keyboard'">
        <KeyboardSubscriber
          :Id="Id"
          :Name="Name"
          :Type="Type"
          :Config="Config"
          :AvailableGestures="AvailableGestures"
          :IsConstruction="isConstruction"
          :Save="save"
          :CompactView="compactView"
        />
      </template>
      <template v-if="Type == 'vlc'">
        <VLCSubscriber
          :Id="Id"
          :Name="Name"
          :Type="Type"
          :Config="Config"
          :AvailableGestures="AvailableGestures"
          :IsConstruction="isConstruction"
          :Save="save"
        />
      </template>
    </v-card-text>

    <v-card-actions v-if="!compactView || isConstruction">
      <v-container>
        <v-row class="py-0">
          <v-col cols="2" class="py-0" v-if="!isConstruction">
            <v-btn
              prepend-icon="mdi-pencil-outline"
              variant="outlined"
              @click.stop="isConstruction = true"
              v-if="!isConstruction"
            >
              Edit
            </v-btn>
          </v-col>

          <v-col cols="3" class="py-0 px-3" v-else>
            <v-btn
              elevation="2"
              variant="text"
              @click.stop="isConstruction = false"
              prepend-icon="mdi-close"
            >
              CANCEL
            </v-btn>
            <v-btn
              elevation="2"
              @click.stop="saveEditing"
              variant="outlined"
              prepend-icon="mdi-content-save"
            >
              SAVE
            </v-btn>
          </v-col>
          <v-col cols="7" class="py-0"> </v-col>
        </v-row>
      </v-container>
    </v-card-actions>
  </v-card>
</template>

<script>
import { socket } from "@/socket";
import { store } from "@/store";
import GenericSubscriber from "./GenericSubscriber.vue";
import KeyboardSubscriber from "./KeyboardSubscriber.vue";
import VLCSubscriber from "./VLCSubscriber.vue";

export default {
  name: "TemplateSubscriber",
  components: {
    GenericSubscriber,
    KeyboardSubscriber,
    VLCSubscriber,
  },

  //add to data a variable called console_msg ( string variable )
  data() {
    return {
      active: 0,
      isConstruction: false,
      save: 0,
      store: store,
      compactView: true,
    };
  },

  props: {
    Id: String,
    Name: String,
    Type: String,
    Config: Object,
    Active: Boolean,
    AvailableGestures: Array,
  },

  //add a method called receiveConsoleMessage
  methods: {
    deleteMe() {
      // To usage of this button, close the editing mode or delete.
      if (this.isConstruction) {
        this.isConstruction = false;
        return;
      } else {
        if (confirm("Are you sure to DELETE this ? &#128512;")) {
          socket.emit("subscribers/delete", { index: this.Id });
        } else {
          return;
        }
        console.log("deleteMe");
      }
    },
    // This is a hack, to inform the child component to save, while it looking for a changing number
    saveEditing() {
      this.save = new Date().getTime() / 1000;
    },
  },

  computed: {
    getVariant() {
      if (this.isConstruction) {
        return "outlined";
      } else {
        return "default";
      }
    },
  },

  // mounted
  mounted() {},
};
</script>

<style scoped>
.subtitle {
  font-size: 0.8em;
  font-weight: lighter;
  color: #aaa;
  margin: 0 0.5em;
  text-transform: lowercase;
}

.main-title {
  cursor: pointer;
}
</style>
