<template>
  <v-card-text v-if="!IsConstruction">
    <h3>VLC remote control</h3>
    <ul>
      <li>App connecté : {{ Name }}</li>
      <li>List of available gestures : {{ AvailableGestures }}</li>
    </ul>

    <v-container class="my-5 py-5 border keyboard-array">
      <v-row>
        <v-col cols="5"> Gesture</v-col>
        <v-col cols="2"></v-col>
        <v-col cols="5"> VLC command</v-col>
      </v-row>
      <v-row
        v-for="(gesture, index) in this.gestureList"
        :key="index"
        class="d-flex line"
      >
        <v-col cols="5">
          <v-btn
            elevation="2"
            size="x-large"
            rounded="xl"
            :disabled="!activatedgesture[index]"
            variant="tonal"
            color="red"
          >
            <s v-if="!AvailableGestures.includes(gesture)">{{ gesture }}</s>
            <b v-else>{{ gesture }}</b>
          </v-btn></v-col
        >
        <v-col cols="2" class="align-self-center"
          ><v-icon icon="mdi-arrow-right-circle"></v-icon
        ></v-col>
        <v-col cols="5" class="align-self-center">
          {{ this.actionList[index] }}</v-col
        >
      </v-row>
      <v-row>
        <v-col cols="5"><i> Gesture</i> </v-col>
        <v-col cols="2"></v-col>
        <v-col cols="5"> VLC command </v-col>
      </v-row>
    </v-container>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-title
          ><v-icon>mdi-information</v-icon>How to set VLC properly
          ?</v-expansion-panel-title
        >
        <v-expansion-panel-text>
          <ul>
            <li>1 . Activate VLC Web interface with password "upoly"</li>
            <li>
              2.Quit VLC and find the file vlcrc located in %APPDATA%\vlc\vlcrc
              (Windows) | ~/Library/Preferences/org.videolan.vlc/vlcrc ( Mac os)
            </li>
            <li>
              3. Uncomment the setting http-port in vlcrc file ,and set it to
              9090
            </li>
            <li>4. Restart VLC and uPoly application</li>
          </ul>
          <br />
          .
        </v-expansion-panel-text>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-card-text>
  <v-card-text v-else>
    <h3>VLC remote control : editing</h3>
    <ul>
      <li>App connecté : {{ Name }}</li>
      <li>Liste des gestes dispo : {{ AvailableGestures }}</li>
    </ul>

    <v-container class="my-5 py-5 border keyboard-array">
      <v-row>
        <v-col cols="5"> Gesture</v-col>
        <v-col cols="2"></v-col>
        <v-col cols="5"> VLC command</v-col>
      </v-row>
      <v-row
        v-for="(gesture, index) in this.gestureList"
        :key="index"
        class="d-flex line"
      >
        <v-col cols="5">
          <v-select
            v-model="addGestureNames[index]"
            :items="AvailableGestures"
          ></v-select>
        </v-col>
        <v-col cols="2" class="align-self-center"
          ><v-icon icon="mdi-arrow-right-circle"></v-icon
        ></v-col>
        <v-col cols="5" class="align-self-center">
          {{ actionList[index] }}
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="5"><i> Gesture</i> </v-col>
        <v-col cols="2"></v-col>
        <v-col cols="5"> VLC command </v-col>
      </v-row>
    </v-container>
  </v-card-text>
</template>

<script>
import { socket } from "@/socket";

export default {
  name: "VLCSubscriber",

  //add to data a variable called console_msg ( string variable )
  data() {
    return {
      active: 0,
      gestureList: [],
      actionList: [], //keylist length = gesturelist length
      activatedgesture: [],
      addGestureNames: [],
    };
  },

  props: {
    Id: String,
    Name: String,
    Type: String,
    Config: Object,
    AvailableGestures: Array,
    IsConstruction: Boolean,
    Save: Number,
  },

  //add a method called receiveConsoleMessage
  methods: {
    saveEditing() {
      let s = {};
      s.index = this.Id;
      s.config = {};
      s.config.desiredAction = this.actionList;
      s.config.desiredGesture = this.addGestureNames;

      socket.emit("subscribers/edit", s);
    },
  },

  // mounted
  mounted() {
    console.log("mounted VLCSubscriber. Name = " + this.Name + " Config =");
    console.log(this.Config);
    //print all key of config objct
    for (let key in this.Config) {
      console.log(key + " : " + this.Config[key]);
    }

    this.gestureList = this.Config.desiredGesture;
    this.actionList = this.Config.desiredAction;
    //fill this.activatedgesture with false, same length as this.gestureList
    for (let i = 0; i < this.gestureList.length; i++) {
      this.activatedgesture.push(false);
      this.addGestureNames.push(this.gestureList[i]);
    }

    socket.on("subscriber/" + this.Id, (msg) => {
      console.log("SUBSCRIBER: received a console msg");
      console.log(msg);
    });

    socket.on("subscriber/" + this.Id + "/active", (msg) => {
      console.log("SUBSCRIBER: update active state");
      this.active = msg;
    });

    socket.on("subscriber/" + this.Id + "/ongesture", (data) => {
      console.log("SUBSCRIBER: update gesture is found : ");
      //let gesture = JSON.parse(data);
      let gesture = data;
      console.log(gesture);

      //find if gesture.name is in this.Gestures. if yes, set activatedgesture[index] to true
      let index = this.Config.desiredGesture.indexOf(gesture.name);
      if (index != -1) {
        this.activatedgesture[index] = true;
        //wait 1 second and set activatedgesture[index] to false
        setTimeout(() => {
          this.activatedgesture[index] = false;
        }, 500);
      }
    });
  },
  watch: {
    Save: function () {
      console.log("Generic Subscriber : Save   ");
      this.saveEditing();
    },
  },
};
</script>

<style scoped>
.keyboard-array {
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
  width: 30em;
  color: lightslategray;
  font-style: italic;
}

.keyboard-array .line {
  color: black;
  font-style: normal;
}
</style>
