<template>
  <div class="grid transparent-sheet">
    <div />
    <div v-if="contextImg && contextImg.length">
      <img
        v-for="[i, src] of contextImg.entries()"
        :key="i"
        :src="src"
        class="context_img"
      />
    </div>
    <div />

    <div />
    <div class="action">
      <img :src="actionImg" />
    </div>
    <div />

    <div class="actuator">
      <span v-if="displayActuator">
        {{ computedGetInitialActuator }}
        <v-tooltip activator="parent" location="top">
          {{ computedGetCompleteActuator }}
        </v-tooltip>
      </span>
    </div>
    <div v-html="computedGetFancyParameters" />
    <div>
      {{ computedGetInitalPhalanx }}
      <v-tooltip activator="parent" location="top">
        {{ computedGetCompletePhalanx }}
      </v-tooltip>
    </div>
  </div>
</template>

<script>
import { Action, Context } from "../struct";

import {
  getFancyActuator,
  getFancyPhalanx,
  getFancyParameters,
} from "../utils";

export default {
  name: "ActuatorComponent",
  props: {
    modelValue: {
      type: Object,
      required: true,
    },
    inConstruction: {
      type: Boolean,
      default: false,
    },
    displayActuator: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    microgesture: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    contextImg() {
      if (!this.microgesture.context) return [];
      const temp = [];
      for (const ctx of this.microgesture.context) {
        switch (ctx) {
          case Context.Air:
            temp.push(require("../assets/glyphs/Air.svg"));
            break;
          case Context.Contact:
            temp.push(require("../assets/glyphs/Contact.svg"));
            break;
          case Context.Any:
            temp.push(require("../assets/glyphs/Any.svg"));
            break;
          default:
        }
      }
      return temp;
    },
    actionImg() {
      switch (this.microgesture.action) {
        case Action.Flexion:
          return require("../assets/glyphs/Flexion.svg");
        case Action.Extension:
          return require("../assets/glyphs/Extension.svg");
        case Action.Abduction:
          return require("../assets/glyphs/Abduction.svg");
        case Action.Adduction:
          return require("../assets/glyphs/Adduction.svg");
        case Action.Still:
          return require("../assets/glyphs/Still.svg");
        case Action.Any:
          return require("../assets/glyphs/Any.svg");
        case Action.CircleCW:
          return require("../assets/glyphs/CircleCW.svg");
        case Action.CircleCCW:
          return require("../assets/glyphs/CircleCCW.svg");
        case Action.SquareCW:
          return require("../assets/glyphs/SquareCW.svg");
        case Action.SquareCCW:
          return require("../assets/glyphs/SquareCCW.svg");
        case Action.TriangleCW:
          return require("../assets/glyphs/TriangleCW.svg");
        case Action.TriangleCCW:
          return require("../assets/glyphs/TriangleCCW.svg");
        case Action.Zigzag:
          return require("../assets/glyphs/Zigzag.svg");
        default:
          return false;
      }
    },
    computedGetInitialActuator() {
      return getFancyActuator(this.microgesture.actuator, this.inConstruction);
    },
    computedGetInitalPhalanx() {
      return getFancyPhalanx(this.microgesture.phalanx, this.inConstruction);
    },
    computedGetFancyParameters() {
      return getFancyParameters(
        this.microgesture.parameters,
        this.inConstruction
      );
    },
    computedGetCompleteActuator() {
      // this.microgesture.actuator is supposed to be an array of array, with a single element [[ element ]] . if this pattern is correct, show the element
      if (
        this.microgesture.actuator &&
        this.microgesture.actuator.length === 1
      ) {
        return this.microgesture.actuator[0].join(" and ");
      } else {
        return "";
      }
    },
    computedGetCompletePhalanx() {
      if (this.microgesture.phalanx && this.microgesture.phalanx.length === 1) {
        return this.microgesture.phalanx[0]
          .map((x) => x.segment + " " + x.side)
          .join(" and ");
      } else {
        return "";
      }
    },
  },
};
</script>

<style scoped>
img {
  height: 1em;
  width: 1em;
}

.context_img {
  height: 0.45em;
  width: 0.45em;
  margin: 1px;
}

.actuator {
  color: black;
}

.grid {
  display: grid;
  grid-template-rows: 20px auto auto;
  grid-template-columns: auto auto auto;
}
</style>
