<template>
  <v-container
    fluid
    class="pa-0 ma-0 align-center main-container"
    v-bind="props"
    :class="isHighlited"
    @click="clickMe"
    @mouseover="updateHovering(true)"
    @mouseleave="updateHovering(false)"
  >
    <v-row class="pa-0 ma-0 d-flex flex-nowrap">
      <v-col
        class="d-flex pa-0 ma-0 align-self-auto"
        v-if="microgesture.type !== 'then'"
      >
        <v-sheet
          class="transparent-sheet align-self-center flex-strech align-center pa-0 ma-0"
        >
          <span class="left-parenthesis"> ( </span>
        </v-sheet>
      </v-col>

      <template v-for="[i] of microgesture.operands.entries()" :key="i">
        <v-col
          class="v-col-auto d-flex flex-nowrap pa-1 ma-0 align-self-center "
          style="min-width: 50px; max-width: max-content"
        >
          <MicrogestureComponent
            v-model="microgesture.operands[i]"
            :indexTree="`${indexTree}-${i}`"
            :indexAnalyzer="indexAnalyzer"
            :actualSelection="actualSelection"
            :inConstruction="inConstruction"
            @update-selection="updateSelection"
            @hovering="childrenHovering"
          />
        </v-col>
        <v-col class="d-flex flex-nowrap pa-1 ma-0 align-self-center">
          <v-sheet
            class="transparent-sheet align-self-center flex-strech align-center pa-0 ma-0"
          >
            <span
              :key="`symbol-${microgesture.type}-${i}`"
              v-if="i < microgesture.operands.length - 1"
              class="symbol pa-0 ma-0"
              :class="microgesture.type"
              @drop="updateType($event)"
            >
            </span>
          </v-sheet>
        </v-col>
      </template>

      <v-col
        class="d-flex pa-0 ma-0 align-center"
        v-if="microgesture.type !== 'then'"
      >
        <v-sheet class="transparent-sheet align-self-center">
          <span class="right-parenthesis"> </span>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row :style="colorState" class="ma-0 pa-0 visible-state"> </v-row>
  </v-container>
</template>

<script setup>
import { socket } from "@/socket";
import MicrogestureComponent from "../MicrogestureComponent";
import {
  ref,
  defineProps,
  defineEmits,
  provide,
  computed,
  onMounted,
} from "vue";

const props = defineProps({
  modelValue: {
    type: Object,
    required: true,
  },
  indexTree: { type: String, default: "" },
  indexAnalyzer: {
    type: Number,
  },
  actualSelection: { type: String, default: "" },
  inConstruction: { type: Boolean, default: false },
});

const emits = defineEmits(["input", "delete", "update-selection", "hovering"]);

const microgesture = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emits("update:modelValue", value);
  },
});

provide("upperLevelType", microgesture.value.type);

//create a data method "clickMe" that call console.log with the indexTree value
const clickMe = () => {
  //console.log("clicked on composition");
  //console.log(props.indexTree);
  //check if there is no child hover. if not, emit update-selection
  if (childrenHover.value.length === 0 && props.inConstruction) {
    emits("update-selection", props.indexTree);
  }
};

//create a data value isHovering
const isHovering = ref(false);

const state = ref(0);

const childrenHover = ref([]);

//create a methode updateHovering that emit hovering. Hovering act only when the microgesture is in construction
const updateHovering = (value) => {
  if (props.inConstruction) {
    emits("hovering", { index: props.indexTree, hover: value });
    isHovering.value = value;
  }
};

//create a methods childHovering that emit hovering
const childrenHovering = (d) => {
  let index = d.index;
  let hover = d.hover;

  //check is this index is already in the list. if in the list and hover is false, remove it
  // it is not in the list and hover is true, add it
  // if it is in the list and hover is true, do nothing

  if (hover) {
    if (!childrenHover.value.includes(index)) {
      childrenHover.value.push(index);
    }
  } else {
    if (childrenHover.value.includes(index)) {
      childrenHover.value.splice(childrenHover.value.indexOf(index), 1);
    }
  }

  //console log as debug
  //console.log("childrenHovering "+index+ " "+hover);

  emits("hovering", d);
};

//create a methods to catch updateSelection event
const updateSelection = (value) => {
  emits("update-selection", value);
};

const isHighlited = computed(() => {
  let result = "";
  if (props.actualSelection === props.indexTree) {
    result = "border border-2 border-black";
  }

  if (isHovering.value) {
    result += " elevation-20";
  }

  return result;
});

const colorState = computed(() => {
  let result = "background-color: ";
  //alpha is set with position. Position looks like 0-3-4. The number of number indicate the level of the position
  // low position ( eg 0, 1 , 2 ) are alpha 0.1
  // high posiution eg 0-2-5, or 0-0-4 are alpha 0.8
  // the number of number in position set the alpha
  let alpha = 1.0;
  let position = props.indexTree.split("-").length;
  //alpha += 0.3 * position;
  //max alpha is 0.8
  //alpha = Math.min(0.8, alpha);


  switch (state.value) {
    case 0:
      result += transparent("rgb(220, 220, 220)", alpha); // transparent
      break;
    case 1:
      result += transparent("rgb(255, 201, 102)", alpha); // light orange
      break;
    case 2:
      result += transparent("rgb(255, 140, 0)", alpha); // darkorange
      break;
    case 3:
      result += transparent("rgb(0, 128, 0)", alpha); // green
      break;
    case 4:
      result += transparent("rgb(255, 0, 0)", alpha); // red
      break;
    default:
      result += transparent("rgb(255, 255, 255)", alpha); // white
      break;
  }

  result += ";";

  return result;
});

//write a data method, that convert rgb css color to rgba, with a given alpha
// input color looks like "rgb(255, 255, 255)"
// input alpha looks like 0.5
const transparent = (color, alpha) => {
  let result = color.replace("rgb", "rgba").replace(")", `, ${alpha})`);
  return result;
};

//create onMouted method that receive message from socket
onMounted(() => {
  //console.log("mounted");
  //copy props of Microgesture into microgesture data variable

  if (props.indexTree != undefined) {
    let endofurl = props.indexTree.replaceAll("-", "/");

    socket.on(
      "analyzers/" + props.indexAnalyzer + "/" + endofurl + "/active",
      (newstate) => {
        //console.log("VarIAble ANALYZER: update list of variable");
        state.value = newstate;
      }
    );
  }
});
</script>

<style scoped>
.main-container {
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  border: 0.01em dashed rgb(227, 227, 227);
  border-radius: 0.2em;
}

.in-construction .symbol {
  padding: 5px;
  border-radius: 15px;
}

.symbol {
  color: black;
  font-size: xxx-large;
}

.in-construction .symbol:hover:not(.left-parenthesis):not(.right-parenthesis) {
  color: var(--microgesture-red);
}

.left-parenthesis {
  font-size: xxx-large;
}

.right-parenthesis {
  font-size: xxx-large;
}

.transparent-sheet {
  background-color: transparent;
}

.right-parenthesis::before {
  content: ")";
}

.or::before {
  content: "|";
}

.and::before {
  content: "||";
}

.then::before {
  content: ";";
}

.visible-state {
  height: 3px;
}
</style>
