<template>
  <v-container
    :fluid="true"
    class="pa-0 ma-0"
    style="max-width: 100%"
    :class="isHighlited"
    @click="clickMe"
    @mouseover="isHovering = true"
    @mouseleave="isHovering = false"
  >
    <v-row class="pa-0 ma-0 d-flex flex-nowrap">
      <v-col
        class="d-flex pa-0 ma-0 align-center"
        v-if="microgesture.type !== 'then'"
      >
        <v-sheet
          class="transparent-sheet align-self-center flex-strech align-center pa-0 ma-0"
        >
          <span class="left-parenthesis"> ( </span>
        </v-sheet>
      </v-col>

      <template v-for="[i] of microgesture.operands?.entries()" :key="i">
        <v-col
          class="v-col-auto d-flex flex-nowrap pa-1 ma-0 align-self-auto"
          style="min-width: 100px; max-width: fit-content"
        >
          <MicrogestureComponent
            v-model="microgesture.operands[i]"
            :index="i"
            :indexTree="`${indexTree}-${i}`"
            :actualSelection="actualSelection"
          />
        </v-col>
        <v-col class="d-flex flex-nowrap pa-1 ma-0 align-self-auto">
          <v-sheet
            class="transparent-sheet align-self-center flex-strech align-center pa-0 ma-0"
          >
            <span
              :key="`symbol-${microgesture.type}-${i}`"
              v-if="i < microgesture.operands.length - 1"
              class="symbol pa-0 ma-0"
              :class="microgesture.type"
              @drop="updateType($event)"
            >
            </span>
          </v-sheet>
        </v-col>
      </template>

      <v-col
        class="d-flex pa-0 ma-0 align-center"
        v-if="microgesture.type !== 'then'"
      >
        <v-sheet class="transparent-sheet align-self-center">
          <span class="right-parenthesis"> </span>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import MicrogestureComponent from "../MicrogestureComponent";

export default {
  name: "CompositionComponent",
  props: {
    modelValue: {
      type: Object,
      required: true,
    },
    indexTree: {
      type: String,
      default: "",
    },
    actualSelection: {
      type: String,
      default: "",
    },
  },
  emits: ["input", "delete"],
  components: {
    MicrogestureComponent,
  },
  data() {
    return {
      reload: 0,
      isHovering: false,
    };
  },
  computed: {
    isHighlited() {
      let result = "";
      if (this.actualSelection === this.indexTree) {
        result = "bg-grey";
      } else {
        console.log(
          "not selected ::: " + this.indexTree + " != " + this.actualSelection
        );
      }
      if (this.isHovering) {
        result += " elevation-20";
      }
      return result;
    },
    microgesture: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
  },
  methods: {
    clickMe() {
      console.log(this.indexTree);
    },
  },
  mounted() {
    console.log(
      "Composition mounted type : " +
        this.microgesture.type +
        " index : " +
        this.indexTree
    );
  },
};
</script>

<style scoped>
.in-construction .symbol {
  padding: 5px;
  border-radius: 15px;
}

.symbol {
  color: black;
  font-size: xxx-large;
}

.in-construction .symbol:hover:not(.left-parenthesis):not(.right-parenthesis) {
  color: var(--microgesture-red);
}

.left-parenthesis {
  font-size: xxx-large;
}

.right-parenthesis {
  font-size: xxx-large;
}

.transparent-sheet {
  background-color: transparent;
}

.right-parenthesis::before {
  content: ")";
}

.or::before {
  content: "|";
}

.and::before {
  content: "||";
}

.then::before {
  content: ";";
}
</style>
