<template>
  <v-sheet
    class="ma-0 pa-0 glyph"
  >
    <v-container class="pa-1 ma-1">
      <v-row class="d-flex flex-nowrap pa-0 ma-0" no-gutters>
        <v-col class="v-col-auto d-flex flex-nowrap pa-0 ma-0 align-stretch">
          <v-icon v-if="isEmpty" icon="mdi-border-none-variant"></v-icon>
          <ActuatorComponent
            v-model="microgesture"
            v-if="microgesture.action"
          />
        </v-col>
        <v-col class="v-col-auto d-flex flex-nowrap pa-0 ma-0 align-stretch">
          <ContactComponent
            v-model="microgesture.contact"
            v-if="microgesture.contact && microgesture.contact.action"
          />
        </v-col>
      </v-row>
    </v-container>
  </v-sheet>
</template>

<script>
import ActuatorComponent from "@/components/Microgeste/MicrogestureComponents/ActuatorComponent";
import ContactComponent from "@/components/Microgeste/MicrogestureComponents/ContactComponent";

export default {
  name: "GlyphComponent",
  components: {
    ActuatorComponent,
    ContactComponent,
  },
  props: {
    modelValue: {},
    inConstruction: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["update:modelValue", "updateSelection", "hovering"],
  data() { return {} },
  computed: {
    microgesture: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
    isEmpty(){
      return this.microgesture === undefined || Object.keys(this.microgesture).length === 0 || this.microgesture.action === undefined;
    },
  },
};
</script>

<style scoped>
.glyph {
  min-width: 40px;
  min-height: 80px;
  background-color: transparent;
}
</style>
