<template>
  <span class="left-parenthesis" v-if="displayActuator">(</span>
  <div class="grid">
    <div/>
    <div/>
    <div/>

    <div/>
    <div>
      <img class="action_img" :src="actionImg" alt="+" />
    </div>
    <div/>

    <div>
      <span v-if="displayActuator">
        {{ computedGetInitialActuator }}
        <v-tooltip activator="parent" location="top">
          {{computedGetCompleteActuator}}
        </v-tooltip>
      </span>
    </div>
    <div/>
    <div>
      <span v-if="displayActuator || computedGetInitialPhalanx !== 'p'">
        {{ computedGetInitialPhalanx }}
        <v-tooltip activator="parent" location="top">{{
          computedGetCompletePhalanx
        }}</v-tooltip>
      </span>
    </div>
  </div>
  <span class="right-parenthesis" v-if="displayActuator" >)</span>
</template>

<script>
import { getFancyActuator, getFancyPhalanx } from "../utils";
import { Contact } from "../struct";

export default {
  name: "ContactComponent",
  props: {
    modelValue: {
      required: true,
    },
    inConstruction: {
      type: Boolean,
      default: false,
    },
    displayActuator: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      actuator: [],
      phalanx: [],
    };
  },
  //add computed methods
  computed: {
    actionImg() {
      //check if microgesture object as a key called action

      if (!this.microgesture || !this.microgesture.action) {
        return require("../assets/glyphs/Plus.svg");
      } else {
        switch (this.microgesture.action) {
          case Contact.Object:
            return require("../assets/glyphs/Object.svg");
          case Contact.Air:
            return require("../assets/glyphs/Air.svg");
          case Contact.Contact:
            return require("../assets/glyphs/Contact.svg");
          default:
            return require("../assets/glyphs/Plus.svg");
        }
      }
    },
    microgesture() {
      return this.modelValue;
    },
    computedGetInitialActuator() {
      //console.log("computedGetFancyActuator");
      //console.log(this.microgesture.actuator);
      return getFancyActuator(this.microgesture.actuator, this.inConstruction);
    },
    computedGetInitialPhalanx() {
      return getFancyPhalanx(this.microgesture.phalanx, this.inConstruction);
    },
    computedGetCompleteActuator() {
      if (
        this.microgesture.actuator &&
        this.microgesture.actuator.length === 1
      ) {
        return this.microgesture.actuator[0].join(' and ');
      } else {
        return "";
      }
    },
    computedGetCompletePhalanx() {
      if (
        this.microgesture.phalanx &&
        this.microgesture.phalanx.length === 1
      ) {
        return this.microgesture.phalanx[0]
                    .map(x => x.segment + ' '+ x.side)
                    .join(' and ')
      } else {
        return "";
      }
    },
  },
};
</script>

<style scoped>
.action_img {
  height: 1em;
  width: 1em;
}

.left-parenthesis,
.right-parenthesis {
  font-size: 3em;
  align-self: center;
  position: relative;
  top: -3px;
  margin: 0 5px;
}

.grid {
  display: grid;
  grid-template-rows: 20px auto auto;
  grid-template-columns: auto auto auto;
}
</style>
