<template>
  <v-sheet
    :class="isHighlited"
    @click="clickMe"
    @mouseover="setHovering(true)"
    @mouseleave="setHovering(false)"
    class="ma-0 pa-0"
  >
    <v-container class="ma-0 pa-0">
      <v-row class="ma-0 pa-0">
        <v-col class="ma-0 pa-0">
          <ConciseGlyph v-model="microgesture" v-if="isConcise" />
          <HandGlyph v-model="microgesture" v-else />
        </v-col>
      </v-row>
      <v-row
        :style="{ 'background-color': transparent }"
        class="ma-0 pa-0 visible-state"
      >
        <v-col
          v-if="progressionBar > 0"
          class="ma-0 pa-0 visible-state"
          style="background-color: rgba(0, 128, 0, 1)"
          :cols="progressionBar"
        >
        </v-col>
        <v-col class="ma-0 pa-0 visible-state"> </v-col>
      </v-row>
    </v-container>
  </v-sheet>
</template>

<script>
import { socket } from "@/socket";
import ConciseGlyph from "@/components/Microgeste/MicrogestureComponents/ConciseGlyph.vue";
import HandGlyph from "@/components/Microgeste/MicrogestureComponents/HandGlyph.vue";

export default {
  name: "GlyphComponent",
  components: {
    HandGlyph,
    ConciseGlyph,
  },
  props: {
    modelValue: {},
    indexTree: {
      type: String,
    },
    inConstruction: {
      type: Boolean,
      default: false,
    },
    indexAnalyzer: {
      type: Number,
    },
    actualSelection: {
      type: String,
      default: "",
    },
    isSelected: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["update:modelValue", "updateSelection", "hovering"],
  data() {
    return {
      isHovering: false,
      isActive: undefined,
      progression: { progression: 0 }, // progression is value is only for parameter glyph. That means only for "Contact To Contact" or "Air to Air" glyph, that need a specific evolution of parameters.
    };
  },
  inject: ["isConcise"],
  computed: {
    microgesture: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
    isHighlited() {
      let result = "";
      if (this.actualSelection === this.indexTree) {
        result = "border border-2 border-black";
      }
      if (this.isHovering) {
        result += " elevation-20";
      }

      return result;
    },
    isEmpty() {
      return (
        this.microgesture === undefined ||
        Object.keys(this.microgesture).length === 0 ||
        this.microgesture.action === undefined
      );
    },
    transparent() {
      // microgesture is empty object, add "bg-white" to result
      let color = "transparent";
      if (this.microgesture.action === undefined) {
        color = "transparent";
      } else {
        switch (this.isActive) {
          case undefined:
            color = "transparent";
            break;
          case 0:
            color = "lightgrey";
            break;
          case 1:
            color = "orange";
            break;
          case 2:
            color = "darkorange";
            break;
          case 3:
            color = "green";
            break;
          case 4:
            color = "red";
            break;
          default:
            color = "white";
            break;
        }
      }

      return color;
    },
    progressionBar() {
      // This a progress bar, display over the state horizontal bar.
      // This progress bar is a 12 step progress bar.

      let result = Math.round((this.progression.progression * 12) / 100);
      // max value is 12
      if (result > 12) {
        result = 12;
      }

      return result;
    },
  },
  methods: {
    clickMe() {
      console.log("clicked on glyph");
      //console.log(this.indexTree);
      if (this.inConstruction) {
        this.$emit("updateSelection", this.indexTree);
      }
    },
    setHovering(value) {
      if (this.inConstruction) {
        this.$emit("hovering", { index: this.indexTree, hover: value });
        this.isHovering = value;
      }
    },
  },
  mounted() {
    console.log("mounted glyph");
    console.log(this.indexTree);

    if (this.indexTree != undefined) {
      let endofurl = this.indexTree.replaceAll("-", "/");

      socket.on(
        "analyzers/" + this.indexAnalyzer + "/" + endofurl + "/active",
        (state) => {
          console.log("ANALYZER: received a console msg");
          this.isActive = state;
          this.progression.progression = 0; // reset the progression bar
        }
      );
      socket.on(
        "analyzers/" + this.indexAnalyzer + "/" + endofurl + "/progress",
        (historyParameter) => {
          console.log("ANALYZER: received a progress msg");
          this.progression = historyParameter;
        }
      );
    }
  },
};
</script>

<style scoped>
.visible-state {
  height: 3px;
}
</style>
