<template>
<div class="glyph">
  <div/>

  <ActuatorComponent
    :model-value="microgesture"
    :display-actuator="false"
    v-if="displayAction('index')"/>
  <ContactComponent
    :model-value="microgesture.contact"
    :display-actuator="false"
    v-else-if="displayContact('index')"/>
  <div class="finger" v-else/>

  <ActuatorComponent
    :model-value="microgesture"
    :display-actuator="false"
    v-if="displayAction('middle')"/>
  <ContactComponent
    :model-value="microgesture.contact"
    :display-actuator="false"
    v-else-if="displayContact('middle')"/>
  <div class="finger" v-else/>

  <ActuatorComponent
    :model-value="microgesture"
    :display-actuator="false"
    v-if="displayAction('ring')"/>
  <ContactComponent
    :model-value="microgesture.contact"
    :display-actuator="false"
    v-else-if="displayContact('ring')"/>
  <div class="finger" v-else/>

  <ActuatorComponent
    :model-value="microgesture"
    :display-actuator="false"
    v-if="displayAction('pinky')"/>
  <ContactComponent
    :model-value="microgesture.contact"
    :display-actuator="false"
    v-else-if="displayContact('pinky')"/>
  <div class="finger" v-else/>

  <!-- Second row-->
  <ActuatorComponent
    :model-value="microgesture"
    :display-actuator="false"
    v-if="displayAction('thumb')"/>
  <ContactComponent
    :model-value="microgesture.contact"
    :display-actuator="false"
    v-else-if="displayContact('thumb')"/>
  <div class="finger" v-else/>

  <div/>
  <div class="palm">
    <ContactComponent
      :model-value="microgesture.contact"
      :display-actuator="false"
      v-if="displayPalm()"/>
  </div>
</div>
</template>

<script>
import ActuatorComponent from "@/components/Microgeste/MicrogestureComponents/ActuatorComponent";
import ContactComponent from "@/components/Microgeste/MicrogestureComponents/ContactComponent";

export default {
  name: "GlyphComponent",
  components: {
    ActuatorComponent,
    ContactComponent,
  },
  props: {
    modelValue: {},
    inConstruction: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["update:modelValue", "updateSelection", "hovering"],
  data() { return {} },
  computed: {
    microgesture: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
  },
  methods: {
    displayAction(value) {
      if (!this.microgesture.actuator) return false
      for (let x of this.microgesture.actuator) {
        if (x.includes(value)) return true
      }
      return false
    },
    displayContact(value) {
      if (!this.microgesture.contact || !this.microgesture.contact.actuator) return false
      for (let x of this.microgesture.contact.actuator) {
        if (x.includes(value)) return true
      }
      return false
    },
    displayPalm() {
      if (!this.microgesture.contact || !this.microgesture.contact.phalanx || this.microgesture.contact.phalanx.length === 0) return false
      for (let x of this.microgesture.contact.phalanx[0]) {
        if (x.segment === 'palm' || x.segment === 'palm') return true
      }
      return false
    }
  },
};
</script>

<style scoped>
.glyph {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: repeat(2, min(40px));
  grid-column-gap: 2px;
}

.finger {
  width: 15px;
  height: 5px;
  background: black;
  align-self: center;
  position: relative;
  top: 5px;
}

.palm {
  grid-column: span 2;
}
</style>
