<template>
<span class="drag-zone plus-symbol" :class="[isDragOverPlus ? 'drag-over' : '', upperLevelType ? 'lower-symbol' : '' ]"
      @drop="onDrop($event)"
      @dragover.prevent
      @dragenter.prevent="isDragOverPlus = true"
      @dragleave.prevent="isDragOverPlus = false"
      @click = "displayActionPicker = true"
>
  <img
    src="../assets/glyphs/Plus.svg"
    :class="['plus-button', (hoveredInputButton === 'movement' || hoveredInputButton === 'composition') ? 'red' : '']">
  <ActionPicker
    v-if="displayActionPicker"
    @update:modelValue="(e) => {
          microgesture.context = ['Air', 'Contact']
          microgesture.action = e
          microgesture.type = 'glyph'
          reload++
        }"
    @close="displayActionPicker = false"
  />
</span>
</template>

<script setup>
import ActionPicker from '../Inputs/ActionPicker'
import { ref, defineProps, inject, computed, defineEmits } from 'vue'

const props = defineProps({ modelValue: { } })

const emits = defineEmits(['update:modelValue'])

const upperLevelType = inject('upperLevelType', null)

const microgesture = computed({
  get () {
    return props.modelValue
  },
  set (value) {
    emits('update:modelValue', value)
  }
})

const reload = ref(0)
const hoveredInputButton = inject('hoveredInputButton')
const displayActionPicker = ref(false)
const isDragOverPlus = ref(false)

const addOperand = inject('addOperand', () => {})

function onDrop (evt) {
  const microgeste = JSON.parse(evt.dataTransfer.getData('microgeste'))
  addMicrogeste(microgeste)
}

function addMicrogeste (microgeste) {
  if (microgeste.type === 'glyph') {
    microgesture.value.type = 'glyph'
    microgesture.value.action = microgeste.action
    microgesture.value.context = microgeste.context
  } else if (['and', 'or', 'then'].includes(microgeste.type)) {
    if (microgeste.type === props.upperMicrogesteType) {
      addOperand()
    } else {
      microgesture.value.type = microgeste.type
    }
  } else if (microgeste.type === 'text') {
    if (props.upperMicrogesteType) return
    microgesture.value.type = 'seq'
  }
  initMicrogeste()
  reload.value++
}

function initMicrogeste () {
  if (['and', 'or', 'then'].includes(microgesture.value.type)) {
    if (!microgesture.value.operands) {
      microgesture.value.operands = [
        {
          type: 'in-construction'
        },
        {
          type: 'in-construction'
        }
      ]
    } else if (microgesture.value.operands.length === 1) {
      microgesture.value.operands.push({
        type: 'in-construction'
      })
    }
  } else if (microgesture.value.type === 'seq') {
    if (!microgesture.value.quantificators) {
      microgesture.value.quantificators = { x: [[]], y: [] }
    }
    if (!microgesture.value.seq) {
      microgesture.value.seq = {
        type: 'in-construction'
      }
    }
  }
}
</script>

<style scoped>
img.red, .plus-symbol:hover img, .plus-symbol.drag-over img {
  filter: var(--microgesture-red-filter);
}

.plus-symbol {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  border-radius: 100%;
}

.lower-symbol {
  top: -14px;
}
</style>
