<template>
  <v-container
    @click="clickMe"
    @mouseover="updateHovering(true)"
    @mouseleave="updateHovering(false)"
  >
    <v-row>
      <v-col :class="isVariablesHighlited">
        <template v-for="(variable, index) of microgesture.listOfVariable" :key="index">
          <p :style="{ 'font-size': sizeChange }">
            {{ variable.name }} 
              
            <template v-if="!variable.isDefined">
              in {
              <template v-for="(fingerOr, iOr) of variable.formula" :key="iOr">
                <template v-for="(fingerAnd, iAnd) of fingerOr" :key="iAnd">
                  <span :style="{ color: colorChange }"
                    ><b>{{ fingerAnd }}</b>
                  </span>

                  <span v-if="iAnd < fingerOr.length - 1"> & </span>
                </template>
                <span v-if="iOr < variable.formula.length - 1"> | </span>
              </template>
            }
            </template>
            <template v-else>
              =
              <span :style="{ color: colorChange }">
                <template
                  v-for="(fingerAnd, iAnd) of variable.value"
                  :key="iAnd"
                  ><b>{{ fingerAnd }}</b></template
                >
              </span>
            </template>

            
            <br />
          </p>
        </template>
      </v-col>
    </v-row>
    <v-row>
      <MicrogestureComponent
        v-model="microgesture.seq"
        :actualSelection="actualSelection"
        @update-selection="updateSelection"
        @hovering="childrenHovering"
        :inConstruction="inConstruction"
        :indexTree="indexTree"
        :indexAnalyzer="indexAnalyzer"
      />
    </v-row>
  </v-container>
</template>

<script setup>
/*
This component display of the variable of the microgesture.
The component does not read the microgesture.quantificators.x directly. ( because it is really painfull)
Instead, the component read a copy of listOfVariable, a pre-cooked version of microgesture.quantificators.x
and it is much easier to read, and to update
*/

import { socket } from "@/socket";
import ActuatorInput from "../Inputs/ActuatorInput";
import PhalanxInput from "../Inputs/PhalanxInput";
import { getFancyPhalanx, getFancyActuator } from "../utils";
import {
  inject,
  ref,
  defineProps,
  defineEmits,
  provide,
  computed,
  onMounted,
} from "vue";
import MicrogestureComponent from "@/components/Microgeste/MicrogestureComponent";

//PROPS
const props = defineProps({
  modelValue: {},
  actualSelection: { type: String, default: "" },
  inConstruction: { type: Boolean, default: false },
  indexTree: { type: String },
  indexAnalyzer: { type: Number },
});

//DATA
//create a data value isHovering
const isHovering = ref(false);

const childrenHover = ref(false); //only one child because it is a variable component

const listOfVariable = ref([]); // this is the copy of list of variable from backend analyzer.
//each time the backend send a new list of variable, the component update the list of variable
/*
list of variable looks like this :
          listOfVariable = [
            {name: "x1",
            isDefined: false,
            value: undefined,   // "index"
            flagHasChanged: false,
            formula: [["index"], ["ring", "middle"]]   // this means index OR ( ring AND middle)
            },
            {name: "x2",
            isDefined: true,
            value: "middle",
            flagHasChanged: false,
            formula: [["index"], ["middle"]]   // this means index OR middle
            },
        );
*/

//EMITS
const emits = defineEmits([
  "update:modelValue",
  "delete",
  "update-selection",
  "hovering",
]);

//COMPUTED
const microgesture = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emits("update:modelValue", value);
  },
});

const isHighlited = computed(() => {
  let result = "";
  if (props.actualSelection === "0") {
    result = "border border-2 border-black";
  }

  if (isHovering.value) {
    result += " elevation-20";
    console.log("variable is hovering");
  }

  return result;
});

const colorChange = computed(() => {
  let result = "black";
  if (isHovering.value && props.inConstruction && !childrenHover.value) {
    result = "lighted-black";
  }
  return result;
});

const sizeChange = computed(() => {
  let result = "12px";
  if (isHovering.value && props.inConstruction && !childrenHover.value) {
    result = "13px";
  }
  return result;
});

const isVariablesHighlited = computed(() => {
  let result = "";
  if (props.actualSelection === "v") {
    result = "border border-2 border-black";
  }

  if (isHovering.value && props.inConstruction && !childrenHover.value) {
    result += " elevation-20";
  }

  return result;
});

//METHODS
//create a methode updateHovering that emit hovering. Hovering act only when the microgesture is in construction
const updateHovering = (value) => {
  if (props.inConstruction) {
    emits("hovering", { index: props.indexTree, hover: value });
    isHovering.value = value;
  }
};

const clickMe = () => {
  if (!childrenHover.value && props.inConstruction) {
    console.log(" want to edit variable");
    emits("update-selection", "v"); // this not really clean. v for variable . not part of the tree
  }
};

//create a methods childHovering that emit hovering
const childrenHovering = (d) => {
  let index = d.index;
  let hover = d.hover;

  childrenHover.value = hover;
  console.log("childrenHovering " + index + " " + hover);
  emits("hovering", d);
};

const updateSelection = (value) => {
  emits("update-selection", value);
};

//mounted
onMounted(() => {
  console.log("mounted");
  //copy props of Microgesture into microgesture data variable
  socket.on(
    "analyzers/" + props.indexAnalyzer + "/0/variables",
    (newListOfVariable) => {
      console.log("VarIAble ANALYZER: update list of variable");
      microgesture.value.listOfVariable = newListOfVariable;
    }
  );
});
</script>

<style scoped>
.plus-button {
  cursor: pointer;
}

.plus-button:hover {
  font-weight: bolder;
  color: var(--microgesture-red);
}
</style>
