<template>
<div>
  <select v-model="selectionValue" :class="(selectionValue === '_custom') ? 'custom' : ''">
    <option v-for="option of options" :key="option.value" :value="option.value">{{option.name}}</option>
    <option value="_custom">Custom</option>
  </select>
  <input placeholder="custom" type="text" v-model="customValue" v-if="selectionValue === '_custom'">
</div>
</template>

<script setup>
import { defineProps, defineEmits, watch, ref } from 'vue'

const props = defineProps({
  options: {
    type: Array,
    required: true
  },
  modelValue: {}
})

const emits = defineEmits(['update:modelValue'])

const selectionValue = ref(props.modelValue)
const customValue = ref('')

watch(selectionValue, (value) => {
  if (selectionValue.value !== '_custom') {
    emits('update:modelValue', value)
  }
})

watch(customValue, (value) => {
  emits('update:modelValue', customValue)
  console.log(value);
})
</script>

<style scoped>
div {
  position: relative;
  margin: 2px 5px;
}

select {
  width: 60px;
  border: none;
  background: transparent;
}

select:hover {
  box-shadow: var(--shadow);
}

select:not(.custom) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
  text-align: center;
}

input {
  width: 44px;
  height: 13px;
  position: absolute;
  top: 2px;
  left: 0;
  border: none;
  background: var(--background);
}

select:focus, input:focus {
  outline: none;
}
</style>
