html {
    font: 0.9em monospace;
    width: 100%;
    height: 100%;
    touch-action: none;
}

sl-card {
    width: calc(100% - 10px);
    margin: 3px 5px;
}

sl-card [slot="header"] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.volume {
    /* width: 30%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
}

#song {
    max-width: calc(30%);
    text-align: center;
}

#time {
    color: var(--sl-color-success-600);
}

sl-range {
    --track-color-active: var(--sl-color-primary-600);
}

sl-range.volume {
    width: calc(100% - 20px);
    margin: 0px 5px;
}

sl-range.track {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.clipper {
    overflow-y: scroll;
    height: calc(100vh - 164px);
}

[variant="neutral"]::part(body) {
    padding: 5px;
    background-color: var(--sl-color-neutral-300);
}

[variant="success"]::part(body) {
    padding: 5px;
    background-color: var(--sl-color-success-300);
}

.hide {
    display: none;
}

@media screen and (max-width: 800px) {
    html {
        font: 0.7em monospace;
    }
}