<template>
  <div class="action-picker" @click.stop="emits('close')">
    <button
      v-for="choice in choices.slice(page*6, page*6 + 6)"
      :key="choice"
      @click="() => emitChoice(choice)"
      :class="['menu-item', (displayItems) ? 'display' : '', (JSON.stringify(choice) === JSON.stringify(modelValue)) ? 'selected' : '']">
      <img :src="actionToImg(choice)" v-if="actionToImg(choice)">
    </button>
    <img src="../assets/icons/times-circle.svg" class="close-button"/>
    <div class="pages-button" @click.stop>
      <button @click.stop.prevent="page--" :class="page === 0 ? 'hide' : ''">
        <img src="../assets/icons/angle-left.svg"/>
      </button>
      <span>{{page + 1}} | 3</span>
      <button @click.stop.prevent="page++" :class="page === 2 ? 'hide' : ''">
        <img src="../assets/icons/angle-right.svg"/>
      </button>
    </div>
  </div>
</template>

<script setup>
import { Action } from '../struct'
import { computed, nextTick, onBeforeUnmount, onMounted, ref, defineEmits, defineProps } from 'vue'

defineProps({ modelValue: {} })

const emits = defineEmits(['update:modelValue', 'close'])

const displayItems = ref(false)
const page = ref(0)

const choices = computed(() => Object.values(Action))

function actionToImg (action) {
  switch (action) {
    case Action.Flexion:
      return require('../assets/glyphs/Flexion.svg')
    case Action.Extension:
      return require('../assets/glyphs/Extension.svg')
    case Action.Abduction:
      return require('../assets/glyphs/Abduction.svg')
    case Action.Adduction:
      return require('../assets/glyphs/Adduction.svg')
    case Action.Still:
      return require('../assets/glyphs/Still.svg')
    case Action.Any:
      return require('../assets/glyphs/Any.svg')
    case Action.CircleCW:
      return require('../assets/glyphs/CircleCW.svg')
    case Action.CircleCCW:
      return require('../assets/glyphs/CircleCCW.svg')
    case Action.SquareCW:
      return require('../assets/glyphs/SquareCW.svg')
    case Action.SquareCCW:
      return require('../assets/glyphs/SquareCCW.svg')
    case Action.TriangleCW:
      return require('../assets/glyphs/TriangleCW.svg')
    case Action.TriangleCCW:
      return require('../assets/glyphs/TriangleCCW.svg')
    case Action.Zigzag:
      return require('../assets/glyphs/Zigzag.svg')
    default:
      return false
  }
}
function emitChoice (choice) {
  emits('update:modelValue', choice)
}

onMounted(() => {
  nextTick(() => {
    displayItems.value = true
  })
})

onBeforeUnmount(() => {
  displayItems.value = false
})
</script>

<style scoped>
.action-picker {
  position: absolute;
  top: -53px;
  left: -53px;
  display: inline-block;
  width: 150px;
  height: 150px;
  background: var(--foreground);
  border-radius: 100%;
  z-index: 1000000000;
  box-shadow: var(--light-shadow);
}

.action-picker .menu-item.display:nth-child(1) {
  transform: rotate(0deg) translate(-50px) rotate(0deg);
}
.action-picker .menu-item.display:nth-child(2) {
  transform: rotate(60deg) translateX(-50px) rotate(-60deg);
}
.action-picker .menu-item.display:nth-child(3) {
  transform: rotate(120deg) translateX(-50px) rotate(-120deg);
}
.action-picker .menu-item.display:nth-child(4) {
  transform: rotate(180deg) translateX(-50px) rotate(-180deg);
}
.action-picker .menu-item.display:nth-child(5) {
  transform: rotate(240deg) translateX(-50px) rotate(-240deg);
}
.action-picker .menu-item.display:nth-child(6) {
  transform: rotate(300deg) translateX(-50px) rotate(-300deg);
}
.action-picker .menu-item.display:nth-child(7) {
  transform: rotate(300deg) translateX(-50px) rotate(-300deg);
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 57px;
  left: 57px;

  width: 35px;
  height: 35px;

  border: 1px solid lightgrey;
  border-radius: 50%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  text-align: center;
  text-decoration: none;

  transition: 0.5s;
}

.menu-item:hover {
  border: 1px solid black;
}

.menu-item.selected {
  border: 1px solid black;
}

img, .selector {
  height: 20px;
  width: 20px;
  filter: initial;
}

.pages-button {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  left: 16px;
  width: 100px;
  background: var(--foreground);
  box-shadow: var(--light-shadow);
  padding: 5px 10px;
  border-radius: 15px;
}

.pages-button button {
  background: white;
  border: black;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.close-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
