<template>
  <div class="holder">
    <div
      class="close"
      @click="
        emits('input', actuators);
        emits('close');
      "
    >
      <v-icon color="variant" icon="mdi-close"></v-icon>
      CLOSE ME !
    </div>
    {{ fancyActuator }}
    <div class="operator">
      <div class="round-button" @click="addMode('|')">|</div>
      <div class="round-button" @click="addMode('||')">||</div>
      <span @click="removeActuator">
        <img src="../assets/icons/cancel.svg" class="flip" />
      </span>
    </div>
    <div></div>
    <div class="hand">
      <template
        v-for="finger of ['thumb', 'index', 'middle', 'ring', 'pinky']"
        :key="`${finger}-air`"
      >
        <img
          src="../assets/glyphs/Air.svg"
          :class="finger"
          @click="addActuator(finger)"
        />
      </template>
    </div>
    <div class="flex-center">
      <input type="text" v-model="customV" placeholder="Custom value" />
      <div @click="addActuator(customV)">
        <img src="../assets/icons/plus-circle.svg" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { getFancyActuator } from "../utils";
import { ref, defineProps, defineEmits, computed } from "vue";

const props = defineProps({ modelValue: {} });

const emits = defineEmits(["update:modelValue", "close"]);

const actuators = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emits("update:modelValue", value);
  },
});

const customV = ref("");
const fancyActuator = ref("");

function addMode(x) {
  if (actuators.value.length === 0) return;

  const lastAct = actuators.value[actuators.value.length - 1];
  if (x === "|") {
    if (lastAct.length > 1) {
      // [["a", "b"]] -> [["a", "b"], []] or [[""a", ""]] -> [["a"], []]
      const lastFinger = lastAct[lastAct.length - 1];
      if (lastFinger.length === 0) {
        lastAct.pop();
      }
      actuators.value.push([""]);
    } else if (lastAct.length === 1) {
      actuators.value.push([""]);
    }
  } else if (x === "||") {
    if (
      lastAct.length === 0 ||
      (lastAct.length === 1 && lastAct[0].length === 0)
    ) {
      actuators.value.pop();
      actuators.value[actuators.value.length - 1].push("");
    } else {
      lastAct.push("");
    }
  }
  setFancyActuator();
}

function setFancyActuator() {
  fancyActuator.value = getFancyActuator(actuators.value);
}

function addActuator(finger) {
  if (actuators.value.length === 0) {
    actuators.value.push([finger]);
  } else {
    const lastValue = actuators.value[actuators.value.length - 1];
    if (lastValue.length) {
      actuators.value[actuators.value.length - 1][lastValue.length - 1] =
        finger;
    } else {
      lastValue.push(finger);
    }
  }
  setFancyActuator();
}

function removeActuator() {
  const lastValue = actuators.value[actuators.value.length - 1];
  if (lastValue.length > 1) {
    const l = lastValue.pop();
    if (l.length) lastValue.push("");
  } else if (lastValue.length === 1 && lastValue[0].length > 0) {
    lastValue[0] = "";
  } else {
    actuators.value.pop();
  }
  setFancyActuator();
}
</script>

<style scoped>
.holder {
  position: absolute;
  top: 3.5em;
  left: 0;
  transform: translateX(-50%);
  z-index: 10000000000;
  background-color: whitesmoke;
  padding: 24px 39px;
  border: 1px solid var(--textlight);
  border-radius: 20px;
}

.operator,
.hand {
  margin: 40px auto;
}

.operator {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unicon {
  fill: var(--textlight);
}

.unicon:hover {
  fill: var(--text);
}

.selected .unicon {
  fill: var(--text);
}

.operator .unicon.flip {
  transform: rotate(0.5turn);
  margin-left: 15px;
}

input {
  border-radius: 5px;
  border: 2px solid var(--textlight);
}

input:hover {
  border: 2px solid var(--text);
}

.round-button {
  margin: 5px;
  color: var(--textlight);
  font-weight: initial;
  opacity: 0.8;
  width: 20px;
  height: 20px;
}

.round-button:hover {
  opacity: 1;
  color: var(--text);
  font-weight: bold;
}

.hand {
  position: relative;
  left: -20px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto auto;
  grid-gap: 5px;
  width: 97px;
}

.hand img {
  width: 20px;
  height: 20px;
}

.thumb {
  grid-column: 1;
  grid-row: 2;
}

.index {
  grid-column: 2;
  grid-row: 1;
}

.middle {
  grid-column: 3;
  grid-row: 1;
}

.ring {
  grid-column: 4;
  grid-row: 1;
}

.pinky {
  grid-column: 5;
  grid-row: 1;
}

.palm {
  grid-column: 3;
  grid-row: 2;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.close:hover {
  border-color: var(--text);
}
</style>
