<template>
  <div class="contact-picker" @click.stop="emits('close')">
    <button v-for="choice in choices" :key="choice" @click="() => emitChoice(choice)" class="menu-item">
      <img :src="contactToImg(choice)" v-if="contactToImg(choice)">
    </button>
    <img src="../assets/icons/times-circle.svg" class="close-button"/>
  </div>
</template>

<script setup>
import { Contact } from '../struct'
import { computed, defineEmits, defineProps } from 'vue'

defineProps({ modelValue: {} })

const emits = defineEmits(['update:modelValue', 'close'])

const choices = computed(() => Object.values(Contact))

function contactToImg (contact) {
  switch (contact) {
    case Contact.Air:
      return require('../assets/glyphs/Air.svg')
    case Contact.Contact:
      return require('../assets/glyphs/Contact.svg')
    case Contact.Object:
      return require('../assets/glyphs/Object.svg')
    default:
      return false
  }
}

function emitChoice (choice) {
  emits('update:modelValue', choice)
}
</script>

<style scoped>
.contact-picker {
  position: absolute;
  top: -53px;
  left: -53px;
  display: inline-block;
  width: 150px;
  height: 150px;
  background: var(--foreground);
  border-radius: 100%;
  z-index: 1000000000;
  box-shadow: var(--light-shadow);
}

.contact-picker .menu-item:nth-child(1) {
  transform: rotate(0deg) translate(-50px) rotate(0deg);
}
.contact-picker .menu-item:nth-child(2) {
  transform: rotate(120deg) translateX(-50px) rotate(-120deg);
}
.contact-picker .menu-item:nth-child(3) {
  transform: rotate(240deg) translateX(-50px) rotate(-240deg);
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 57px;
  left: 57px;

  width: 35px;
  height: 35px;

  border: 1px solid lightgrey;
  border-radius: 50%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  text-align: center;
  text-decoration: none;

  transition: 0.5s;
}

.menu-item:hover {
  border: 1px solid black;
}

img, .selector {
  height: 20px;
  width: 20px;
  filter: initial;
}

.close-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
