<template>
  <div class="context-picker" @click.stop="emits('close')">
    <button
      v-for="[i, choice] of choices.slice(page*6, page*6 + 6).entries()"
      :key="i"
      @click="() => emitChoice(choice)"
      :class="['menu-item', (displayItems) ? 'display' : '', (JSON.stringify(choice) === JSON.stringify(modelValue)) ? 'selected' : '']"
    >
      <template v-if="contextToImg(choice).length">
        <img v-for="[j, src] of contextToImg(choice).entries()" :key="j" :src="src">
      </template>
    </button>
    <img src="../assets/icons/times-circle.svg" class="close-button"/>
    <div class="pages-button" @click.stop v-if="Math.ceil(choices.length / 6) > 1">
      <button @click.stop.prevent="page--" :class="page === 0 ? 'hide' : ''">
        <img src="../assets/icons/angle-left.svg"/>
      </button>
      <span>{{page + 1}} | {{Math.ceil(choices.length / 6)}}</span>
      <button @click.stop.prevent="page++" :class="page === 2 ? 'hide' : ''">
        <img src="../assets/icons/angle-right.svg"/>
      </button>
    </div>
  </div>
</template>

<script setup>
import { Context, Action } from '../struct'
import { ref, defineEmits, defineProps, computed, onMounted, nextTick, onBeforeUnmount } from 'vue'

const props = defineProps({
  action: {
    type: String,
    default: Action.Any
  },
  modelValue: { }
})

const emits = defineEmits(['update:modelValue', 'close'])

const displayItems = ref(false)

const page = ref(0)

const choices = computed(() => {
  if (props.action === Action.Any) {
    return [
      ['Air', 'Air'],
      ['Air', 'Contact'],
      ['Contact', 'Air'],
      ['Contact', 'Contact'],
      ['Contact'],
      ['Air'],
      ['Any', 'Any'],
      ['Any']
    ]
  } else if (props.action === Action.Still) {
    return [['Air'], ['Contact'], ['Any']]
  } else {
    return [['Air', 'Air'], ['Air', 'Contact'], ['Contact', 'Air'], ['Contact', 'Contact'], ['Contact'], ['Any', 'Any'], ['Any']]
  }
})

function contextToImg (context) {
  if (!context) return []
  const temp = []
  for (const ctx of context) {
    switch (ctx) {
      case Context.Air:
        temp.push(require('../assets/glyphs/Air.svg'))
        break
      case Context.Contact:
        temp.push(require('../assets/glyphs/Contact.svg'))
        break
      case Context.Any:
        temp.push(require('../assets/glyphs/Any.svg'))
        break
      default:
    }
  }
  return temp
}

function emitChoice (choice) {
  emits('update:modelValue', choice)
}

onMounted(() => {
  nextTick(() => {
    displayItems.value = true
  })
})

onBeforeUnmount(() => {
  displayItems.value = false
})
</script>

<style scoped>
.context-picker {
  position: absolute;
  top: -53px;
  left: -53px;
  display: inline-block;
  width: 150px;
  height: 150px;

  background: var(--foreground);
  box-shadow: var(--light-shadow);

  border-radius: 100%;
  z-index: 1000000000;
}

.context-picker .menu-item.display:nth-child(1) {
  transform: rotate(0deg) translate(-50px) rotate(0deg);
}
.context-picker .menu-item.display:nth-child(2) {
  transform: rotate(61deg) translateX(-50px) rotate(-61deg);
}
.context-picker .menu-item.display:nth-child(3) {
  transform: rotate(122deg) translateX(-50px) rotate(-122deg);
}
.context-picker .menu-item.display:nth-child(4) {
  transform: rotate(183deg) translateX(-50px) rotate(-183deg);
}
.context-picker .menu-item.display:nth-child(5) {
  transform: rotate(244deg) translateX(-50px) rotate(-244deg);
}
.context-picker .menu-item.display:nth-child(6) {
  transform: rotate(305deg) translateX(-50px) rotate(-305deg);
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 57px;
  left: 57px;

  width: 35px;
  height: 35px;

  border: 1px solid lightgrey;
  border-radius: 50%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  text-align: center;
  text-decoration: none;

  transition: 0.5s;
}

.menu-item:hover {
  border: 1px solid black;
}

.menu-item.selected {
  border: 1px solid black;
}

img:not(.close-button) {
  height: 12px;
  width: 12px;
  filter: initial;
  margin: 1px;
}

.close-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pages-button {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  left: 16px;
  width: 100px;
  background: var(--foreground);
  box-shadow: var(--light-shadow);
  padding: 5px 10px;
  border-radius: 15px;
}

.pages-button button {
  background: white;
  border: black;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.pages-button button:hover .unicon {
  fill: black;
}

.hide {
  opacity: 0;
  pointer-events: none;
}
</style>
