<template>
<div class="holder">
  <div
    class="close"
    @click="emits('close')"
  >
    <unicon name="times-circle" />
  </div>
  <div class="parameters">
    <div>
      Pressure
    </div>
    <div class="row">
      <SelectorWithCustomInput v-model="value.pressure.start" :options="pressureOptions"/>
      <select v-model="value.pressure.type">
        <option value="no_end">.</option>
        <option value="end">→</option>
      </select>
      <SelectorWithCustomInput v-model="value.pressure.end" :options="pressureOptions" v-if="value.pressure.type === 'end'"/>
    </div>
    <div>
      Amplitude
    </div>
    <div class="row">
      <SelectorWithCustomInput v-model="value.amplitude.start" :options="amplitudeOptions"/>%
      <select :v-model="value.amplitude.type">
        <option value="no_end">.</option>
        <option value="end">→</option>
      </select>
      <SelectorWithCustomInput v-model="value.amplitude.end" :options="amplitudeOptions"/>
    </div>
    <div>
      Time
    </div>
    <div class="row">
      <template v-if="value.time.leftType !== 'none'">
        <input type="number" :value="time.start"/>ms
      </template>
      <select :value="value.time.leftType">
        <option value="none">.</option>
        <option value="lower"> ＜ </option>
        <option value="lower_equal"> ≤ </option>
      </select>
      <span>t</span>
      <select :value="value.time.rightType">
        <option value="equal">=</option>
        <option value="bigger"> ＜ </option>
        <option value="bigger_equal"> ≤ </option>
      </select>
      <input type="number" :value="value.time.end"/>ms
    </div>
  </div>
</div>
</template>

<script setup>
import SelectorWithCustomInput from '../Components/SelectorWithCustomInput'
import { defineProps, defineEmits, computed } from 'vue'

const props = defineProps({ modelValue: { } })

const emits = defineEmits(['input', 'close'])

const value = computed({
  get () {
    return props.modelValue
  },
  set (value) {
    emits('update:modelValue', value)
  }
})

const pressureOptions = [
  { name: 'Hi', value: 'hi' },
  { name: 'Md', value: 'md' },
  { name: 'Lo', value: 'lo' }
]

const amplitudeOptions = [
  { name: 'Cl', value: 'cl' },
  { name: 'Ha', value: 'ha' },
  { name: 'Op', value: 'op' }
]
</script>

<style scoped>
.holder {
  position: absolute;
  top: 200%;
  left: -100%;
  z-index: 10000000000;
  background-color: var(--background);
  padding: 24px 39px;
  border: 1px solid var(--textlight);
  border-radius: 20px;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.close:hover {
  border-color: var(--text);
}

.parameters {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px 10px;
}

.row {
  display: flex;
}

.row > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
  text-align: center;
}

.row > input[type=number] {
  width: 40px;
  text-align: right;
}

.row > input , .row > select {
  background: none;
  border: none;
  margin: 2px 5px;
}
</style>
