<template>
  <div class="holder">
    <div class="close" @click="emits('close')">
      <v-icon color="variant" icon="mdi-close"></v-icon>
      Are you sure ? !
    </div>
    {{ getFancyPhalanx(phalanxes) }}
    <div class="operator">
      <div class="round-button" @click="addMode('|')">
        <span>|</span>
      </div>
      <div class="round-button" @click="addMode('||')">
        <span>||</span>
      </div>
      <span @click="removePhalanx">
        <img src="../assets/icons/cancel.svg" class="flip" />
      </span>
    </div>
    <div class="two-columns">
      <div class="segments">
        <div
          v-for="s of ['tip', 'middle', 'base']"
          :key="`${s}`"
          @click="addSegment(s)"
        >
          <span>
            {{ s }}
          </span>
        </div>
      </div>
      <div class="sides">
        <div
          v-for="s of ['dorsal', 'front', 'left', 'right']"
          :key="`${s}`"
          :style="`grid-area: ${s}`"
          @click="addSide(s)"
        >
          {{ s }}
        </div>
        <svg viewBox="0 0 607 607">
          <circle cx="303.309" cy="303.309" r="297.059" />
          <path d="M93.257,513.362l420.105,-420.105" />
          <path d="M93.257,93.257l420.105,420.105" />
        </svg>
      </div>
    </div>
    <div @click="addPalm" class="flex-center">
      <div>Palm</div>
      <img
        src="../assets/icons/plus-circle.svg"
        style="position: relative; top: 3px"
      />
    </div>
    <div class="flex-center">
      <input type="text" v-model="customV" />
      <div @click="addCustom">
        <img src="../assets/icons/plus-circle.svg" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { getFancyPhalanx } from "../utils";
import { ref, defineProps, defineEmits, computed } from "vue";

const props = defineProps({ modelValue: {} });

const emits = defineEmits(["update:modelValue", "close"]);

const phalanxes = computed({
  get() {
    return props.modelValue ?? [];
  },
  set(value) {
    emits("update:modelValue", value);
  },
});

const customV = ref("");

function addMode(x) {
  if (phalanxes.value.length === 0) return;

  const lastAct = phalanxes.value[phalanxes.value.length - 1];
  if (x === "|") {
    if (lastAct.length > 1) {
      const lastFinger = lastAct[lastAct.length - 1];
      if (lastFinger.segment.length === 0 && lastFinger.side.length === 0) {
        lastAct.pop();
      }
      phalanxes.value.push([{ segment: "", side: "" }]);
    } else if (lastAct.length === 1) {
      phalanxes.value.push([{ segment: "", side: "" }]);
    }
  } else if (x === "||") {
    if (
      lastAct.length === 0 ||
      (lastAct.length === 1 && lastAct[0].length === 0)
    ) {
      phalanxes.value.pop();
      phalanxes.value[phalanxes.value.length - 1].push({
        segment: "",
        side: "",
      });
    } else {
      lastAct.push({ segment: "", side: "" });
    }
  }
}

function addSegment(s) {
  if (phalanxes.value.length === 0) {
    phalanxes.value.push([{ segment: s, side: "" }]);
  } else {
    const lastAct = phalanxes.value[phalanxes.value.length - 1];
    const lastFinger = lastAct[lastAct.length - 1];
    lastFinger.segment = s;
  }
}

function addSide(s) {
  if (phalanxes.value.length === 0) {
    phalanxes.value.push([{ segment: "", side: s }]);
  } else {
    const lastAct = phalanxes.value[phalanxes.value.length - 1];
    const lastFinger = lastAct[lastAct.length - 1];
    lastFinger.side = s;
  }
}

function removePhalanx() {
  if (phalanxes.value.length === 0) return;
  const lastValue = phalanxes.value[phalanxes.value.length - 1];
  if (lastValue.length > 1) {
    const l = lastValue.pop();
    if (l.length) lastValue.push({ segment: "", side: "" });
  } else if (
    lastValue.length === 1 &&
    (lastValue[0].segment.length > 0 || lastValue[0].side.length > 0)
  ) {
    lastValue[0] = { segment: "", side: "" };
  } else {
    phalanxes.value.pop();
  }
}

function addPalm() {
  if (phalanxes.value.length === 0) {
    phalanxes.value.push([{ segment: "palm", side: "" }]);
  } else {
    const lastAct = phalanxes.value[phalanxes.value.length - 1];
    const lastFinger = lastAct[lastAct.length - 1];
    lastFinger.segment = "palm";
    lastFinger.side = "";
  }
}

function addCustom() {
  if (phalanxes.value.length === 0) {
    phalanxes.value.push([{ segment: customV.value, side: "" }]);
  } else {
    const lastAct = phalanxes.value[phalanxes.value.length - 1];
    const lastFinger = lastAct[lastAct.length - 1];
    lastFinger.segment = customV.value;
    lastFinger.side = "";
  }
}
</script>

<style scoped>
.holder {
  position: absolute;
  top: 3.5em;
  left: 0;
  z-index: 10000000000;
  background-color: whitesmoke;
  padding: 40px;
  border: 1px solid var(--textlight);
  border-radius: 20px;
}

.operator,
.hand {
  margin: 40px auto;
}

.operator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-area {
  background-color: green;
}

.unicon {
  fill: var(--textlight);
}

.unicon:hover {
  fill: var(--text);
}

.selected .unicon {
  fill: var(--text);
}

.operator .unicon.flip {
  transform: rotate(0.5turn);
  margin-left: 15px;
}

input {
  border-radius: 5px;
  border: 2px solid var(--textlight);
}

input:hover {
  border: 2px solid var(--text);
}

.round-button {
  margin: 5px;
  color: var(--textlight);
  font-weight: initial;
  opacity: 0.8;
  width: 20px;
  height: 20px;
}

.round-button:hover {
  opacity: 1;
  color: var(--text);
  font-weight: bold;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: brown;
}

.close:hover {
  border-color: var(--text);
}

.two-columns {
  display: grid;
  grid-template-columns: auto auto;
}

.sides div,
.segments div {
  color: var(--textlight);
}

.sides div:hover,
.segments div:hover {
  color: var(--text);
}

.sides div.selected,
.segments div.selected {
  color: var(--text);
}

.segments div {
  width: 50px;
  height: 50px;
  border-left: 2px solid var(--text);
  border-right: 2px solid var(--text);
  padding: 5px;
}

.segments div:first-child {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-top: 2px solid var(--text);
}

.segments div span {
  position: relative;
  top: 12px;
}

.sides {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-areas: ". dorsal ." "left . right" ". front .";
  justify-items: center;
  align-items: center;
  height: 150px;
  width: 150px;
  margin: auto;
  margin-left: 20px;
  position: relative;
}

.sides svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.sides svg circle,
.sides svg path {
  fill: none;
  stroke: black;
  stroke-width: 5px;
}
</style>
